@use "../../../_utils/utils" as *;

/// Edit Size
/// This function modifies elements styles based on the field size
///
/// @type modifier
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin edit-size($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		@include block($block) {
			margin: $layout-spacing-content-sm 0;

			@include modifier(sm) {
				@include modifies-element(label) {
					font-size: $form-field-label-font-size-sm;
					line-height: $form-field-label-font-height-sm;
					letter-spacing: $form-field-label-font-spacing-sm;
				}

				@include modifies-element(helper) {
					font-size: $form-field-helper-font-size-sm;
					line-height: $form-field-helper-font-height-sm;
					letter-spacing: $form-field-helper-font-spacing-sm;
				}
			}
		}
	}
}
