@use "sass:map";

@use "../../../_utils/utils" as *;

/// Build file pick element
///
/// @type block
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-pick($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		// Block wrapper.
		@include block($block) {
			@include element(pick) {
				display: inline-flex;
				align-items: center;
				cursor: pointer;
				background: $color-extended-neutral-95;
				border: $uploader-border-width dashed $uploader-border-color;
				border-radius: $uploader-border-radius;
				gap: $uploader-spacing-vertical;
				padding: $uploader-spacing-vertical $uploader-spacing-horizontal;
				color: $uploader-font-color;

				@include modifier(label) {
					font-weight: $font-weight-md;
				}

				@include modifier(icon) {
					align-items: center;
					display: flex;
					margin-left: $uploader-icon-spacing-horizontal;
				}
			}
		}
	}

	// DIR: Left to right.
	// THEME: Dark.
	@include sui-class($rtl: false, $theme: dark) {
		// Block wrapper.
		@include block($block) {
			@include element(pick) {
				border-color: $color-extended-neutral-0;
				color: $color-extended-neutral-0;
			}
		}
	}
}
