/// Main Colors.
/// @author WPMU DEV
///
/// @since 1.0.0
$palette-main: (
	primary: (
		10: #081630,
		30: #184291,
		50: #286ef1,
		70: #d5e3fd,
		90: #eaf1fe,
	),
	neutral: (
		10: #1a1a1a,
		50: #505050,
		60: #737373,
		70: #aaaaaa,
		80: #e6e6e6,
		90: #f2f2f2,
		95: #f8f8f8,
		100: #ffffff,
	),
);
