@use "sass:map";

@use "../../../_utils/utils" as *;

/// State pro
/// This function creates styles for select pro state
///
/// @type modifier
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin state-pro($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		@include block($block) {
			@include modifier(pro) {
				background: var(--color-nutral-grey-95, #f8f8f8);
			}
		}
	}
}
