@use "sass:map";

@use "../../../_utils/utils" as *;

/// Build Rich Text Editor
///
/// @type block
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-rich-text-editor($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		// Block wrapper.
		@include block($block) {
			@include element(tinymce) {
				border: $border-width-sm solid $color-grey-10;

				.tox-statusbar,
				.tox-anchorbar {
					display: none;
				}

				.tox-toolbar__group {
					padding: 0;
				}

				.tox-toolbar__primary {
					background: none;
				}

				.tox-editor-container {
					.tox-editor-header {
						box-shadow: unset;
						border-bottom: $border-width-sm solid $color-grey-10;
						padding: 0;
					}
				}

				.tox-tbtn {
					cursor: pointer;
					width: $spacing-2xl !important;
					height: $spacing-2xl;
					margin: $spacing-sm;

					@include media(max-width, sm) {
						margin: 3px;
					}

					&.tox-tbtn--enabled,
					&.tox-tbtn--enabled:hover,
					&:hover,
					&:active {
						background: $color-grey-05;
					}

					&:focus {
						outline: $border-width-sm solid $color-base-black;
						background: $color-base-white;
					}

					svg {
						fill: $color-base-black;
					}
				}
			}
		}
	}

	// DIR: Left to right.
	// THEME: Dark.
	@include sui-class($rtl: false, $theme: dark) {
		// Block wrapper.
		@include block($block) {
			@include element(tinymce) {
				border-color: $color-base-black;

				.tox-editor-container {
					.tox-editor-header {
						border-color: $color-base-black;
					}
				}

				.tox-tbtn {
					&.tox-tbtn--enabled,
					&.tox-tbtn--enabled:hover,
					&:hover {
						background: $color-base-black;

						svg {
							fill: $color-base-white;
						}
					}

					&:focus {
						background: $color-base-white;
					}
				}
			}
		}
	}

	// DIR: Right to left.
	// THEME: None.
	@include sui-class($rtl: true, $theme: null) {
		// Block wrapper.
		@include block($block) {
			@include element(tinymce) {
				.tox-toolbar__group {
					margin-left: auto;
				}
			}
		}
	}
}
