@use "sass:map";

@use "../../../_utils/utils" as *;

/// Build Content
/// This function creates styles for the element
/// main wrapper.
/// @type block
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-content($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		// Block wrapper.
		@include block($block) {
			@include element(content) {
				padding: $spacing-md 0 $spacing-sm;
			}
		}
	}
}
