@use "sass:math";
@use "../../../_utils/utils" as *;

/// Build Container
///
/// @type block
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-container($block) {
    // DIR: Left to right.
    // THEME: None.
    @include sui-class($rtl: false, $theme: null) {
        @include block($block) {
            align-items: flex-start;
            border-radius: $border-radius-md;
            max-width: $upsell-size-width;
            padding: $spacing-xxl;

            @include media(max-width, md) {
                padding: $spacing-xxl $spacing-xl;
            }

            @include media(max-width, sm) {
                max-width: 100%;
                padding: $spacing-xl $spacing-lg;
            }
        }
    }
}
