@use "sass:math";
@use "../../../_utils/utils" as *;

/// Build Header
///
/// @type element
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-header($block) {
    // DIR: Left to right.
    // THEME: None.
    @include sui-class($rtl: false, $theme: null) {
        @include block($block) {
            @include element(header) {
                align-items: center;
                display: flex;
                gap: 8px;
                margin-bottom: 16px;
            }

            @include element(header-title) {
                font: 500 16px/24px $font-family-default;
                margin: 0;
            }
        }
    }
}
