@use "sass:map";

@use "../../../_utils/utils" as *;

/// Build Template Checked
///
/// @type block
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-checked($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		@include block($block) {
			@include modifier(checked) {
				box-shadow: 0 0 0 $border-width-md $color-primary-50;
			}
		}
	}

	// DIR: Left to right.
	// THEME: Dark.
	@include sui-class($rtl: false, $theme: dark) {
		@include block($block) {
			@include modifier(checked) {
				box-shadow: 0 0 0 $border-width-md $color-base-black;
			}
		}
	}
}
