@use "sass:map";

@use "../../../_utils/utils" as *;

/// Build trigger button
///
/// @type block
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-trigger($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		// Block wrapper.
		@include block($block) {
			@include element(trigger) {
				cursor: pointer;
				display: inline-flex;
			}
		}
	}
}
