$font-family: "sui-icons" !default;
$font-path: "../fonts" !default;
$font-code: "pgb4ck" !default;

$font-size: (
	sm: 12px,
	md: 16px,
	lg: 24px
);

$suicons: (
	image: "\e91b",
	images: "\e91c",
	file: "\e91d",
	file-check: "\e91e",
	file-code: "\e91f",
	file-zip: "\e920",
	desktop: "\e921",
	mobile: "\e922",
	folder-close: "\e923",
	folder-open: "\e924",
	globe: "\e925",
	like: "\e926",
	like-alt: "\e927",
	dislike: "\e928",
	dislike-alt: "\e929",
	user: "\e92a",
	user-alt: "\e92b",
	edit: "\e92c",
	tutorials: "\e92d",
	docs: "\e92e",
	tools: "\e92f",
	config: "\e930",
	bell: "\e931",
	plugin: "\e932",
	lifesaver: "\e933",
	compress-alt: "\e934",
	calendar: "\e935",
	cart: "\e936",
	rss: "\e938",
	external-link: "\e96f",
	key: "\e970",
	copy: "\e971",
	tag: "\e972",
	clock: "\e973",
	code: "\e937",
	server: "\e939",
	search: "\e93a",
	menu: "\e93b",
	emoji: "\e93c",
	facebook: "\e93d",
	instagram: "\e93e",
	twitter: "\e93f",
	arrow-up: "\e940",
	arrow-down: "\e941",
	arrow-left: "\e942",
	arrow-right: "\e943",
	chevron-up: "\e944",
	chevron-down: "\e945",
	chevron-left: "\e946",
	chevron-right: "\e947",
	caret-up: "\e948",
	caret-down: "\e949",
	caret-left: "\e94a",
	caret-right: "\e94b",
	rotate-left: "\e94c",
	rotate-right: "\e94d",
	exit: "\e94e",
	spinner-alt: "\e94f",
	spinner: "\e950",
	grip: "\e951",
	close: "\e952",
	close-alt: "\e953",
	add: "\e954",
	upload: "\e955",
	compress: "\e956",
	settings: "\e957",
	refresh: "\e958",
	trash: "\e959",
	trash-alt: "\e95a",
	fullscreen: "\e95b",
	stop: "\e95c",
	save: "\e95d",
	cloud-add: "\e95e",
	more: "\e95f",
	download: "\e960",
	filter: "\e961",
	power-off: "\e962",
	show: "\e963",
	hide: "\e964",
	lock: "\e965",
	lock-alt: "\e966",
	submit: "\e967",
	roadmap: "\e96e",
	check: "\e968",
	check-alt: "\e969",
	info: "\e96a",
	info-alt: "\e96b",
	question: "\e96c",
	warning: "\e96d",
	chart: "\e908",
	chart-alt: "\e90f",
	video: "\e910",
	link: "\e911",
	shield: "\e912",
	shield-check: "\e913",
	form: "\e914",
	performance: "\e915",
	email: "\e916",
	package: "\e917",
	package-check: "\e918",
	cloud: "\e919",
	plugin-beehive: "\e900",
	plugin-blc: "\e901",
	plugin-branda: "\e902",
	plugin-dashboard: "\e903",
	plugin-defender: "\e904",
	plugin-forminator: "\e905",
	plugin-hummingbird: "\e906",
	plugin-hustle: "\e907",
	plugin-ivt: "\e909",
	plugin-shipper: "\e90a",
	plugin-smartcrawl: "\e90b",
	plugin-smush: "\e90c",
	plugin-snapshot: "\e90d",
	hub: "\e91a",
	logo: "\e90e",
);
