@use "../../../_utils/utils" as *;

/// Edit Focus
///
/// @type state
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin edit-focus($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		@include block($block) {
			@include modifier(focus) {
				@include modifies-element(pick) {
					background: $color-base-white;
					color: $color-grey-90;
					border-color: $color-grey-90;
					border-style: solid;
				}
			}
		}
	}
}
