@use "sass:map";

@use "../../../_utils/utils" as *;

/// Build Score size
///
/// @type modifier
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-size($block) {
	// DIR: Left to right.
	// THEME: Light.
	@include sui-class($rtl: false, $theme: null) {
		// Block wrapper.
		@include block($block) {
			height: $score-size-height-sm;
			// Size large
			@include modifier(lg) {
				position: relative;
				display: inline-block;
				height: $score-size-height-lg;
				font-size: $score-font-size-lg;
				line-height: $score-font-height-lg;
				font-weight: $score-font-weight-bold;

				.sui-#{$block}--content {
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					margin: 0;

					max-width: $score-size-width;
				}

				.sui-#{$block}--percentage {
					font-size: $score-font-size-md;
					line-height: $score-font-height-md;
				}
			}
		}
	}
}
