@use "sass:map";

@use "../../../_utils/utils" as *;

/// Build Code snippet
///
/// @type block
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-code-snippet($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		// Block wrapper.
		@include block($block) {
			position: relative;

			pre {
				min-height: $code-snippet-height;
				overflow: auto;
				margin: 0;
				padding: $spacing-lg;
				border: $border-width-sm solid $color-grey-05;
				border-radius: $border-radius-sm;
				background: $color-grey-02;
			}
		}
	}

	// DIR: Left to right.
	// THEME: Dark.
	@include sui-class($rtl: false, $theme: dark) {
		// Block wrapper.
		@include block($block) {
			pre {
				border-color: $color-base-black;
				background: $color-base-white;
			}
		}
	}
}
