@use "sass:map";

@use "../../../_utils/utils" as *;
@use "../_utils/colors" as *;

/// Build Tag Colors
///
/// @type block
/// @author WPMU DEV
///
/// @param {String} $block-name - Main block name
@mixin build-color($block-name) {
	// DIR: Left to right.
	// THEME: Light.
	@include sui-class($rtl: false, $theme: light) {
		@include block($block-name) {
			// Variation: Semantic
			@each $name, $value in $semantic-colors {
				@if $name == default {
					background: $value;
					color: $color-extended-neutral-100;
				}
				@else {
					@include modifier($name) {
						background: $value;
						@if $name == yellow or $name == white {
							color: $color-extended-neutral-10;
						}
					}
				}
			}

			// Variation: Structured
			@each $name, $value in $structured-colors {
				@include modifier($name) {
					border-color: $value;
					background: transparent;
					color: $value;
				}
			}
		}
	}
}
