@use "sass:map";

@use "../../../_utils/utils" as *;

/// Table Selection
///
/// @type modifier
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-selection($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		// Block wrapper.
		@include block($block) {
			@include element(cell) {
				@include modifier(selection) {
					text-align: center;
					width: 1px; // This fixes a spacing issue in safari
				}
			}
		}
	}
}
