@use "../../../_utils/utils" as *;

/// Table status
///
/// @type modifier
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-status($block) {
	@include sui-class($rtl: false, $theme: null) {
		@include block($block) {
			@include element(body) {
				.sui-#{$block}__row {
					@include modifier(info) {
						> td:first-child::after {
							background: $color-primary-50;
						}
					}

					@include modifier(success) {
						> td:first-child::after {
							background: $color-green-50;
						}
					}

					@include modifier(warning) {
						> td:first-child::after {
							background: $color-yellow-50;
						}
					}

					@include modifier(error) {
						> td:first-child::after {
							background: $color-red-50;
						}
					}
				}
			}
		}
	}

	@include sui-class($rtl: false, $theme: dark) {
		@include block($block) {
			@include element(body) {
				.sui-#{$block}__row {
					@include modifier(info, success, warning, error) {
						> td:first-child::after {
							background: $color-base-black;
						}
					}
				}
			}
		}
	}
}
