@charset "UTF-8";

/**
 * SUI Icons Pack, 3.0.0
 * Created by WPMU DEV
 * https://github.com/wpmudev/sui-icons/
 * GPL-3.0 License
 */
@font-face {
  font-family: 'sui-icons';
  src:  url('./sui-icons.eot?yg6yp8');
  src:  url('./sui-icons.eot?yg6yp8#iefix') format('embedded-opentype'),
    url('./sui-icons.ttf?yg6yp8') format('truetype'),
    url('./sui-icons.woff?yg6yp8') format('woff'),
    url('./sui-icons.svg?yg6yp8#sui-icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.sui-icons {
  /* Load font as !important to prevent compat issues */
  font-family: 'sui-icons' !important;

  /* Better Font Rendering ========================== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Basic styles =================================== */
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-decoration: none;
  text-transform: none;
  line-height: 1;
}

.sui-icons--plugin-beehive:before {
  content: "\e900";
}
.sui-icons--plugin-branda:before {
  content: "\e901";
}
.sui-icons--plugin-blc:before {
  content: "\e902";
}
.sui-icons--plugin-defender:before {
  content: "\e903";
}
.sui-icons--plugin-forminator:before {
  content: "\e904";
}
.sui-icons--plugin-hub:before {
  content: "\e905";
}
.sui-icons--plugin-hummingbird:before {
  content: "\e906";
}
.sui-icons--plugin-hustle:before {
  content: "\e907";
}
.sui-icons--plugin-ivt:before {
  content: "\e908";
}
.sui-icons--plugin-shipper:before {
  content: "\e909";
}
.sui-icons--plugin-smartcrawl:before {
  content: "\e90a";
}
.sui-icons--plugin-smush:before {
  content: "\e90b";
}
.sui-icons--plugin-snapshot:before {
  content: "\e90c";
}
.sui-icons--plugin-dashboard:before {
  content: "\e90d";
}
