@font-face {
  font-family: 'sui-icons';
  src:  url('./fonts/sui-icons.eot?clui59');
  src:  url('./fonts/sui-icons.eot?clui59#iefix') format('embedded-opentype'),
    url('./fonts/sui-icons.ttf?clui59') format('truetype'),
    url('./fonts/sui-icons.woff?clui59') format('woff'),
    url('./fonts/sui-icons.svg?clui59#sui-icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.sui-icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'sui-icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sui-icon--image:before {
  content: "\e91b";
}
.sui-icon--images:before {
  content: "\e91c";
}
.sui-icon--file:before {
  content: "\e91d";
}
.sui-icon--file-check:before {
  content: "\e91e";
}
.sui-icon--file-code:before {
  content: "\e91f";
}
.sui-icon--file-zip:before {
  content: "\e920";
}
.sui-icon--desktop:before {
  content: "\e921";
}
.sui-icon--mobile:before {
  content: "\e922";
}
.sui-icon--folder-close:before {
  content: "\e923";
}
.sui-icon--folder-open:before {
  content: "\e924";
}
.sui-icon--globe:before {
  content: "\e925";
}
.sui-icon--like:before {
  content: "\e926";
}
.sui-icon--like-alt:before {
  content: "\e927";
}
.sui-icon--dislike:before {
  content: "\e928";
}
.sui-icon--dislike-alt:before {
  content: "\e929";
}
.sui-icon--user:before {
  content: "\e92a";
}
.sui-icon--user-alt:before {
  content: "\e92b";
}
.sui-icon--edit:before {
  content: "\e92c";
}
.sui-icon--tutorials:before {
  content: "\e92d";
}
.sui-icon--docs:before {
  content: "\e92e";
}
.sui-icon--tools:before {
  content: "\e92f";
}
.sui-icon--config:before {
  content: "\e930";
}
.sui-icon--bell:before {
  content: "\e931";
}
.sui-icon--plugin:before {
  content: "\e932";
}
.sui-icon--lifesaver:before {
  content: "\e933";
}
.sui-icon--compress-alt:before {
  content: "\e934";
}
.sui-icon--calendar:before {
  content: "\e935";
}
.sui-icon--cart:before {
  content: "\e936";
}
.sui-icon--rss:before {
  content: "\e938";
}
.sui-icon--code:before {
  content: "\e937";
}
.sui-icon--server:before {
  content: "\e939";
}
.sui-icon--search:before {
  content: "\e93a";
}
.sui-icon--menu:before {
  content: "\e93b";
}
.sui-icon--emoji:before {
  content: "\e93c";
}
.sui-icon--facebook:before {
  content: "\e93d";
}
.sui-icon--instagram:before {
  content: "\e93e";
}
.sui-icon--twitter:before {
  content: "\e93f";
}
.sui-icon--arrow-up:before {
  content: "\e940";
}
.sui-icon--arrow-down:before {
  content: "\e941";
}
.sui-icon--arrow-left:before {
  content: "\e942";
}
.sui-icon--arrow-right:before {
  content: "\e943";
}
.sui-icon--chevron-up:before {
  content: "\e944";
}
.sui-icon--chevron-down:before {
  content: "\e945";
}
.sui-icon--chevron-left:before {
  content: "\e946";
}
.sui-icon--chevron-right:before {
  content: "\e947";
}
.sui-icon--caret-up:before {
  content: "\e948";
}
.sui-icon--caret-down:before {
  content: "\e949";
}
.sui-icon--caret-left:before {
  content: "\e94a";
}
.sui-icon--caret-right:before {
  content: "\e94b";
}
.sui-icon--rotate-left:before {
  content: "\e94c";
}
.sui-icon--rotate-right:before {
  content: "\e94d";
}
.sui-icon--exit:before {
  content: "\e94e";
}
.sui-icon--spinner-alt:before {
  content: "\e94f";
}
.sui-icon--spinner:before {
  content: "\e950";
}
.sui-icon--grip:before {
  content: "\e951";
}
.sui-icon--close:before {
  content: "\e952";
}
.sui-icon--close-alt:before {
  content: "\e953";
}
.sui-icon--add:before {
  content: "\e954";
}
.sui-icon--upload:before {
  content: "\e955";
}
.sui-icon--compress:before {
  content: "\e956";
}
.sui-icon--settings:before {
  content: "\e957";
}
.sui-icon--refresh:before {
  content: "\e958";
}
.sui-icon--trash:before {
  content: "\e959";
}
.sui-icon--trash-alt:before {
  content: "\e95a";
}
.sui-icon--fullscreen:before {
  content: "\e95b";
}
.sui-icon--stop:before {
  content: "\e95c";
}
.sui-icon--save:before {
  content: "\e95d";
}
.sui-icon--cloud-add:before {
  content: "\e95e";
}
.sui-icon--more:before {
  content: "\e95f";
}
.sui-icon--download:before {
  content: "\e960";
}
.sui-icon--filter:before {
  content: "\e961";
}
.sui-icon--power-off:before {
  content: "\e962";
}
.sui-icon--show:before {
  content: "\e963";
}
.sui-icon--hide:before {
  content: "\e964";
}
.sui-icon--lock:before {
  content: "\e965";
}
.sui-icon--lock-alt:before {
  content: "\e966";
}
.sui-icon--submit:before {
  content: "\e967";
}
.sui-icon--check:before {
  content: "\e968";
}
.sui-icon--check-alt:before {
  content: "\e969";
}
.sui-icon--info:before {
  content: "\e96a";
}
.sui-icon--info-alt:before {
  content: "\e96b";
}
.sui-icon--question:before {
  content: "\e96c";
}
.sui-icon--warning:before {
  content: "\e96d";
}
.sui-icon--chart:before {
  content: "\e908";
}
.sui-icon--chart-alt:before {
  content: "\e90f";
}
.sui-icon--video:before {
  content: "\e910";
}
.sui-icon--link:before {
  content: "\e911";
}
.sui-icon--shield:before {
  content: "\e912";
}
.sui-icon--shield-check:before {
  content: "\e913";
}
.sui-icon--form:before {
  content: "\e914";
}
.sui-icon--performance:before {
  content: "\e915";
}
.sui-icon--email:before {
  content: "\e916";
}
.sui-icon--package:before {
  content: "\e917";
}
.sui-icon--package-check:before {
  content: "\e918";
}
.sui-icon--cloud:before {
  content: "\e919";
}
.sui-icon--plugin-beehive:before {
  content: "\e900";
}
.sui-icon--plugin-blc:before {
  content: "\e901";
}
.sui-icon--plugin-branda:before {
  content: "\e902";
}
.sui-icon--plugin-dashboard:before {
  content: "\e903";
}
.sui-icon--plugin-defender:before {
  content: "\e904";
}
.sui-icon--plugin-forminator:before {
  content: "\e905";
}
.sui-icon--plugin-hummingbird:before {
  content: "\e906";
}
.sui-icon--plugin-hustle:before {
  content: "\e907";
}
.sui-icon--plugin-ivt:before {
  content: "\e909";
}
.sui-icon--plugin-shipper:before {
  content: "\e90a";
}
.sui-icon--plugin-smartcrawl:before {
  content: "\e90b";
}
.sui-icon--plugin-smush:before {
  content: "\e90c";
}
.sui-icon--plugin-snapshot:before {
  content: "\e90d";
}
.sui-icon--hub:before {
  content: "\e91a";
}
.sui-icon--logo:before {
  content: "\e90e";
}
