@font-face {
  font-family: 'sui-icons';
  src:  url('./sui-icons.eot?yg6yp8');
  src:  url('./sui-icons.eot?yg6yp8#iefix') format('embedded-opentype'),
    url('./sui-icons.ttf?yg6yp8') format('truetype'),
    url('./sui-icons.woff?yg6yp8') format('woff'),
    url('./sui-icons.svg?yg6yp8#sui-icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.sui-icons {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'sui-icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sui-icons--beehive:before {
  content: "\e900";
}
.sui-icons--branda:before {
  content: "\e901";
}
.sui-icons--broken-link-checker:before {
  content: "\e902";
}
.sui-icons--defender:before {
  content: "\e903";
}
.sui-icons--forminator:before {
  content: "\e904";
}
.sui-icons--hub:before {
  content: "\e905";
}
.sui-icons--hummingbird:before {
  content: "\e906";
}
.sui-icons--hustle:before {
  content: "\e907";
}
.sui-icons--integrated-video-tutorials:before {
  content: "\e908";
}
.sui-icons--shipper:before {
  content: "\e909";
}
.sui-icons--smartcrawl:before {
  content: "\e90a";
}
.sui-icons--smush:before {
  content: "\e90b";
}
.sui-icons--snapshot:before {
  content: "\e90c";
}
.sui-icons--wpmudev-dashboard:before {
  content: "\e90d";
}
