@use "sass:math";
@use "../../../_utils/utils" as *;

/// Build Container
///
/// @type block
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-container($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		@include block($block) {
			position: relative;
			background: $color-extended-neutral-100;

			.sui-#{$block}__input-field {
				border: $border-width-sm solid $color-extended-neutral-70;
				border-radius: $border-radius-sm;

				&:after {
					content: "";
					position: absolute;
					inset: -#{$border-width-md};
					pointer-events: none;
				}
			}
		}
	}

	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: dark) {
		@include block($block) {
			.sui-#{$block}__input-field {
				border-color: $color-extended-neutral-0;
			}
		}
	}
}
