@use "../../../_utils/utils" as *;

/// Active State
///
/// @type state
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin state-active($block) {
	// DIR: Left to Right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		@include block($block) {
			@include element(panel-item) {
				@include modifier(active) {
					display: block;
				}
			}

			@include element(nav-item) {
				@include modifier(active) {
					border-color: $tabs-color-active;
					color: $tabs-color-active;
				}
			}
		}
	}

	// DIR: Left to Right.
	// THEME: Dark.
	@include sui-class($rtl: false, $theme: dark) {
		@include block($block) {
			@include element(nav-item) {
				@include modifier(active) {
					border-color: $color-extended-neutral-0;
					color: $color-extended-neutral-0;
				}
			}
		}
	}
}
