@use "../../../_utils/utils" as *;

/// Disabled State
///
/// @type state
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin state-disabled($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		@include block($block) {
			@include element(nav-item) {
				@include modifier(disabled) {
					pointer-events: none;
					user-select: none;
					color: $tabs-color-disabled;

					svg {
						color: $tabs-color-disabled;
					}

					.sui-tag {
						color: $tabs-color-disabled;
						border-color: $tabs-color-disabled;
					}
				}
			}
		}
	}

	// DIR: Left to right.
	// THEME: Dark.
	@include sui-class($rtl: false, $theme: dark) {
		@include block($block) {
			@include element(nav-item) {
				@include modifier(disabled) {
					.sui-tag {
						color: $color-extended-neutral-100;
						border-color: $color-extended-neutral-0;
					}
				}
			}
		}
	}
}
