@use "sass:map";

@use "../../../_utils/utils" as *;

/// Build Table cell
/// This function creates styles for the element
/// main wrapper.
/// @type block
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-table-cell($block) {
    // DIR: Left to right.
    // THEME: None.
    @include sui-class($rtl: false, $theme: null) {
        // Block wrapper.
        @include block($block) {
            @include element(cell) {
                border: none;
                overflow: hidden;
                padding: $spacing-lg;
                text-align: left;
                text-overflow: ellipsis;
                white-space: nowrap;

                @include modifier(drag) {
                    cursor: grab;
                    left: 0;
                    position: absolute;
                    top: 50%;
                    transform: translate(50%, -$spacing-md);
                }

                @include modifier(actions) {
                    align-items: center;
                    display: flex;
                    justify-content: flex-end;

                    .sui-button {
                        margin: 0 $spacing-sm;

                        &:first-child {
                            margin-left: 0;
                        }

                        &:last-child {
                            margin-right: 0;
                        }
                    }
                }

                &:first-child {
                    padding-left: $spacing-xxl;
                    padding-right: $spacing-md;
                }

                &:last-child {
                    padding-right: $spacing-xxl;
                }

                @include modifier(sticky) {
                    background-color: $color-extended-neutral-100;
                    border-right: $border-width-md solid $color-extended-neutral-80;
                    left: calc( 70px - 2px);
                    position: sticky;
                    width: 100px;

                    &.sui-#{$block}__cell--selection {
                        border-right: 0;
                        left: 0;
                    }

                    &.sui-#{$block}__cell--actions {
                        border-right: 0;
                        border-left: $border-width-md solid $color-extended-neutral-80;
                        left: auto;
                        right: 0;
                        width: auto;
                    }
                }

                @include modifier(trim) {
                    div {
                        max-width: 380px;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }
            }

            @include element(cell-btn) {
                align-items: center;
                cursor: pointer;
                display: inline-flex;
                gap: 6px;

                @include modifier(focused) {
                    border-radius: $border-radius-sm;
                    box-shadow: 0 0 0 2px #286EF1;
                }
            }
        }
    }

    // DIR: Left to right.
    // THEME: Dark.
    @include sui-class($rtl: false, $theme: dark) {
        // Block wrapper.
        @include block($block) {
            @include element(cell) {

                @include modifier(sticky) {
                    border-color: $color-extended-neutral-0;

                    &.sui-#{$block}__cell--actions {
                        border-color: $color-extended-neutral-0;
                    }
                }
            }
        }
    }

    // DIR: Left to right.
    // THEME: Dark.
    @include sui-class($rtl: true, $theme: null) {
        // Block wrapper.
        @include block($block) {
            @include element(cell) {

                @include modifier(drag) {
                    right: 0;
                    left: auto;
                    transform: translate(-50%, -$spacing-md);
                }

                &:first-child {
                    padding-right: $spacing-xxl;
                    padding-left: $spacing-md;
                }

                &:last-child {
                    padding-right: $spacing-lg;
                    padding-left: $spacing-xxl;
                }
            }
        }
    }
}
