@use "sass:map";

@use "../../../_utils/utils" as *;

/// Build Table cell
/// This function creates styles for the element
/// main wrapper.
/// @type block
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-table-cell($block) {
    // DIR: Left to right.
    // THEME: None.
    @include sui-class($rtl: false, $theme: null) {
        // Block wrapper.
        @include block($block) {
            @include element(cell) {
                border: none;
                padding: 16px;
                text-align: left;

                @include modifier(drag) {
                    cursor: grab;
                    left: 0;
                    position: absolute;
                    top: 50%;
                    transform: translate(50%, -8px);
                }

                @include modifier(actions) {
                    text-align: right;

                    .sui-button {
                        margin: 0 4px;

                        &:first-child {
                            margin-left: 0;
                        }

                        &:last-child {
                            margin-right: 0;
                        }
                    }
                }

                &:first-child {
                    padding-left: 32px;
                    padding-right: 8px;
                }

                &:last-child {
                    padding-right: 32px;
                }
            }
        }
    }

    // DIR: Left to right.
    // THEME: Dark.
    @include sui-class($rtl: true, $theme: null) {
        // Block wrapper.
        @include block($block) {
            @include element(cell) {

                @include modifier(drag) {
                    right: 0;
                    left: auto;
                    transform: translate(-50%, -8px);
                }

                &:first-child {
                    padding-right: 32px;
                    padding-left: 8px;
                }

                &:last-child {
                    padding-right: 16px;
                    padding-left: 32px;
                }
            }
        }
    }
}
