@use "sass:map";

@use "../../../_utils/utils" as *;

/// Build Table head
/// This function creates styles for the element
/// main wrapper.
/// @type block
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-table-head($block) {
    // DIR: Left to right.
    // THEME: None.
    @include sui-class($rtl: false, $theme: null) {
        // Block wrapper.
        @include block($block) {
            @include element(head) {
                td, th {
                    font-weight: $font-weight-md;
                    color: $color-extended-neutral-10;
                }
            }
        }
    }

     // DIR: Left to right.
    // THEME: Dark.
    @include sui-class($rtl: false, $theme: dark) {
        // Block wrapper.
        @include block($block) {
            @include element(head) {
                td, th {
                    color: $color-extended-neutral-0;
                }
            }
        }
    }
}
