@use "sass:map";

@use "../../../_utils/utils" as *;

/// Build Table cell
/// This function creates styles for the element
/// main wrapper.
/// @type block
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-table-cell($block) {
    // DIR: Left to right.
    // THEME: None.
    @include sui-class($rtl: false, $theme: null) {
        // Block wrapper.
        @include block($block) {
            @include element(cell) {
                border: none;
                padding: $spacing-lg;
                text-align: left;
                white-space: nowrap;

                @include media(max-width, sm){
                    display: none;
                    padding: $spacing-lg $spacing-md;

                    @include modifier(actions, primary, selection) {
                        display: table-cell;
                    }
                }

                @include modifier(selection) {
                    .sui-checkbox__box {
                        margin-right: 0;
                    }
                }

                @include modifier(drag) {
                    cursor: grab;
                    left: 0;
                    position: absolute;
                    top: 50%;
                    transform: translate(50%, -$spacing-md);
                }

                @include modifier(actions) {
                    align-items: center;
                    display: flex;
                    justify-content: flex-end;

                    .sui-button {
                        margin: 0 $spacing-sm;

                        &:first-child {
                            margin-left: 0;
                        }

                        &:last-child {
                            margin-right: 0;
                        }
                    }
                }

                &:first-child {
                    padding-left: $spacing-xxl;
                    padding-right: $spacing-md;

                    @include media(max-width, sm) {
                        padding-left: $spacing-lg;
                    }
                }

                &:last-child {
                    padding-right: $spacing-xxl;

                    @include media(max-width, sm) {
                        padding-right: $spacing-lg;
                    }
                }

                @include modifier(sticky) {
                    background-color: $color-extended-neutral-100;
                    border-right: $border-width-md solid $color-extended-neutral-80;
                    left: calc(62px - $border-width-md);
                    position: sticky;
                    width: $table-width-xs;

                    @include media(max-width, sm){
                        position: unset;
                        border: none;
                    }

                    &.sui-#{$block}__cell--selection {
                        border-right: 0;
                        left: 0;
                    }

                    &.sui-#{$block}__cell--actions {
                        border-right: 0;
                        border-left: $border-width-md solid $color-extended-neutral-80;
                        left: auto;
                        right: 0;
                        width: auto;

                        @include media(max-width, sm){
                            border: none;
                        }
                    }
                }

                @include modifier(trim) {
                    text-overflow: ellipsis;
                    overflow: hidden;
                    div {
                        max-width: $table-width-lg;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }
            }

            @include modifier(draggable) {
                @include modifies-element(cell) {
                    &:first-child {
                        @include media(max-width, sm) {
                            padding-left: $spacing-xxl;
                        }
                    }
                }
            }

            @include element(cell-btn) {
                align-items: center;
                cursor: pointer;
                display: inline-flex;
                gap: $table-spacing-sm;

                @include modifier(focused) {
                    border-radius: $border-radius-sm;
                    box-shadow: 0 0 0 $border-width-md $color-primary-50;
                }
            }
        }
    }

    // DIR: Left to right.
    // THEME: Dark.
    @include sui-class($rtl: false, $theme: dark) {
        // Block wrapper.
        @include block($block) {
            @include element(cell) {

                @include modifier(sticky) {
                    border-color: $color-extended-neutral-0;

                    &.sui-#{$block}__cell--actions {
                        border-color: $color-extended-neutral-0;
                    }
                }
            }
        }
    }

    // DIR: Left to right.
    // THEME: Dark.
    @include sui-class($rtl: true, $theme: null) {
        // Block wrapper.
        @include block($block) {
            @include element(cell) {
                text-align: right;

                @include modifier(drag) {
                    right: 0;
                    left: auto;
                    transform: translate(-50%, -$spacing-md);
                }

                @include modifier(selection) {
                    .sui-checkbox__box {
                        margin-left: 0;
                    }
                }

                &:first-child {
                    padding-right: $spacing-xxl;
                    padding-left: $spacing-md;

                    @include media(max-width, sm) {
                        padding-right: $spacing-lg;
                        padding-left: $spacing-lg;
                    }
                }

                &:last-child {
                    padding-right: $spacing-lg;
                    padding-left: $spacing-xxl;

                    @include media(max-width, sm) {
                        padding-right: $spacing-lg;
                        padding-left: $spacing-lg;
                    }
                }

                @include modifier(sticky) {
                    right: calc(62px - $border-width-md);
                    left: unset;
                    border-left: $border-width-md solid $color-extended-neutral-80;
                    border-right: 0;

                    @include media(max-width, sm) {
                        border: none;
                    }

                    &.sui-#{$block}__cell--selection {
                        border-left: 0;
                        right: 0;
                        left: unset;
                    }

                    &.sui-#{$block}__cell--actions {
                        border-left: 0;
                        border-right: $border-width-md solid $color-extended-neutral-80;
                        right: auto;
                        left: 0;

                        @include media(max-width, sm) {
                            border: none;
                        }
                    }
                }
            }

            @include modifier(draggable) {
                @include modifies-element(cell) {
                    &:first-child {
                        @include media(max-width, sm) {
                            padding-right: $spacing-xxl;
                        }
                    }
                }
            }
        }
    }
}
