@use "sass:math";
@use "../../../_utils/utils" as *;

/// Build Container
///
/// @type block
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-container($block) {
    // DIR: Left to right.
    // THEME: None.
    @include sui-class($rtl: false, $theme: null) {
        @include block($block) {
            align-items: flex-start;
            display: flex;
            height: 100vh;
            justify-content: center;
            left: 0;
            overflow: auto;
            overscroll-behavior-y: none;
            padding: $modal-spacing-lg 0;
            position: fixed;
            top: 0;
            transition-duration: 0.4s;
            visibility: hidden;
            width: 100vw;
            z-index: 999999;

            @include element(container) {
                background: $color-extended-neutral-100;
                box-shadow: 0 4px 8px 0 $color-shadow-light, 0 4px 20px 0 $color-shadow-dark, 0 12px 16px 0 $color-shadow-default;
                border-radius: $border-radius-xl;
                padding: $spacing-xxl 0;
                position: relative;
                max-width: $modal-size-width-md;
                width: 100%;
            }
        }
    }
}
