@use "sass:math";
@use "../../../_utils/utils" as *;

/// Build Action
///
/// @type element
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-body($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		@include block($block) {
			@include element(body) {
				padding: 32px;
			}
		}
	}
}
