@use "sass:math";
@use "../../../_utils/utils" as *;

/// Build Action
///
/// @type element
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-header($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		@include block($block) {
			@include element(header) {
				align-items: center;
				background: $color-extended-neutral-100;
				border-radius: $spacing-lg $spacing-lg 0 0;
				gap: $spacing-lg;
				justify-content: space-between;
				padding: 0 $spacing-xxl;
			}

			@include element(header-actions) {
				align-items: center;
				display: flex;
				gap: 15px;
				justify-content: space-between;
				width: 100%;

				h4 {
					flex: 1;
					margin: 0;
				}
			}

			// header info title
			@include element(header-info) {
				h3 {
					margin: 0;
				}
			}

			// header info content
			@include element(header-info-content) {
				margin-top: $spacing-md;
			}

			@include element(header-logo) {
				background: $color-extended-neutral-100;
				border-radius: 24px;
				box-shadow: 0 4px 8px 0 $color-shadow-light, 0 4px 20px 0 $color-shadow-dark, 0 12px 16px 0 $color-shadow-default;
				height: 64px;
				left: 0;
				top: -38px;
				margin: 0 auto;
				overflow: hidden;
				padding: $spacing-md;
				position: absolute;
				right: 0;
				width: 64px;
				z-index: 99;

				img {
					border-radius: $border-radius-xxl;
				}
			}
		}
	}
}
