@use "sass:math";
@use "../../../_utils/utils" as *;

/// Build Container
///
/// @type block
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-overlay($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		@include block($block) {
			@include element(overlay) {
				background: rgba(51,51,51,.95);
				bottom: 0;
				left: 0;
				position: fixed;
				right: 0;
				top: 0;
				z-index: 10;
			}
		}
	}
}
