@use "sass:map";

@use "../../../_utils/utils" as *;

/// Build Recipient Email
///
/// @type block
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-email($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		@include block($block) {
			@include element(email) {
				color: $color-extended-neutral-50;
				flex: 1;
			}
		}
	}

	// DIR: Left to right.
	// THEME: dark.
	@include sui-class($rtl: false, $theme: dark) {
		@include block($block) {
			@include element(email) {
				color: $color-extended-neutral-0;
			}
		}
	}
}
