@use "sass:map";

@use "../../../_utils/utils" as *;

/// Build Recipient Info
///
/// @type block
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-info($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		@include block($block) {
			@include element(info, details) {
				display: flex;
				align-items: center;
				flex: 1;
				gap: $spacing-md;
			}

			@include element(details) {
				@include media(max-width, sm) {
					flex-direction: column;
					align-items: start;
				}
			}

			@include element(info) {
				@include media(max-width, sm) {
					align-items: flex-start;
				}

				@include modifier(placeholder) {
					font-weight: $font-weight-bold;
					margin: 0;
				}
			}

			@include element(details) {
				@include media(max-width, sm) {
					gap: 0;
				}
			}
		}
	}
}
