@use "../../../_utils/utils" as *;

/// Build Tag Disabled
///
/// @type state
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-disabled($block) {
	// DIR: Left to right.
	// THEME: Light.
	@include sui-class($rtl: false, $theme: null) {
		@include block($block) {
			@include modifier(disabled) {
				background: $color-extended-neutral-80;
				color: $color-extended-neutral-70;
				border-color: $color-extended-neutral-80;
				pointer-events: none;
				user-select: none;
			}
		}
	}
}
