@use "../../../_utils/utils" as *;

@mixin edit-size($block-name) {
	@include sui-class($rtl: false, $theme: null) {
		@include block($block-name) {
			width: $notification-size-width-md;

			@include modifier(lg) {
				width: $notification-size-width-lg;

				@include media(max-width, sm) {
					width: $notification-size-width-md;
				}
			}

			@include modifier(fluid) {
				width: 100%;
			}

			@include modifier(inline) {
				@include media(max-width, sm) {
					max-width: $notification-size-width-md;
					width: 100%;
				}
			}
		}
	}
}
