@use "../../../_utils/utils" as *;

/// States
///
/// @type modifier
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin edit-states($block-name) {
	@include sui-class($rtl: false, $theme: null) {
		@include block($block-name) {
			border-color: $color-grey-50;

			@include modifier(info) {
				border-color: $color-primary-50;

				@include modifies-element(icon) {
					color: $color-primary-50;
				}
			}

			@include modifier(success) {
				border-color: $color-green-50;

				@include modifies-element(icon) {
					color: $color-green-50;
				}
			}

			@include modifier(warning) {
				border-color: $color-yellow-50;

				@include modifies-element(icon) {
					color: $color-yellow-50;
				}
			}

			@include modifier(error) {
				border-color: $color-red-50;

				@include modifies-element(icon) {
					color: $color-red-50;
				}
			}
		}
	}

	@include sui-class($rtl: false, $theme: dark) {
		@include block($block-name) {
			border-color: $color-base-black;

			@include element(icon) {
				color: $color-base-black;
			}
		}
	}
}
