@use "sass:map";

@use "../../../_utils/utils" as *;

/// Build Template Actions
///
/// @type block
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-actions($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		@include block($block) {
			@include element(actions) {
				background: $color-black-a70;
				opacity: 0;
				inset: 0;
				pointer-events: none;
				position: absolute;
				transition: ease all 0.2s;

				@include modifier(wrapper) {
					position: absolute;
					display: flex;
					gap: $spacing-md;
					flex-direction: column;
					align-items: stretch;
					justify-content: center;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
				}

				.sui-button {
					margin: 0;
				}
			}
		}
	}

	// DIR: Right to left.
	// THEME: None.
	@include sui-class($rtl: true, $theme: null) {
		@include block($block) {
			@include element(actions) {
				.sui-button {
					margin: 0;
				}
			}
		}
	}
}
