@use "sass:map";

@use "../../../_utils/utils" as *;

/// Build Template Actions
///
/// @type block
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-actions($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		@include block($block) {
			@include element(actions) {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				background: $color-black-a70;
				gap: $spacing-md;
				opacity: 0;
				pointer-events: none;
				position: absolute;
				inset: 0;
				transition: ease all 0.2s;

				.sui-button {
					margin: 0;
				}
			}
		}
	}
}
