@use "sass:map";

@use "../../../_utils/utils" as *;

/// Build Template Content
///
/// @type block
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-content($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		@include block($block) {
			@include element(content) {
				display: flex;
				flex-direction: column;
				gap: $spacing-sm;
				padding: $spacing-lg;
				border-top: $border-width-sm solid $color-grey-10;

				@include modifier(heading, body) {
					display: -webkit-box;
					line-height: $font-height-sm;
					-webkit-line-clamp: 1;
					-webkit-box-orient: vertical;
					overflow: hidden;
				}

				@include modifier(heading) {
					font-weight: $font-weight-md;
				}

				@include modifier(body) {
					-webkit-line-clamp: 2;
					margin: 0;
				}
			}
		}
	}

	// DIR: Left to right.
	// THEME: Dark.
	@include sui-class($rtl: false, $theme: dark) {
		@include block($block) {
			@include element(content) {
				border-color: $color-base-black;
			}
		}
	}
}
