@use "sass:map";

@use "../../../_utils/utils" as *;

/// Build Template Container
///
/// @type block
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-container($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		@include block($block) {
			flex: 1;
			max-width: 260px;
			border-radius: $border-radius-md;
			transition: box-shadow 0.2s ease-in-out;
			box-shadow: 0 0 0 $border-width-sm $color-grey-10;
			overflow: hidden;

			@include modifier(hover, focus) {
				box-shadow: 0px 4px 8px 0px #7373731a, 0px 2px 20px 0px #7373730d,
					0px 8px 16px 0px #73737314, 0 0 0 $border-width-md transparent; // Placeholder for selection glow
			}

			@include modifier(hover, focus) {
				.sui-template-card__actions {
					opacity: 1;
					pointer-events: all;
				}
			}

			@include modifier(checked) {
				box-shadow: 0 0 0 $border-width-md $color-primary-50,
					0px 2px 4px 0px #7373731a, 0px 1px 16px 0px #7373730d,
					0px 6px 12px 0px #73737314;
			}

			@include element(wrapper) {
				display: flex;
				gap: $spacing-xl;
			}

			@include element(hero) {
				position: relative;
				padding-top: 80%;
				height: 0;
				overflow: hidden;
				background-color: $color-grey-02;

				.sui-tag {
					position: absolute;
					right: $spacing-md;
					top: $spacing-md;
					margin: 0;
				}
			}

			@include element("hero-media", "hero-icon") {
				position: absolute;
				inset: 0;
				width: 100%;
				height: 100%;
				display: flex;
				align-items: center;
				justify-content: center;
			}

			@include element("hero-icon") {
				color: $color-grey-50;
				z-index: -1;
			}

			@include element("hero-media") {
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}

			@include element("hero-media") {
				img {
					width: auto;
					max-width: unset;
					height: 100%;
				}
			}

			@include element(actions) {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				background: $color-black-a70;
				gap: $spacing-md;
				opacity: 0;
				pointer-events: none;
				position: absolute;
				inset: 0;
				transition: ease all 0.2s;

				.sui-button {
					margin: 0;
				}
			}

			@include element(content) {
				display: flex;
				flex-direction: column;
				gap: $spacing-sm;
				padding: $spacing-lg;
				border-top: $border-width-sm solid $color-grey-10;
			}

			@include element(heading, body) {
				display: -webkit-box;
				line-height: $font-height-sm;
				-webkit-line-clamp: 1;
				-webkit-box-orient: vertical;
				overflow: hidden;
			}

			@include element(heading) {
				font-weight: $font-weight-md;
			}

			@include element(body) {
				-webkit-line-clamp: 2;
				margin: 0;
			}
		}
	}

	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: true, $theme: null) {
		@include block($block) {
		}
	}
}
