@use "sass:map";

@use "../../../_utils/utils" as *;

/// Build Content
///
/// @type block
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-content($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		@include block($block) {
			@include element(label, description) {
				user-select: none;
				margin: 0 0 0 $toggle-spacing-lg;
			}

			@include element(content) {
				width: 100%;
				@include modifier(inner) {
					margin: 0 0 0 $toggle-spacing-lg;
					padding: $spacing-2xl;
					border: $border-width-sm solid $color-grey-10;
					border-radius: $border-radius-md;
				}
			}

			@include element(label) {
				font-weight: $font-weight-md;
				font-size: $font-size-default;
				color: $color-grey-70;
			}
		}
	}

	// DIR: Right to left.
	// THEME: None.
	@include sui-class($rtl: true, $theme: null) {
		@include block($block) {
			@include element(label, description) {
				margin: 0 $toggle-spacing-lg 0 0;
			}

			@include element(content) {
				@include modifier(inner) {
					margin: 0 $toggle-spacing-lg 0 0;
				}
			}
		}
	}

	// DIR: Left to right.
	// THEME: Dark.
	@include sui-class($rtl: false, $theme: dark) {
		@include block($block) {
			@include element(label) {
				color: $color-base-black;
			}
		}
	}
}
