@use "sass:map";

@use "../../../_utils/utils" as *;

/// Build Switch
///
/// @type block
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-switch($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		@include block($block) {
			@include element(switch) {
				position: absolute;
				width: $toggle-size-width-md;
				height: $font-height-xs;
				display: flex;
				align-items: center;
				justify-content: flex-start;
				margin: $toggle-spacing-xs 0;
				padding: 0;
				border-radius: $toggle-border-radius;
				background: $color-extended-neutral-80;
				transition: 0.2s ease;

				&:before {
					content: "";
					width: $toggle-size-width-sm;
					height: $toggle-size-height-sm;
					display: block;
					margin: 0 $toggle-spacing-xs;
					border-radius: 50%;
					background: $color-extended-neutral-100;
				}
			}
		}
	}

	// DIR: Left to right.
	// THEME: Dark.
	@include sui-class($rtl: false, $theme: dark) {
		@include block($block) {
			@include element(switch) {
				background: $color-extended-neutral-100;
				box-shadow: 0 0 0 $border-width-sm $color-extended-neutral-0;

				&:before {
					background: $color-extended-neutral-0;
				}
			}
		}
	}
}
