@use "sass:math";
@use "../../../_utils/utils" as *;

/// Build Container
///
/// @type block
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-container($block) {
    // DIR: Left to right.
    // THEME: None.
    @include sui-class($rtl: false, $theme: null) {
        @include block($block) {
            align-items: flex-start;
            background-color: #FFF;
            border-radius: 16px;
            max-width: 440px;
            padding: 24px;
        }
    }
}
