@use "sass:math";
@use "../../../_utils/utils" as *;

/// Build Header
///
/// @type element
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-header($block) {
    // DIR: Left to right.
    // THEME: None.
    @include sui-class($rtl: false, $theme: null) {
        @include block($block) {
            @include element(header) {

            }

            @include element(header-title) {
                align-items: center;
                display: flex;
                gap: 16px;
                justify-content: space-between;
            }

            @include element(header-info) {
                align-items: center;
                display: flex;
                gap: 8px;

                h3 {
                    font: $font-weight-md 18px/28px $font-family-default;
                    margin: 0;
                }
            }

            @include element(header-desc) {
                color: var(--neutral-grey-50505050, #505050);
                font: $font-weight-sm 15px/24px $font-family-default;
                margin-top: 8px;
            }
        }
    }
}
