@use "sass:map";

@use "../../../_utils/tokens" as *;
@use "../../../_utils/bem" as *;
@use "../../../_utils/mixins" as *;

/// Layout Vertical Spacing.
/// This modifier creates spacing between WordPress top bar and the content.
/// @type modifier
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin spacing-vertical($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		// Block wrapper.
		@include block($block) {
			// Element wrapper.
			@include modifier(vertical) {
				margin-top: $grid-spacing-sm;

				@include media(min-width, sm) {
					margin-top: $grid-spacing-md;
				}

				@include media(min-width, lg) {
					margin-top: $grid-spacing-lg;
				}
			}
		}
	}
}
