@use "sass:map";

@use "../../../_utils/utils" as *;

/// Build Avatar Icon
///
/// @type block
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-icon($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		@include block($block) {
			@include element(icon) {
				display: flex;
				align-items: center;
				justify-content: center;

				.sui-icon {
					color: $color-grey-90;
					height: $avatar-icon-size-md;
					width: $avatar-icon-size-md;
				}
			}
		}
	}

	// DIR: Left to right.
	// THEME: Dark.
	@include sui-class($rtl: false, $theme: "dark") {
		@include block($block) {
			@include element(icon) {
				color: $color-base-black;
			}
		}
	}
}
