@use "sass:map";

$palettes: (
	"solid": (
		"gray": (
			"background": #bcbfcb,
			"color": #141934,
		),
		"blue": (
			"background": #0059ff,
			"color": #ffffff,
		),
		"yellow": (
			"background": #ffcc20,
			"color": #1a1a1a,
		),
		"green": (
			"background": #18bb4b,
			"color": #ffffff,
		),
		"red": (
			"background": #f45c59,
			"color": #ffffff,
		),
	),
	"light": (
		"gray": (
			"background": #e9eaee,
			"color": #141934,
		),
		"blue": (
			"background": #d5e3fd,
			"color": #0059ff,
		),
		"yellow": (
			"background": #fff4ce,
			"color": #5b502b,
		),
		"green": (
			"background": #baebc9,
			"color": #0c5e26,
		),
		"red": (
			"background": #fccecd,
			"color": #ab403e,
		),
	),
);

.csb-tag {
	padding: 2px 15px;
	border-radius: 100px;
	background: #bcbfcb;
	color: #141934;
	font-size: 10px;
	font-weight: 700;
	line-height: 20px;
	letter-spacing: 0.5px;

	@each $palette, $palette-map in $palettes {
		@each $color, $color-map in $palette-map {
			@if $color == "gray" {
				@if $palette == "solid" {
					background: map.get($palettes, $palette, $color, "background");
					color: map.get($palettes, $palette, $color, "color");
				} @else {
					&--#{$palette} {
						background: map.get($palettes, $palette, $color, "background");
						color: map.get($palettes, $palette, $color, "color");
					}
				}
			} @else {
				@if $palette == "solid" {
					&--#{$color} {
						background: map.get($palettes, $palette, $color, "background");
						color: map.get($palettes, $palette, $color, "color");
					}
				} @else {
					&--#{$color} {
						&.csb-tag--#{$palette} {
							background: map.get($palettes, $palette, $color, "background");
							color: map.get($palettes, $palette, $color, "color");
						}
					}
				}
			}
		}
	}

	&--uppercase {
		text-transform: uppercase;
	}
}
