@use "sass:map";

@use "../../../_utils/utils" as *;

/// Build Accordion item
/// This function creates styles for the element
/// main wrapper.
/// @type block
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-item($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		// Block wrapper.
		@include block($block) {
			@include element(item) {
				border-top: $border-width-sm solid $color-extended-neutral-80;
				overflow: hidden;
				position: relative;

				&:first-child {
					border: none;
				}

				&:first-child,
				&:first-child::after {
					border-top-left-radius: $border-radius-md;
					border-top-right-radius: $border-radius-md;
				}

				&:last-child,
				&:last-child::after {
					border-bottom-right-radius: $border-radius-md;
					border-bottom-left-radius: $border-radius-md;
				}

				p {
					&:first-child {
						margin-top: 0;
					}

					&:last-child {
						margin-bottom: 0;
					}
				}

				@include modifier(body) {
					> .sui-box {
						.sui-box-group {
							padding-top: $spacing-xxl;
							padding-bottom: $spacing-xxl;
						}
					}
				}

				@include modifier(footer) {
					> .sui-box {
						.sui-box-group {
							padding-top: $spacing-xl;
							padding-bottom: $spacing-xl;
							border-top: $border-width-sm solid
								$color-extended-neutral-80;
						}
					}
				}

				@include modifier(body, footer) {
					> .sui-box {
						border: none;
						border-radius: 0;
						.sui-box-group {
							margin: 0;

							@include media(max-width, sm) {
								padding: $spacing-lg;
							}
						}
					}
				}
			}
		}
	}

	// DIR: Left to right.
	// THEME: Dark.
	@include sui-class($rtl: false, $theme: dark) {
		// Block wrapper.
		@include block($block) {
			@include element(item) {
				border-color: $color-extended-neutral-0;

				@include modifier(footer) {
					> .sui-box {
						.sui-box-group {
							border-color: $color-extended-neutral-0;
						}
					}
				}
			}
		}
	}
}
