@use "./_elements/elements" as sui-password--element;

@include sui-password--element.build-container(password);
@include sui-password--element.build-input(password);
@include sui-password--element.build-button(password);
