@use "sass:math";
@use "../../../_utils/utils" as *;

/// Build body
///
/// @type block
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-body($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		@include block($block) {
			@include element(body) {
				display: flex;
				flex-direction: column;
				gap: $spacing-md;

				@include media(min-width, sm) {
					align-items: center;
					display: flex;
					flex: 1;
					flex-direction: row;
				}

				@include modifier(fluid) {
					flex-direction: column;
					align-items: flex-start;

					.sui-#{$block}__body-actions {
						padding-inline-start: $banner-spacing-md;
					}
				}
			}

			@include element(body-content) {
				flex: 1;
				display: flex;
				align-items: flex-start;
				gap: $banner-spacing-xxs;
				color: $color-grey-90;
			}

			@include element(body-actions) {
				align-items: center;
				display: flex;

				.sui-button {
					&:first-child {
						margin: 0;
					}
				}

				@include media(max-width, sm) {
					padding-inline-start: $banner-spacing-md;
				}
			}

			@include modifier(plugin-upsell, hub-upsell) {
				color: $color-base-white;

				@include modifies-element(body-content) {
					color: $color-base-white;
				}
			}
		}
	}

	// DIR: Left to right.
	// THEME: Dark.
	@include sui-class($rtl: false, $theme: dark) {
		@include block($block) {
			color: $color-base-black;
			border: $border-width-sm solid $color-base-black;

			@include modifier(plugin-upsell, hub-upsell) {
				color: $color-base-white;
			}
		}
	}
}
