@use "sass:math";
@use "../../../_utils/utils" as *;

/// Build Body
///
/// @type element
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-body($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		@include block($block) {
			@include element(body) {
				display: flex;
				flex-direction: column;
				gap: $spacing-md;

				@include media(min-width, sm) {
					align-items: center;
					display: flex;
					flex: 1;
					flex-direction: row;
				}
			}

			@include element(body-content) {
				flex: 1;
				display: flex;
				align-items: flex-start;
				gap: 10px;
				color: $color-extended-neutral-10;
			}

			@include element(body-actions) {
				align-items: center;
				display: flex;

				.sui-button {
					&:first-child {
						margin: 0;
					}
				}

				@include media(max-width, sm) {
					margin-left: 34px;
				}
			}

			@include modifier(plugin-upsell, hub-upsell) {
				color: $color-extended-neutral-100;

				@include modifies-element(body-content) {
					color: $color-extended-neutral-100;
				}
			}
		}
	}

	// DIR: Left to right.
	// THEME: Dark.
	@include sui-class($rtl: false, $theme: dark) {
		@include block($block) {
			color: $color-extended-neutral-0;
			border: $border-width-sm solid $color-extended-neutral-0;

			@include modifier(plugin-upsell, hub-upsell) {
				color: $color-extended-neutral-100;
			}
		}
	}
}
