@use "sass:math";
@use "../../../_utils/utils" as *;

/// Build Container
///
/// @type block
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-container($block) {
    // DIR: Left to right.
    // THEME: None.
    @include sui-class($rtl: false, $theme: null) {
        @include block($block) {
            align-items: center;
            color: $color-primary-50;
            display: inline-flex;
            gap: $spacing-sm;
            text-decoration: underline;
            outline-color: $color-primary-50;

            @include modifier(focus) {
                color: $color-primary-10;
            }
        }
    }

    // DIR: Left to right.
    // THEME: Dark.
    @include sui-class($rtl: false, $theme: dark) {
        @include block($block) {
            color: $color-extended-neutral-100;
            outline-color: $color-extended-neutral-100
        }
    }
}
