@use "../../../_utils/utils" as *;

/// Edit Size
///
/// @type modifier
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin edit-size($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		@include block($block) {
			@include modifier(sm) {
				font-size: $font-size-xs;
				line-height: $font-height-xs;

				@include modifies-element(box) {
					width: $font-size-md;
					height: $font-size-md;
					margin-top: 0;
					margin-bottom: 0;
				}

				@include modifies-element(icon) {
					width: 11px;
					height: 9px;
				}
			}
		}
	}
}
