@use "../../../_utils/utils" as *;

/// Build Container
/// This function creates styles for the main container
///
/// @type block
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-container($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		@include block($block) {
			cursor: pointer;
			user-select: none;
			position: relative;
			display: inline-flex;
			align-items: center;
			color: $color-extended-neutral-10;
			font-size: $font-size-default;
			line-height: $font-height-sm;

			* {
				pointer-events: none;
			}
		}
	}

	// DIR: Left to right.
	// THEME: Dark.
	@include sui-class($rtl: false, $theme: dark) {
		@include block($block) {
			color: $color-extended-neutral-0;
		}
	}
}
