@use "sass:math";
@use "../../../_utils/utils" as *;

/// Build Checkbox Box
/// This function creates styles for the box element
///
/// @type element
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-box($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		@include block($block) {
			@include element(box) {
				width: $checkbox-box-size-md;
				height: $checkbox-box-size-md;
				display: flex;
				align-items: center;
				justify-content: center;
				margin: $checkbox-box-margin-vertical-md 0;
				margin-right: $checkbox-box-margin-horizontal-md;
				border:
					$checkbox-box-border-width
					$checkbox-box-border-style
					$checkbox-box-border-color-default;
				border-radius: $checkbox-box-border-radius;
				background: $checkbox-box-background-default;
			}
		}
	}
}
