@use "sass:math";
@use "../../../_utils/utils" as *;

/// Build group
///
/// @type block
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-group($block) {
    // DIR: Left to right.
    // THEME: None.
    @include sui-class($rtl: false, $theme: null) {
        @include block($block) {
            @include element(group) {
                align-items: center;
                border-bottom: $border-width-sm solid $color-extended-neutral-80;
                display: flex;
                justify-content: space-between;
                padding: $spacing-xl 0;

                &:last-child {
                    border: none;
                }

                @include modifier(center) {
                    justify-content: center;
                }
            }
        }
    }
}
