
@use "sass:math";
@use "../../../_utils/utils" as *;

/// Build block
///
/// @type block
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-block($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		@include block($block) {
			@include element(block) {
				display: flex;
				color: $color-extended-neutral-50;
				font-size: $font-size-xs;
				line-height: $font-height-xs;
			}
		}
	}
}
