@use "sass:map";

@use "../../../_utils/utils" as *;

/// Build info
///
/// @type block
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-info($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		// Block wrapper.
		@include block($block) {
			@include element(info) {
				flex: 1 100%;

				@include media(max-width, sm) {
					max-width: 100%;
				}
			}

			@include element(info-title) {
				align-items: center;
				color: $color-grey-90;
				display: flex;
				font-weight: $font-weight-md;
				gap: $spacing-sm;
				margin-bottom: $spacing-sm;
			}
		}
	}

	// DIR: Left to right.
	// THEME: Dark.
	@include sui-class($rtl: false, $theme: dark) {
		// Block wrapper.
		@include block($block) {
			@include element(info-title) {
				color: $color-base-black;
			}
		}
	}
}
