@use "sass:map";

@use "../../../_utils/utils" as *;

/// Build body content
///
/// @type block
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-content($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		// Block wrapper.
		@include block($block) {
			@include element(body) {
				flex: 1;
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				gap: $spacing-2xl;

				@include media(max-width, sm) {
					gap: $spacing-lg;
				}

				p {
					&:first-child {
						margin-top: 0;
					}
				}
			}
		}
	}
}
