@use "sass:map";

@use "../../../_utils/utils" as *;

/// Build Header
///
/// @type block
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-header($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		// Block wrapper.
		@include block($block) {
			@include element(header) {
				display: flex;
				gap: $spacing-lg;
				width: 30%;
				min-width: 240px;

				@include media(max-width, sm) {
					flex-direction: column;
					width: 100%;
				}
			}
		}
	}
}
