@use "sass:map";

@use "../../utilities.scss" as *;

/// Layout Top Spacing.
/// This modifier creates spacing between WordPress top bar and the content.
/// @type modifier
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin spacing-top($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		// Block wrapper.
		@include block($block) {
			// Element wrapper.
			@include modifier(justify) {
				margin-top: map.get($spacing, sm);

				@include media(min-width, md) {
					margin-top: map.get($spacing, md);
				}

				@include media(min-width, lg) {
					margin-top: map.get($spacing, lg);
				}
			}
		}
	}
}
