@use "sass:map";

// Import required stylesheets
@use "../defaults" as *;

/// 1. Store Context
/// Sets the current object, stores name and generated selector
@function set-current-context($obj, $name, $selector) {
	$new-current: (
		#{$obj}: (
				name: $name,
				selector: $selector,
			)
	);

	$bem-current-context: map.merge(
		$bem-current-context,
		$new-current
	);

	@return $selector;
}

/// 2. Clear Context
/// Clears the current object
@function unset-current-context($obj) {
	$new-current: (#{$obj}: null);
	$bem-current-context: map.merge(
		$bem-current-context,
		$new-current
	);

	@return null;
}
