@use "../../../_utils/utils" as *;

/// Build Button Label
///
/// @type item
/// @author WPMU DEV
///
/// @param {String} $item - Main item name
@mixin build-label($block-name) {
	@include sui-class($rtl: false, $theme: null) {
		@include block($block-name) {
			@include element(label) {
				display: block;
				padding: $button-label-padding-vertical $button-label-padding-horizontal;

				@include modifier(hidden) {
					visibility: hidden;
				}
			}
		}
	}
}
