@use "../../../_utils/utils" as *;

@mixin build-container($block-name) {
	@include sui-class($rtl: false, $theme: null) {
		@include block($block-name) {
			cursor: pointer;
			min-width: $button-container-size-md;
			max-width: 100%;
			display: inline-flex;
			justify-content: center;
			margin: $button-container-margin-vertical
				$button-container-margin-horizontal;
			padding: $button-container-padding-vertical
				$button-container-padding-horizontal;
			border-width: $button-container-border-width;
			border-style: $button-container-border-style;
			border-radius: $button-container-border-radius;
			outline: none;
			background-image: none;
			box-shadow: none;
			font-weight: $button-label-font-weight;
			font-size: $button-label-font-size-md;
			line-height: $button-label-font-height-md;
			letter-spacing: $button-label-font-spacing-md;
			text-decoration: none;
			transition: 0.1s ease;
			user-select: none;
			vertical-align: middle;

			&:first-child {
				margin-left: 0;
			}

			&:last-child {
				margin-right: 0;
			}

			@include modifier(is-icon) {
				min-width: auto;
				padding: $button-container-padding-horizontal;
			}
		}
	}

	@include sui-class($rtl: true, $theme: null) {
		@include block($block-name) {
			margin: $button-container-margin-vertical
				$button-container-margin-horizontal;

			&:first-child {
				margin-right: 0;
			}

			&:last-child {
				margin-left: 0;
			}
		}
	}
}
