@use "../../../_utils/utils" as *;

/// Build Button Icon
///
/// @type item
/// @author WPMU DEV
///
/// @param {String} $item - Main item name
@mixin build-icon($block-name) {
	@include sui-class($rtl: false, $theme: null) {
		@include block($block-name) {
			@include element(icon) {
				display: flex;
				padding: $button-icon-padding-vertical-md
					$button-icon-padding-horizontal-md;

				.suicons--spin {
					@include animation(spin);
				}

				@include modifier(loader) {
					position: absolute;
					margin-top: -1px;
				}

				@include modifier(hidden) {
					visibility: hidden;
				}
			}

			@include modifier(is-icon) {
				.sui-#{$block-name}__icon {
					padding: 0;
				}

				&.sui-#{$block-name}--lg {
					padding-top: $spacing-md;
					padding-bottom: $spacing-md;
				}
			}

			@include modifier(inline) {
				border: none;
				background: unset;
			}

			@include modifier(responsive) {
				@include modifies-element(label) {
					@include media(max-width, md) {
						display: none;

						+ .sui-#{$block-name}__icon {
							display: none;
						}
					}
				}

				@include media(max-width, md) {
					min-width: auto;
					padding: $button-container-padding-horizontal;

					.sui-#{$block-name}__icon {
						padding: 0;
					}
				}
			}
		}
	}

	@include sui-class($rtl: false, $theme: dark) {
		@include block($block-name) {
			@include element(icon) {
				.sui-icon {
					color: inherit;
				}
			}
		}
	}
}
