@use "../../../_utils/utils" as *;

/// Edit Disabled State
///
/// @type modifier
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin edit-disabled($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		@include block($block) {
			@include modifier(disabled) {
				pointer-events: none;
				user-select: none;
				color: $color-extended-neutral-70;

				@include modifies-element(box) {
					outline-color: $color-extended-neutral-80;
					border-color: $color-extended-neutral-80;
					background: $color-extended-neutral-80;
				}

				@include modifies-element(icon) {
					background: $color-extended-neutral-70;
				}

				@include modifies-element(label) {
					color: $color-extended-neutral-70;
				}

				&.sui-#{$block}--block {
					outline-color: $color-extended-neutral-80;
					background: $color-extended-neutral-95;
				}
			}
		}
	}

	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: dark) {
		@include block($block) {
			@include modifier(disabled) {
				color: $color-extended-neutral-0;

				@include modifies-element(box) {
					outline-color: $color-extended-neutral-0;
					border-color: $color-extended-neutral-0;
					background: $color-extended-neutral-100;
				}

				@include modifies-element(icon) {
					background: $color-extended-neutral-100;
				}

				@include modifies-element(label) {
					color: $color-extended-neutral-0;
				}

				&.sui-#{$block}--block {
					outline-color: $color-extended-neutral-0;
					background: $color-extended-neutral-100;
				}
			}
		}
	}
}
