@use "../../../_utils/utils" as *;

/// Edit Focus State
///
/// @type state
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin edit-focus($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		@include block($block) {
			@include modifier(focus) {
				@include modifies-element(box) {
					&:after {
						border: $border-width-md solid $color-grey-70;
					}
				}

				&.sui-#{$block}--checked {
					@include modifies-element(box) {
						&:after {
							border-color: $color-primary-50;
						}
					}
				}

				&.sui-#{$block}--block {
					&:after {
						border-width: $border-width-md;
						border-color: $color-primary-50;
					}
				}
			}
		}
	}

	// DIR: Left to right.
	// THEME: Dark.
	@include sui-class($rtl: false, $theme: dark) {
		@include block($block) {
			@include modifier(focus) {
				@include modifies-element(box) {
					&:after {
						border-color: $color-base-black;
					}
				}
			}
		}
	}
}
