@use "../../../_utils/utils" as *;

/// Edit Checked State
///
/// @type state
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin edit-checked($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		@include block($block) {
			@include modifier(checked) {
				@include modifies-element(box) {
					background: $color-primary-50;
					border-color: $color-primary-50;
				}

				&.sui-#{$block}--block {
					background: $color-primary-05;

					&:after {
						border-color: $color-primary-10;
					}

					&:hover {
						background: unset;

						.sui-#{$block}__box {
							background: $color-primary-60;
							border-color: $color-primary-60;
						}
					}
				}
			}
		}
	}

	// DIR: Left to right.
	// THEME: Dark.
	@include sui-class($rtl: false, $theme: dark) {
		@include block($block) {
			@include modifier(checked) {
				@include modifies-element(box) {
					background: $color-base-black;
					border-color: $color-base-black;
				}

				&.sui-#{$block}--block {
					background: $color-base-white;
					&:after {
						border-color: $color-base-black;
					}

					&:hover {
						.sui-#{$block}__box {
							background: $color-base-black;
							border-color: $color-base-black;
						}
					}
				}
			}
		}
	}
}
