@use "../../../_utils/utils" as *;

@mixin modify-size($block) {
	@include sui-class($rtl: false, $theme: null) {
		@include block($block) {
			@include modifier(sm) {
				@include modifies-element(control) {
                    font-size: 12px;
                    line-height: 16px;
                    padding: 8px 32px 8px 12px;
                    min-height: 32px;
                }

                @include modifies-element(input) {
                    font-size: 12px;
                    line-height: 16px;
                    padding: 8px 32px;
                    min-height: 32px;
                }

                &.sui-#{$block}--searchable {
                    .sui-#{$block}__input {
                        padding-left: 12px;
                    }
                }

                &.sui-#{$block}--multiselect {
                    .sui-#{$block}__control {
                        padding-right: 55px;
                        line-height: 24px;
                    }
                }

                &.sui-#{$block}--smartsearch {
                    .sui-#{$block}__icon--close-alt {
                        font-size: 16px;
                        right: 12px;
                    }
                }

                .sui-#{$block}--multiselect {
                    .sui-#{$block}__icon--close-alt {
                        right: 34px;
                    }
                }

                .sui-#{$block}__dropdown--option {
                    font-size: 11px;
                    padding: 4px 12px;
                }

                &.sui-#{$block}--searchable {
                    .sui-#{$block}__control {
                        padding: 0;
                    }
                }

                .sui-#{$block}__dropdown--option {
                    .sui-#{$block}__icon {
                        padding-right: 6px;
                    }
                }

                .sui-#{$block}__icon--search {
                    left: 10px;
                    font-size: 16px;
                }

                @include modifies-element(search) {
                    .sui-#{$block}__icon {
                        bottom: 5px;
                        left: 20px;
                        font-size: 12px;
                    }
                }

                .sui-checkbox {
                    font-size:  $select-checkbox-font-size-sm;
                    .sui-checkbox__box {
                        width: $select-checkbox-size-sm;
                        height: $select-checkbox-size-sm;
                    }
                }
			}
		}
	}
}
