@use "./_elements/elements" as sui-avatar--element;
@use "./_modifiers/modifiers" as sui-avatar--modifier;

@include sui-avatar--element.build-container(recipient);
@include sui-avatar--element.build-name(recipient);
@include sui-avatar--element.build-email(recipient);
@include sui-avatar--element.build-info(recipient);
@include sui-avatar--element.build-avatar(recipient);
@include sui-avatar--element.build-button(recipient);

@include sui-avatar--modifier.build-theme(recipient);
