@use "sass:map";

@use "../../../_utils/utils" as *;

/// Build Icon Colors
///
/// @type modifier
/// @author WPMU DEV
///
/// @param {String} $block-name - Main block name
@mixin build-color($block) {
	// DIR: Left to right.
	// THEME: Light.
	@include sui-class($rtl: false, $theme: light) {
		@include block($block) {
			@include modifier(neutral) {
				color: $color-extended-neutral-60;
			}
			@include modifier(informative) {
				color: $color-primary-50;
			}
			@include modifier(success) {
				color: $color-extended-success-50;
			}
			@include modifier(warning) {
				color: $color-extended-warning-50;
			}
			@include modifier(critical) {
				color: $color-extended-error-50;
			}
		}
	}

	// DIR: Left to right.
	// THEME: Dark.
	@include sui-class($rtl: false, $theme: dark) {
		@include block($block) {
			color: $color-extended-neutral-0;
		}
	}
}
