@use "sass:map";

@use "../../../_utils/utils" as *;

/// Build menu item
///
/// @type block
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-menu-item($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		// Block wrapper.
		@include block($block) {
			@include element(menu-item) {
				align-items: center;
				cursor: pointer;
				display: flex;
				font: $font-weight-default 13px/20px $font-family-default;
				//font-weight: $font-weight-md;
				gap: $spacing-md;
				list-style: none;
				margin: 0;
				padding: 6px $spacing-default;
				text-decoration: none;

				@include modifier(loading) {
					align-items: center;
					align-self: stretch;
					background: #f8f8f8;
					border-radius: 4px;
					display: flex;
					font: $font-weight-default 13px/20px $font-family-default;
					gap: 8px;
					padding: 12px;
					margin: 0 8px 8px;
				}
			}

			@include element(menu) {
				.sui-#{$block}__menu-item {
					color: $color-extended-neutral-10;
				}
			}
		}
	}

	// DIR: Left to right.
	// THEME: Dark.
	@include sui-class($rtl: false, $theme: dark) {
		// Block wrapper.
		@include block($block) {
			@include element(menu-item) {
				background: $color-extended-neutral-100;
			}

			@include element(menu) {
				.sui-#{$block}__menu-item {
					color: $color-extended-neutral-0;
				}
			}
		}
	}
}
