@use "sass:map";

@use "../../../_utils/utils" as *;

/// Build menu item
///
/// @type block
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-menu-item($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		// Block wrapper.
		@include block($block) {
			li {
				margin: 0;
			}

			@include element(menu-item) {
				align-items: center;
				cursor: pointer;
				display: flex;
				font: $font-weight-default #{$font-size-xs}/#{$font-height-xs}
					$font-family-default;
				gap: $spacing-md;
				list-style: none;
				line-height: $font-height-sm;
				margin: 0;
				padding: $spacing-sm $spacing-lg;
				text-decoration: none;

				@include modifier(wrapper) {
					display: flex;
					gap: $spacing-sm;
					flex: 1;
					align-items: flex-start;

					.sui-#{$block}__menu-item-icon {
						margin-top: $spacing-xs;
					}
				}

				@include modifier(title) {
					font-weight: $font-weight-md;
				}

				@include modifier(loading) {
					align-items: center;
					align-self: stretch;
					background: $color-grey-02;
					border-radius: $border-radius-md;
					display: flex;
					font: $font-weight-default #{$font-size-xs}/#{$font-height-xs}
						$font-family-default;
					gap: $spacing-md;
					padding: $spacing-default;
					margin: 0 $spacing-md $spacing-md;
				}

				@include modifier(loading-alt) {
					background: transparent;
					padding: $spacing-md $spacing-lg;
					margin: 0;
				}
			}

			@include element(menu) {
				.sui-#{$block}__menu-item {
					color: $color-grey-90;
				}
			}
		}
	}

	// DIR: Left to right.
	// THEME: Dark.
	@include sui-class($rtl: false, $theme: dark) {
		// Block wrapper.
		@include block($block) {
			@include element(menu-item) {
				background: $color-base-white;
			}

			@include element(menu) {
				.sui-#{$block}__menu-item {
					color: $color-base-black;
				}
			}
		}
	}
}
