@use "../../../_utils/utils" as *;

/// Build Container
/// This function creates styles for the element
/// main wrapper.
/// @type block
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-container($block-name) {
	@include sui-class($rtl: false, $theme: null) {
		@include block($block-name) {
			align-items: center;
			display: flex;
			position: relative;
		}
	}
}
