@use "../../../_utils/utils" as *;

@mixin build-popover($block-name) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		@include block($block-name) {
			@include element(popover) {
				width: $dropdown-size-width-md;
				overflow-y: auto;
				z-index: 100;
				position: absolute;
				top: 100%;
				left: 0;
				display: none;
				margin: $spacing-md 0 0;
				padding: $spacing-md 0;
				border-radius: $border-radius-md;
				background: $color-extended-neutral-100;
				box-shadow: 0 6px 12px $color-shadow-default,
					0 1px 16px $color-shadow-light, 0 2px 4px $color-shadow-dark;
				max-width: $dropdown-size-width-sm;

				@include modifier(fixed-height) {
					max-height: $dropdown-size-height-md;
				}
			}
		}
	}

	// DIR: Right to left.
	// THEME: None.
	@include sui-class($rtl: true, $theme: null) {
		@include block($block-name) {
			@include element(popover) {
				right: 0;
			}
		}
	}

	// DIR: Left to right.
	// THEME: Dark.
	@include sui-class($rtl: false, $theme: dark) {
		@include block($block-name) {
			@include element(popover) {
				box-shadow: none;
				border: $border-width-sm solid $color-extended-neutral-0;
			}
		}
	}
}
