@use "../../../_utils/utils" as *;

/// Build Menu
///
/// @type block
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-menu($block-name) {
	@include sui-class($rtl: false, $theme: null) {
		@include block($block-name) {
			@include element(menu) {
				margin: 0;
				padding: 0;

				@include modifier(no-results) {
					font: $font-weight-default #{$font-size-xs}/#{$font-height-xs}
						$font-family-default;
					border-radius: $border-radius-md;
					margin: $spacing-md;
					padding: $spacing-md $spacing-lg;
					background: $color-grey-02;
					font-size: $font-size-sm;
				}
			}

			@include element(menu-nav-search) {
				padding: 0px 12px 8px 12px;
			}
		}
	}
}
