@use "sass:map";

@use "../../../_utils/utils" as *;

/// Build menu item
///
/// @type block
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-menu-item($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		// Block wrapper.
		@include block($block) {
			@include element(menu-item) {
				align-items: center;
				color: $color-extended-neutral-10;
				cursor: pointer;
				display: flex;
				font-weight: $font-weight-md;
				gap: $spacing-md;
				list-style: none;
				margin: 0;
				padding: $spacing-md $menu-spacing-horizontal;
			}
		}
	}

	// DIR: Left to right.
	// THEME: Dark.
	@include sui-class($rtl: false, $theme: dark) {
		// Block wrapper.
		@include block($block) {
			@include element(menu-item) {
				color: $color-extended-neutral-0;
				background: $color-extended-neutral-100;
			}
		}
	}
}
