@use "sass:math";
@use "../../../_utils/functions" as *;

// Calculate length of stroke in svg circle.
$score-circle-radius: 42; // r attribute on the score svg circle
$score-circle-circumference: 2 * pi() * $score-circle-radius;

// Generate animation keyframes for score circles.
@for $i from 1 through 100 {
	$dash-length: math.div($score-circle-circumference, 100) * $i;
	$gap-length: $dash-length * 100 - $i;

	@keyframes sui#{$i} {
		to {
			stroke-dasharray: $dash-length $gap-length;
		}
	}
}