@use "sass:map";

@use "../../../_utils/utils" as *;

/// Build Icon
/// This function creates styles for the integration icon
///
/// @type block
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-icon($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		@include block($block) {
            @include element(icon) {
                margin-right: auto;
            }
		}
	}

    // DIR: Right to left.
	// THEME: None.
	@include sui-class($rtl: true, $theme: null) {
		@include block($block) {
            @include element(icon) {
                margin-left: auto;
                margin-right: 0;
            }
		}
	}
}