    @use "sass:map";

@use "../../../_utils/utils" as *;

/// Build Title
/// This function creates styles for the integration title
///
/// @type block
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-title($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		@include block($block) {
            @include element(title) {
                display: inline-block;
                font-size: $integration-font-size-md;
                line-height: $integration-font-height-md;
                margin: 0 $integration-spacing-margin-horizontal 0 0;
            }
		}
	}
}
