@use "sass:map";

@use "../../../_utils/utils" as *;

/// Build Description
/// This function creates styles for the integration description
///
/// @type block
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-description($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		@include block($block) {
            @include element(description) {
                font-size: 13px;
                line-height: 24px;
                color: #505050;
                margin: 16px 0 0;
            }
		}
	}
}
