@use "sass:math";
@use "../../../_utils/utils" as *;

/// Build Container
///
/// @type block
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-container($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		@include block($block) {
			position: relative;
			background-color: $color-base-white;
			border: $border-width-sm solid $color-grey-10;
			border-radius: $border-radius-md;
			display: flex;
			gap: $spacing-2xl;
			padding: $spacing-2xl;

			@include media(max-width, sm) {
				flex-direction: column;
				align-items: flex-start;
				padding: $spacing-xl;
				gap: $spacing-xl;
			}
		}
	}

	// DIR: Left to right.
	// THEME: Dark.
	@include sui-class($rtl: false, $theme: dark) {
		@include block($block) {
			border-color: $color-base-black;
		}
	}
}
