@use "sass:map";

@use "../../utilities.scss" as *;

/// Grid Column.
/// @type block
/// @author WPMU DEV
///
/// @param {String} $block - Main block name.
@mixin build-col($block) {
	@include sui-class($rtl: false, $theme: null) {
		@include block($block) {
			min-width: 0;
			max-width: 100%;
			display: block;
			margin: 0 0 map.get($spacing, sm);
		}
	}
}
