@use "../../../_utils/utils" as *;

/// Edit Focus State
///
/// @type modifier
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin edit-focus($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		@include block($block) {
			@include modifier(focus) {
				@include modifies-element(box) {
					outline: $border-width-md solid $color-extended-neutral-50;
					outline-offset: $border-width-md;
					border-color: $color-primary-50;
				}

				&.sui-#{$block}--checked {
					@include modifies-element(box) {
						outline-color: $color-primary-50;
					}
				}

				&.sui-#{$block}--block {
					outline-width: $border-width-md;
					background: transparent;
				}
			}
		}
	}

	// DIR: Left to right.
	// THEME: Dark.
	@include sui-class($rtl: false, $theme: dark) {
		@include block($block) {
			@include modifier(focus) {
				@include modifies-element(box) {
					outline: $border-width-md solid $color-extended-neutral-0;
					border-color: $color-extended-neutral-0;
				}
			}
		}
	}
}
