@use "sass:math";
@use "../../../_utils/utils" as *;

/// Build Container
///
/// @type block
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-container($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		@include block($block) {
			display: flex;
			align-items: center;
			background-color: $color-extended-neutral-100;
			gap: $spacing-lg;
			padding: $spacing-lg $spacing-2xl;

			@include modifier(center) {
				@include modifies-element(content, content--left, actions) {
					flex-grow: 1;
					flex-basis: 0;
				}

				@include modifies-element(content--left) {
					@include media(max-width, sm) {
						flex-basis: unset;
					}
				}

				@include modifies-element(content) {
					justify-content: center;

					.sui-#{$block}__body {
						@include media(max-width, md) {
							width: auto;
						}
					}

					@include media(max-width, sm) {
						justify-content: flex-start;
						flex-grow: unset;
					}
				}

				@include modifies-element(actions) {
					@include media(max-width, sm) {
						justify-content: flex-start;
					}
				}
			}

			@include media(max-width, sm) {
				flex-wrap: wrap;
				padding: $spacing-lg;
				gap: $spacing-md;
			}
		}
	}

	// DIR: Left to right.
	// THEME: Dark.
	@include sui-class($rtl: false, $theme: dark) {
		@include block($block) {
			border-bottom: $border-width-sm solid $color-extended-neutral-0;
		}
	}
}
