@use "../../../_utils/utils" as *;

/// Build Tag Size
///
/// @type block
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-size($block) {
	// DIR: Left to right.
	// THEME: Light.
	@include sui-class($rtl: false, $theme: null) {
		@include block($block) {
			@include modifier(xsm) {
				height: 12px;
				width: 12px;
			}
			@include modifier(sm) {
				height: 16px;
				width: 16px;
			}
			@include modifier(md) {
				height: 24px;
				width: 24px;
			}
			// @todo: add others variations
		}
	}
}
