@use "sass:math";
@use "../../../_utils/utils" as *;

/// Build CTA
///
/// @type block
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-cta($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		@include block($block) {
			@include element(cta) {
				align-items: center;
				display: flex;
			}

			@include element(cta-btn) {
				@include modifier(bf) {
					background: var(--status-yellow-warning-base-50-ffcc-20, #FFCC20);
					border: none;
				}
			}
		}
	}
}
