/// -----------------------------------------------------------------------------
/// SUI Functions
///
/// List helper functions such as function to replace string, lighten color,
/// darken color, etc.
///
/// @author WPMU DEV (Incsub Ltd.)
/// -----------------------------------------------------------------------------

// Replace String
@function replace($string, $search, $replace: "") {
	$index: str-index($string, $search);

	@if $index {
		@return str-slice($string, 1, $index - 1) + $replace +
			str-replace(
				str-slice($string, $index + str-length($search)),
				$search,
				$replace
			);
	}

	@return $string;
}

// Lighten color
@function tint($color, $percentage) {
	@return mix(white, $color, $percentage);
}

// Darken color
@function shade($color, $percentage) {
	@return mix(black, $color, $percentage);
}
