@use "sass:math";
@use "../../../_utils/utils" as *;

/// Build Text
///
/// @type block
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-text($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		@include block($block) {
			@include element(text) {
				font-weight: $font-weight-md;
			}

			@include element(text, value) {
				color: $color-extended-neutral-50;
			}
		}
	}

	// DIR: Left to right.
	// THEME: Dark.
	@include sui-class($rtl: false, $theme: dark) {
		@include block($block) {
			@include element(text, value) {
				color: $color-extended-neutral-0;
			}
		}
	}
}
