@use "../../../_utils/utils" as *;

@mixin build-message($block-name) {
	@include sui-class($rtl: false, $theme: null) {
		@include block($block-name) {
			@include element(message) {
				display: block;
				margin: $spacing-sm 0;
				font-size: $font-size-default;
				line-height: $font-height-sm;
				letter-spacing: $font-spacing-sm;

				a {
					font-weight: $font-weight-md;
					text-decoration: none;
				}
			}
		}
	}
}
