@use "../../../_utils/utils" as *;

/// Build Container
/// This function creates styles for the main container
///
/// @type block
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-container($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		@include block($block) {
			cursor: pointer;
			user-select: none;
			position: relative;
			display: inline-flex;
			align-items: center;
			color: $radio-font-color-default;
			font-weight: $radio-font-weight;
			font-size: $radio-font-size-md;
			line-height: $radio-font-height-md;
			letter-spacing: $radio-font-spacing;
		}
	}
}
