@use "../../../_utils/utils" as *;

/// Build Checkbox Icon
/// This function creates styles for the checkbox icon element
///
/// @type element
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-icon($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		@include block($block) {
			@include element(icon) {
				width: $radio-size-sm;
				height: $radio-size-sm;
				display: block;
				border-radius: 100%;
				background: $color-extended-neutral-100;
			}
		}
	}
}
