@use "sass:math";
@use "../../../_utils/utils" as *;

/// Build Checkbox Box
/// This function creates styles for the box element
///
/// @type element
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-box($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		@include block($block) {
			@include element(box) {
				width: $radio-size-lg;
				height: $radio-size-lg;
				display: flex;
				align-items: center;
				justify-content: center;
				margin: 0;
				margin-right: $spacing-md;
				border: $border-width-sm solid $color-extended-neutral-70;
				border-radius: 100%;
				background: $color-extended-neutral-100;
			}
		}
	}

	// DIR: Right to left.
	// THEME: None.
	@include sui-class($rtl: true, $theme: null) {
		@include block($block) {
			@include element(box) {
				margin-left: $spacing-md;
				margin-right: 0;
			}
		}
	}

	// DIR: Left to right.
	// THEME: Dark.
	@include sui-class($rtl: false, $theme: dark) {
		@include block($block) {
			@include element(box) {
				border: $border-width-sm solid $color-extended-neutral-0;
			}
		}
	}
}
