@use "sass:map";

@use "../../../_utils/mixins" as *;

/// Build Avatar
/// This function creates styles for the element
/// avatar wrapper.
/// @type block
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-image($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		// Block wrapper.
		@include block($block) {

            .sui-#{$block}__image {
                overflow: hidden;
                border-radius: 100%;
                width: 100%;
                height: 100%;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
		}
	}
}
