@use "sass:math";
@use "../../../_utils/utils" as *;

/// Build Action
///
/// @type element
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-option($block) {
    // DIR: Left to right.
    // THEME: None.
    @include sui-class($rtl: false, $theme: null) {
        @include block($block) {
            &--center:not(.sui-selector__option--image) {
                text-align: center;

                .sui-selector__option-header {
                    flex-direction: column;
                }

                &.sui-selector__option--compound {
                    .sui-selector__option-header {
                        border: none;
                    }

                    .sui-selector__option-body-description {
                        padding-top: 0;
                        // ugly i know, please improve ;)
                        margin-top: -2px;
                    }
                }
            }

            &--image {

                .sui-selector__option-header {
                    border: none;
                    padding-bottom: 4px;
                }

                .sui-selector__option-body-description {
                    padding-top: 8px;
                }
            }

            &--icon-only {
                .sui-selector__option-header {
                    padding: 24px;
                    justify-content: center;
                }
            }

            @include modifier(disabled) {
                cursor: none;
                opacity: 0.5;
                pointer-events: none;
                user-select: none;
            }

            @include element(option) {
                border-radius: 8px;
                overflow: hidden;
                position: relative;
            }

            @include element(option-delete) {
                left: auto;
                padding: 3px;
                position: absolute;
                right: 0;
                z-index: 1;
            }

            @include element(option-delete-btn) {
                background-color: #F45C59;
                color: white;
            }

            @include element(option-tip) {
                position: absolute;
                right: 0;

                span {
                    color: white;
                    padding-right: 3px;
                    position: relative;
                    z-index: 1;
                }

                &::after {
                    content: '';
                    position: absolute;
                    left: auto;
                    top: 0;
                    right: 0;
                    width: 0;
                    height: 0;
                    border-left: 37px solid transparent;
                    border-top: 37px solid #0059FF;
                    clear: both;
                }
            }

            @include element(option-header) {
                align-items: center;
                border-bottom: solid 1px #E6E6E6;
                display: flex;
                gap: 8px;
                padding: 12px 16px;
            }

            @include element(option-header-icon) {
                align-items: center;
                display: inline-flex;

                img {
                    max-width: 32px;
                }
            }

            @include element(option-header-title) {
                align-items: center;
                display: flex;
                font: $font-weight-md 15px/24px $font-family-default;
                flex: 1;
                justify-content: space-between;
            }

            @include element(option-body) {
            }

            @include element(option-body-image) {
                display: block;
                border-radius: 4px;
                padding-bottom: 50%;
                background-color: lightgray;
                background-position: 50%;
                background-size: cover;
                background-repeat: no-repeat;
                margin: 4px;
                width: auto;
            }

            @include element(option-body-description) {
                color: #505050;
                font: 400 13px/20px $font-family-default;
                padding: 16px;
                word-wrap: break-word;
                user-select: none;
            }
        }
    }
}
