@use "../../../_utils/utils" as *;

/// Build Container
///
/// @type block
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-container($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		@include block($block) {
			cursor: pointer;
			user-select: none;
			position: relative;
			display: inline-flex;
			flex-wrap: wrap;
			align-items: flex-start;
			color: $color-extended-neutral-50;
			font-weight: $font-weight-default;
			font-size: $font-size-default;
			line-height: $font-height-sm;
			letter-spacing: $font-spacing-default;
			align-content: flex-start;

			@include modifier(block) {
				padding: $spacing-lg $spacing-xl;
				flex: 1;
				position: relative;

				@include media(max-width, md) {
					padding: $spacing-lg;
				}

				&:after {
					content: "";
					position: absolute;
					inset: -1px;
					border-radius: $radio-border-radius-sm;
					border: $border-width-sm solid $color-extended-neutral-80;
					pointer-events: none;
				}
			}
		}
	}

	// DIR: Left to right.
	// THEME: Dark.
	@include sui-class($rtl: false, $theme: dark) {
		@include block($block) {
			color: $color-extended-neutral-0;

			@include modifier(block) {
				&:after {
					border-color: $color-extended-neutral-0;
				}
			}
		}
	}
}
