@use "../../../_utils/utils" as *;

/// Build Container
/// This function creates styles for the main container
///
/// @type block
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-radiogroup($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		@include block($block) {
			display: flex;
			flex-direction: column;
			gap: $spacing-md;

			@include modifier(inline) {
				flex-direction: row;
				gap: $spacing-xl;

				@include media(max-width, md) {
					flex-direction: column;
					gap: $spacing-md;
				}
			}

			@include modifier(sm) {
				font-size: $font-size-xs;
				line-height: $font-height-xxs;

				.sui-radio__box {
					width: $radio-size-md;
					height: $radio-size-md;
				}

				.sui-radio__icon {
					width: $radio-size-xs;
					height: $radio-size-xs;
				}
			}
		}

		.sui-form-field__label + .sui-radio-group,
		.sui-radio-group + .sui-form-field__helper {
			margin-top: $spacing-md;
		}
	}
}
