@use "sass:map";

@use "../../../_utils/utils" as *;

/// Select Error
/// This function creates styles for select error state
///
/// @type modifier
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin select-error($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		@include block($block) {
			@include modifier(error) {
				@include modifies-element(control) {
					border-color: $color-extended-error-50;

					&::after {
						border-color: $color-extended-error-50;
					}
				}

				@include modifies-element(search) {
					border-color: $color-extended-error-50;
				}

				@include modifies-element(dropdown) {
					border-color: $color-extended-error-50;
				}

				@include modifies-element(input) {
					box-shadow: inset 0 0 1px $color-extended-error-50;
				}

				&.sui-#{$block}--open,
				&.sui-#{$block}--focus {
					@include modifies-element(control) {
						box-shadow: inset 0 0 1px $color-extended-error-50;
					}
				}
			}
		}
	}

	// DIR: Left to right.
	// THEME: Dark.
	@include sui-class($rtl: false, $theme: dark) {
		@include block($block) {
			@include modifier(error) {
				@include modifies-element(control) {
					border-color: $color-extended-neutral-0;

					&::after {
						border-color: $color-extended-neutral-0;
					}
				}
			}
		}
	}
}
