@use "sass:map";

@use "../../../_utils/utils" as *;

/// Select Focus
/// This function creates styles for select focus state
///
/// @type modifier
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin select-focus($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		@include block($block) {
			@include modifier(focus) {
				@include modifies-element(control) {
					position: relative;
					&::after {
						border: 2px solid $color-primary-50;
						border-radius: 4px;
					}
				}
			}
		}
	}

	// DIR: Left to right.
	// THEME: Dark.
	@include sui-class($rtl: false, $theme: dark) {
		@include block($block) {
			@include modifier(focus) {
				@include modifies-element(control) {
					&::after {
						border-color: $color-extended-neutral-0;
					}
				}
			}
		}
	}
}
