@use "sass:map";

@use "../../../_utils/tokens" as *;
@use "../../../_utils/mixins" as *;

@use "../_button-utils/colors" as *;

/// Primary Button Builder
///
/// @type block
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-primary-design($block) {
	// DIR: Left to right.
	// THEME: Light.
	@include sui-class($rtl: false, $theme: light) {
		// Block wrapper.
		@include block($block) {
			// Element wrapper.
			@include modifier(primary) {
				@each $color, $states in $sui-button-primary {
					@if $color == common {
						color: map.get($sui-button-primary, $color, default, color);
					}
					@else {
						&.sui-#{$block}--#{$color} {
							// State: Default
							@if map.get($sui-button-primary, $color, default, background) {
								background: map.get($sui-button-primary, $color, default, background);
							}
							@if map.get($sui-button-primary, $color, default, color) {
								color: map.get($sui-button-primary, $color, default, color);
							}

							// State: Hover
							@if map.get($sui-button-primary, $color, variant) {
								&:hover {
									background: map.get($sui-button-primary, $color, variant, background);
								}
							}

							// State: Focus
							&:focus {
								outline: 2px solid map.get($sui-button-primary, $color, default, background);
								outline-offset: 2px;
								background: map.get($sui-button-primary, $color, default, background);
							}
						}
					}
				}

				// State: Disabled
				&.sui-#{$block}--disabled {
					background: map.get($sui-button-disabled, background);
					color: map.get($sui-button-disabled, color);
				}
			}
		}
	}
}
