@use "../../../_utils/utils" as *;

/// Build Container
///
/// @type modifier
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-container($block-name) {
	@include sui-class($rtl: false, $theme: null) {
		@include block($block-name) {
			cursor: pointer;
			display: inline-flex;
			flex-flow: row wrap;
			justify-content: center;
			margin: $button-container-margin-vertical
				$button-container-margin-horizontal;
			padding: 11px;
			border-width: $button-container-border-width;
			border-style: $button-container-border-style;
			border-radius: $button-container-border-radius;
			outline: none;
			background-image: none;
			box-shadow: none;
			text-decoration: none;
			transition: 0.1s ease;

			&:first-child {
				margin-left: 0;
			}

			&:last-child {
				margin-right: 0;
			}

			span {
				display: block;
			}
		}
	}
}
