@use "../../../_utils/tokens" as *;

$sui-code-snippet-size: (
	sm: (
		height: 16px
	),
	md: (
		height: 24px
	)
);
$sui-code-snippet-border: (
	width: $code-snippet-border-width,
	radius: $code-snippet-border-radius,
	color: $code-snippet-border-color
);
$sui-code-snippet-color: (
	dark-grey: $code-snippet-color-dark-grey-color,
	grey: $code-snippet-color-grey-color,
	blue: $code-snippet-color-blue-color,
	dark-blue: $code-snippet-color-dark-blue-color,
	red: $code-snippet-color-red-color
);
$sui-code-snippet-background: (
	default: $code-snippet-color-default-background
);
$sui-code-snippet-spacing: (
	default: $code-snippet-spacing
);
$sui-code-snippet-font: (
	family: $code-snippet-font-family,
	size: $code-snippet-font-size,
	height: $code-snippet-font-height,
	weight: $code-snippet-font-weight,
	spacing: $code-snippet-font-spacing
);
