@use "../../../_utils/utils" as *;

@mixin modify-direction($block) {
	@include sui-class($rtl: false, $theme: null) {
		@include block($block) {
			@include element(menu) {
				@include modifier(direction-left) {
                    left: auto;
                    right: 0;
                }
			}
		}
	}

	@include sui-class($rtl: true, $theme: null) {
		@include block($block) {
			@include element(menu) {
				@include modifier(direction-left) {
                    left: 0;
                    right: auto;
                }
			}
		}
	}
}
