@use "sass:map";

@use "../../../_utils/utils" as *;

/// Build textarea hover
///
/// @type modifier
/// @author WPMU DEV
///
/// @param {String} $block-name - Main block name
@mixin build-hover($block-name) {
	// DIR: Left to right.
	// THEME: Dark.
	@include sui-class($rtl: false, $theme: null) {
		@include block($block-name) {
			@include modifier(hover) {
				@include modifies-element(field) {
					outline: $border-width-sm solid $color-primary-50;
					outline-offset: -#{$border-width-sm};
				}
			}
		}
	}

	// DIR: Left to right.
	// THEME: Dark.
	@include sui-class($rtl: false, $theme: dark) {
		@include block($block-name) {
			@include modifier(hover) {
				@include modifies-element(field) {
					outline-color: $color-extended-neutral-0;
				}
			}
		}
	}
}
