@use "sass:map";

@use "../../../_utils/utils" as *;

/// Build textarea disabled
///
/// @type modifier
/// @author WPMU DEV
///
/// @param {String} $block-name - Main block name
@mixin build-disabled($block-name) {
	// DIR: Left to right.
	// THEME: Dark.
	@include sui-class($rtl: false, $theme: null) {
		@include block($block-name) {
			@include modifier(disabled) {
				&:after {
					border: none;
				}
				@include modifies-element(field) {
					background: $color-extended-neutral-90;
				}
			}
		}
	}

	// DIR: Left to right.
	// THEME: Dark.
	@include sui-class($rtl: false, $theme: dark) {
		@include block($block-name) {
			@include modifier(disabled) {
				&:after {
					border: $border-width-sm solid $color-extended-neutral-0;
				}
			}
		}
	}
}
