@use "sass:math";
@use "../../../_utils/utils" as *;

/// Variation
///
/// @type element
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin edit-variation($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		@include block($block) {
			@include modifier(success) {
				background-color: #BAEBC9;
			}
			@include modifier(informative) {
				background-color: #D5E3FD;
			}
			@include modifier(warning) {
				background-color: #FFF4CE;
			}
			@include modifier(critical) {
				background-color: #FCCECD;
			}
			@include modifier(plugin-upsell) {
				background-color: #184291;
			}
			@include modifier(hub-upsell) {
				background-color: #286EF1;
			}
		}
	}
}
