@use "../../../_utils/utils" as *;

/// Build Checkbox Icon
/// This function creates styles for the checkbox icon element
///
/// @type element
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-icon($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		@include block($block) {
			@include element(icon) {
				width: $checkbox-icon-width-md;
				height: $checkbox-icon-height-md;
				fill: $color-extended-neutral-100;
				opacity: 0;
			}
		}
	}
}
