@use "../../../_utils/utils" as *;

/// Build Checkbox Group
/// This function creates styles for the checkbox icon element
///
/// @type element
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-checkbox-group($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		@include block($block) {
			@include element(group) {}

			@include element(group-body) {
				display: flex;
				flex-direction: column;
			}

			@include element(group-title) {
				color: $color-extended-neutral-50;
				font: $font-weight-md 15px/24px $font-family-default;
			}
		}
	}
}
