@use "../../../_utils/utils" as *;

/// Build Checkbox Group
///
/// @type block
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-checkbox-group($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		@include block($block) {
			display: flex;
			flex-direction: column;
			gap: $checkbox-spacing-xs;
			margin: 0;
		}
	}
}
