@use "../../../_utils/utils" as *;

/// Disabled State
///
/// @type state
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin edit-disabled($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		@include block($block) {
			@include element(calendar-list-item) {
				@include modifier(disabled) {
					color: $color-grey-30;
					cursor: default;
					pointer-events: none;
				}
			}
		}
	}
}
