@use "../../../_utils/utils" as *;

/// Active State
///
/// @type state
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin edit-active($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		@include block($block) {
			@include element(calendar-list-item) {
				@include modifier(active) {
					span {
						color: $color-primary-50;
					}
				}
			}

			@include modifier(single) {
				@include modifies-element(calendar-list-item) {
					&.sui-#{$block}__calendar-list-item--active {
						background: $color-primary-50;

						span {
							color: $color-base-white;
						}
					}
				}
			}

			@include element(range-button) {
				@include modifier(active) {
					color: $color-base-white;
					background: $color-primary-50;
				}
			}
		}
	}

	// DIR: Left to right.
	// THEME: Dark.
	@include sui-class($rtl: false, $theme: dark) {
		// Block wrapper.
		@include block($block) {
			@include modifier(single) {
				@include modifies-element(calendar-list-item) {
					&.sui-#{$block}__calendar-list-item--active {
						background: $color-base-black;

						span {
							color: $color-base-white;
						}
					}
				}
			}

			@include element(range-button) {
				@include modifier(active) {
					color: $color-base-white;
					background: $color-base-black;
				}
			}
		}
	}
}
