@use "sass:map";

@use "../../../_utils/utils" as *;
@use "../_utils/variables" as *;

@use "../_utils/colors" as *;

/// Build Icon
/// This function creates styles for the element
/// main wrapper.
/// @type block
/// @author WP     MU DEV
///
/// @param {String} $block - Main block name
@mixin build-icon($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		// Block wrapper.
		@include block($block) {
			@include element(icon) {
				.suicons {
					position: absolute;
					@if map.has-key($sui-input-font, lg, size) {
						font-size: map.get($sui-input-font, lg, size);
					}
					@if map.has-key($sui-input-color, grey, default, color) {
						color: map.get($sui-input-color, grey, default, color);
					}
					padding: 8px 8px 8px 12px;
					margin: 0;
				}

				&.sui-#{$block}--sm {
					.suicons {
						@if map.has-key($sui-input-font, md, size) {
							font-size: map.get($sui-input-font, md, size);
						}
					}

					.sui-#{$block}__field {
						padding-left: 36px;
					}
				}

				@include modifier(right) {
					.suicons {
						right: 0;
						padding: 8px 12px 8px 8px;
					}

					.sui-#{$block}__field {
						padding-right: 44px;
						padding-left: 16px;
					}

					&.sui-#{$block}--sm {
						.sui-#{$block}__field {
							padding-left: 16px;
						}
					}
				}

				@include modifier(left) {
					.suicons {
						left: 0;
					}

					.sui-#{$block}__field {
						padding-left: 44px;
					}
				}
			}
		}
	}
}
