@use "sass:map";

@use "../../../_utils/utils" as *;

/// Build Input
/// This function creates styles for main element
///
/// @type block
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-input($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		@include block($block) {
			position: relative;
			@include element(input) {
				width: 100%;
				max-width: 100%;
				display: block;
				margin: 0;
				padding: $input-spacing-padding-vertical-md $input-spacing-padding-horizontal-md;
				border: 0;
				border-radius: $input-border-radius;
				outline: none;
				background: $input-bg-default;
				color: $input-font-color-default;
				font-size: $input-font-size-md;
				line-height: $input-font-height-md;
				letter-spacing: 0;
				transition: 0.1s ease;

				@include modifier(allow-clear) {
					padding-right: 42px;
				}
			}

			@include element(input-clear) {
				cursor: pointer;
				position: absolute;
				right: 12px;
				top: 8px;
			}

			@include modifier('icon-end') {
				@include modifies-element(input) {
					padding-right: 44px;
				}
			}

			@include modifier('icon-start') {
				@include modifies-element(input) {
					padding-left: 44px;
				}
			}
		}
	}

	// DIR: Right to left.
	// THEME: None.
	@include sui-class($rtl: true, $theme: null) {
		@include block($block) {
			@include modifier('icon-end') {
				@include modifies-element(input) {
					padding-left: 44px;
					padding-right: $input-spacing-padding-horizontal-md;
				}
			}

			@include modifier('icon-start') {
				@include modifies-element(input) {
					padding-right: 44px;
					padding-left: $input-spacing-padding-horizontal-md;
				}
			}
		}
	}

	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: 'dark') {
		@include block($block) {
			@include element(input) {
				color:  $color-extended-neutral-0;
			}
		}
	}
}
