@use "sass:map";

@use "../../../_utils/utils" as *;

/// Build basic box
///
/// @type block
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-basic-box($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		// Block wrapper.
		@include block($block) {
			border: $border-width-sm solid $color-grey-10;
			border-radius: $border-radius-xl;

			@include modifier(bg) {
				background: $color-base-white;
			}
		}
	}

	// DIR: Left to right.
	// THEME: Dark.
	@include sui-class($rtl: false, $theme: dark) {
		// Block wrapper.
		@include block($block) {
			border-color: $color-base-black;
			background: $color-base-white;
			border: $border-width-sm solid $color-grey-10;

			@include modifier(large-radius) {
				border-radius: $border-radius-xl;
			}
		}
	}
}
