@use "sass:math";
@use "../../../_utils/utils" as *;

/// Build Image
///
/// @type block
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-image($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		@include block($block) {
			@include modifier(image) {
				@include modifies-element(option-body-image) {
					display: block;
					border-radius: $border-radius-sm;
					padding-bottom: 50%;
					background-color: $color-extended-neutral-50;
					background-position: center;
					background-size: cover;
					background-repeat: no-repeat;
					margin: $spacing-sm;
					width: auto;
				}

				@include modifies-element(option-header) {
					border: none;
					padding-bottom: $spacing-sm;
				}

				@include modifies-element(option-body-description) {
					padding-top: $spacing-md;
				}
			}
		}
	}
}
