@use "sass:math";
@use "../../../_utils/utils" as *;

/// Build Delete
///
/// @type element
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-delete($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		@include block($block) {
			@include element(option-delete) {
				left: auto;
				padding: $selector-spacing-xs;
				position: absolute;
				right: 0;
				z-index: 2;
			}

			@include element(option-delete-btn) {
				background-color: $color-extended-error-50;
				color: $color-extended-neutral-100;
				border-radius: 4px;
				padding: 4px;
				&:hover {
					background: #ab403e;
				}
			}
		}
	}

	// DIR: Right to left.
	// THEME: None.
	@include sui-class($rtl: true, $theme: null) {
		@include block($block) {
			@include element(option-delete) {
				left: 0;
				right: unset;
			}
		}
	}
}
