@use "sass:math";
@use "../../../_utils/utils" as *;

/// Build Container
///
/// @type block
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-container($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		@include block($block) {
			position: relative;
			display: block;
			cursor: pointer;
			background-color: $color-extended-neutral-100;
			border-radius: $border-radius-md;
			box-shadow: 0 2px 1px 0 $color-shadow-light,
				0 1px 2px 0 $color-shadow-light;
			color: $color-extended-neutral-50;

			@include modifier(center) {
				text-align: center;

				@include modifies-element(option-header) {
					flex-direction: column;
				}
			}
		}
	}

	// DIR: Left to right.
	// THEME: Dark.
	@include sui-class($rtl: false, $theme: dark) {
		@include block($block) {
			color: $color-extended-neutral-0;
			border: $border-width-sm solid $color-extended-neutral-0;
			box-shadow: unset;
		}
	}
}
