@use "sass:math";
@use "../../../_utils/utils" as *;

/// Build Tag
///
/// @type block
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-tag($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		@include block($block) {
			.sui-tag {
				margin: 0;
			}

			@include modifier(center, icon-only) {
				.sui-tag {
					position: absolute;
					top: $spacing-sm;
					right: $spacing-sm;
				}
			}
		}
	}

	// DIR: Right to left.
	// THEME: None.
	@include sui-class($rtl: true, $theme: null) {
		@include block($block) {
			.sui-tag {
				margin: 0;
			}

			@include modifier(center, icon-only) {
				.sui-tag {
					right: unset;
					left: $spacing-sm;
				}
			}
		}
	}
}
