@use "sass:map";

@use "../../../_utils/utils" as *;

/// Build Avatar
/// This function creates styles for the element
/// avatar wrapper.
///
/// @type block
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-size($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		@include block($block) {
			@include modifier(sm) {
				width: $avatar-container-size-sm;
				height: $avatar-container-size-sm;

				@include modifies-element(icon) {
					font-size: $font-size-sm;
				}

				@include modifies-element(status) {
					right: $avatar-status-margin-sm;
					bottom: $avatar-status-margin-sm;
					padding: $spacing-xs;
				}

				@include modifies-element(status-icon) {
					width: $avatar-status-size-sm;
					height: $avatar-status-size-sm;
					font-size: $avatar-status-size-sm;
				}
			}
		}
	}
}
