@use "sass:map";

@use "../../../_utils/utils" as *;

/// Icon
///
/// @type modifier
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin has-icon($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		@include block($block) {
			@include modifier(has-icon) {
				align-items: center;
				display: flex;
			}
		}
	}
}
