.csb-tooltip {
	display: inline-block;
	position: relative;

	.csb-tag {
		display: block;
	}

	.csb-tooltip__message {
		opacity: 0;
		visibility: hidden;
		position: absolute;
		top: 100%;
		left: 0;
		margin: 5px 0 0;
		padding: 10px;
		border-radius: 3px;
		background: #1A1A1A;
		color: #FFF;
		font-size: 12px;
		font-weight: 400;
		line-height: 14px;
		text-overflow: clip;
		white-space: nowrap;
	}

	&.csb-tooltip--active {

		.csb-tooltip__message {
			opacity: 1;
			visibility: visible;
		}
	}
}
