@use "../../../_utils/utils" as *;

$colors: (
	default: $color-grey-60,
	blue: $color-primary-50,
	yellow: $color-yellow-50,
	red: $color-red-50,
	green: $color-green-50,
	white: $color-base-white,
	black: $color-grey-90,
	navy: $color-primary-60,
);

$colors-high-contrast: (
	default: $color-base-black,
	blue: $color-base-black,
	yellow: $color-base-black,
	red: $color-base-black,
	green: $color-base-black,
	black: $color-base-black,
	navy: $color-base-black,
	white: $color-base-white,
);
