@use "sass:map";

$design: (
	solid: (
		default: (
			width: 0,
			style: solid,
			offset: 2px
		),
		focus: (
			width: 2px
		)
	),
	outlined: (
		default: (
			width: 1px,
			style: solid,
			offset: -1px
		),
		focus: (
			width: 2px
		)
	),
	text: (
		default: (
			width: 0,
			style: solid,
			offset: -1px
		),
		focus: (
			width: 2px
		)
	)
);
