
@use "sass:map";

@use "../../../_utils/utils" as *;

/// Build Segmented control button
/// This function creates styles for the element
/// main wrapper.
/// @type block
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-segmented-control-button($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		@include block($block) {
			@include element(button) {
				&:first-child {
					.sui-segmented-control__label {
						border-radius: 4px 0 0 4px;
					}
				}

				&:last-child {
					.sui-segmented-control__label {
						border-radius: 0 4px 4px 0;
						border-right: 1px solid #E6E6E6;
					}
				}
			}
		}
	}

	// DIR: Left to right.
	// THEME: None.
//	@include sui-class($rtl: true, $theme: null) {
//		@include block($block) {
//			&:first-child {
//				margin-left: $tag-margin-horizontal;
//				margin-right: 0;
//			}
//
//			&:last-child {
//				margin-right: $tag-margin-horizontal;
//				margin-left: 0;
//			}
//		}
//	}
}
