@use "sass:map";

@use "../../../_utils/utils" as *;

/// Build Button
/// This function creates styles for the password button
///
/// @type element
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-button($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		@include block($block) {
			.sui-input__input {
				padding-right: $password-input-padding-md;
			}

			.sui-button {
				position: absolute;
				min-width: unset;
				font-size: $password-font-size-sm;
				line-height: $password-font-height-sm;
				bottom: 3px;
				right: 3px;
				padding: $password-padding;

				.sui-button__icon {
					font-size: $password-font-size-lg;
					margin: 0;
				}

				@include modifier(sm) {
					font-size: $password-font-size-xs;
					line-height: $password-font-height-xs;
				}
			}

			@include modifier(icon) {
				.sui-input__input {
					padding-right: $password-input-padding-sm;
				}
			}
		}
	}

	// DIR: Right to left.
	// THEME: None.
	@include sui-class($rtl: true, $theme: null) {
		@include block($block) {
			.sui-input__input {
				padding-left: $password-input-padding-md;
			}

			.sui-button {
				right: auto;
				left: 3px;
			}

			@include modifier(icon) {
				.sui-input__input {
					padding-left: $password-input-padding-sm;
				}
			}
		}
	}
}
