@use "sass:math";
@use "../../../_utils/utils" as *;

/// Build Indicator
///
/// @type element
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-indicator($block) {
    // DIR: Left to right.
    // THEME: None.
    @include sui-class($rtl: false, $theme: null) {
        @include block($block) {
            @include element(indicator) {
                background: $color-extended-neutral-90;
                height: 8px;
                overflow: hidden;
                display: block;
                margin: 8px 0;
                border-radius: 10px;
                appearance: none;
                position: relative;
                width: 100%;
            }

            @include element(indicator-bar) {
                background-color: #3b82f6;
                display: inline-block;
                position: absolute;
                bottom: 0;
                top: 0;
                height: 100%;
                width: 140px;

                @include modifier(indeterminate) {
                    max-width: 140px;
                    @include animation(indeterminate-progress-bar);
                }
            }
        }
    }
}
