@use "../../../_utils/utils" as *;

/// Edit Focus State
///
/// @type modifier
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin edit-expanded($block) {
    // DIR: Left to right.
    // THEME: None.
    @include sui-class($rtl: false, $theme: null) {
        @include block($block) {
            @include element(item) {
                @include modifier(expanded) {
                    .sui-#{$block}__header {
                        background: var(--neutral-grey-light-95-f-8-f-8-f-8, #F8F8F8);
                    }

                    .sui-#{$block}__panel {
                        background: var(--neutral-grey-light-95-f-8-f-8-f-8, #F8F8F8);
                        display: block;
                    }
                }
            }
        }
    }
}
