@use "../../../_utils/utils" as *;

/// Disabled State
///
/// @type modifier
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin state-disabled($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		@include block($block) {
			@include element(item) {
				@include modifier(disabled) {
					box-shadow: none;
					color: $color-extended-neutral-70;
					pointer-events: none;
					user-select: none;

					h2,
					svg {
						color: $color-extended-neutral-70;
					}
				}
			}
		}
	}

	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: dark) {
		@include block($block) {
			@include element(item) {
				@include modifier(disabled) {
					color: $color-extended-neutral-0;

					h2,
					svg {
						color: $color-extended-neutral-0;
					}
				}
			}
		}
	}
}
