@use "sass:map";

@use "../../../_utils/tokens" as *;
@use "../../../_utils/mixins" as *;

/// Layout Main Wrapper.
/// @type block
/// @author WPMU DEV
///
/// @param {String} $block - Main block name.
@mixin layout-main($block) {
	@include sui-class($rtl: false, $theme: null) {
		// Block wrapper.
		@include block($block) {
			margin-left: $layout-spacing-main-md;

			@include media(min-width, sm) {
				margin-left: $layout-spacing-main-sm;
			}

			* {
				box-sizing: border-box;
			}
		}
	}
}
