@use "sass:math";
@use "../../../_utils/utils" as *;

/// Build Container
///
/// @type block
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-container($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		@include block($block) {
			border: 1px solid var(--neutral-grey-80-e-6-e-6-e-6, #E6E6E6);
			background: var(--neutral-base-white, #FFF);
			border-radius: 8px;

			@include element(quick-actions) {
				margin-left: 16px;
			}
		}
	}
}
