@use "sass:math";
@use "../../../_utils/utils" as *;

/// Build Summary box body
///
/// @type element
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-body($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		@include block($block) {
			@include element(body) {
//				padding: 0 16px;
			}

			@include element(body-content) {
				align-items: center;
				background-color: #f0f0f0;
				border-radius: 8px;
				display: flex;
				justify-content: center;
			}
		}
	}
}
