@use "sass:math";
@use "../../../_utils/utils" as *;

/// Build Container
///
/// @type block
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-container($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		@include block($block) {
			border: $border-width-sm solid $color-extended-neutral-80;
			background: $color-extended-neutral-100;
			border-radius: $border-radius-md;

			@include element(quick-actions) {
				display: flex;
				justify-content: space-between;
				align-items: center;
				flex: 1;
				margin-left: $spacing-lg;

				@include media(max-width, sm) {
					margin-left: 0;
					margin-top: $spacing-lg;
				}
			}
		}
	}
}
