@use "../../../_utils/utils" as *;

/// Focus State
///
/// @type state
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin edit-focus($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		@include block($block) {
			@include modifier(focus) {
				@include modifies-element(box) {
					border-color: $color-primary-50;

					&:after {
						border-width: $border-width-md;
						border-color: inherit;
					}
				}
			}
		}
	}

	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: dark) {
		@include block($block) {
			@include modifier(focus) {
				@include modifies-element(box) {
					border-color: $color-extended-neutral-0;
				}
			}
		}
	}
}
