@use "../../../_utils/utils" as *;

/// Disabled State
///
/// @type state
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin edit-disabled($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		@include block($block) {
			@include modifier(disabled) {
				pointer-events: none;
				color: $color-grey-30;

				@include modifies-element(box) {
					border-color: $color-grey-10;
					background: $color-grey-10;
				}

				@include modifies-element(icon) {
					fill: $color-grey-30;
				}
			}
		}
	}
}
