@use "sass:map";

@use "../../../external/utilities" as *;
@use "../_layout-utils/layout-utils" as *;

/// Layout Main Wrapper.
/// @type block
/// @author WPMU DEV
///
/// @param {String} $block - Main block name.
@mixin layout-main($block) {
	// WordPress default spacing.
	$left-sm: 10px;
	$left-md: 20px;

	@include sui-class($rtl: false, $theme: null) {
		// Block wrapper.
		@include block($block) {
			margin-left: -#{$left-sm};

			@include media(min-width, sm) {
				margin-left: -#{$left-md};
			}

			@extend %layout-reset;
		}
	}
}
