@use "sass:map";

@use "../../../_utils/mixins" as *;
@use "../_tooltip-utils/variables" as *;
@use "../_tooltip-utils/mixins" as *;

/// Build Tooltip Position
/// This function creates styles for the element
/// main wrapper.
/// @type block
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-position($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {

		// Block wrapper.
		@include block($block) {

            @include modifier(top) {

                .sui-#{$block}__content {
                    left: 50%;
                    bottom: 100%;
                    margin-bottom: map.get($sui-tooltip-spacing, margin);
                    transform: translateX(-50%);
                    
                    &:after {
                        @include equilateral-triangle(down, 6px, #333);
                        left: 50%;
                        bottom: -6px;
                        transform: translateX(-50%);
                    }
                }
            }

            @include modifier(top-left) {

                .sui-#{$block}__content {
                    left: 0;
                    bottom: 100%;
                    margin-bottom: map.get($sui-tooltip-spacing, margin);
                    transform: translateX(0);

                    &:after {
                        @include equilateral-triangle(down, 6px, #333);
                        left: 8px;
                        bottom: -6px;
                    }
                }
            }

            @include modifier(top-right) {

                .sui-#{$block}__content {
                    right: 0;
                    bottom: 100%;
                    margin-bottom: map.get($sui-tooltip-spacing, margin);
                
                    &:after {
                        @include equilateral-triangle(down, 6px, #333);
                        right: 8px;
                        bottom: -6px;
                    }
                }
            }

            @include modifier(bottom) {

                .sui-#{$block}__content {
                    top: 100%;
                    left: 50%;
                    margin-top: map.get($sui-tooltip-spacing, margin);
                    transform: translateX(-50%);

                    &:after {
                        @include equilateral-triangle(up, 6px, #333);
                        top: -6px;
                        left: 50%;
                        transform: translateX(-50%);
                    }
                }
            }

            @include modifier(bottom-left) {

                .sui-#{$block}__content {
                    top: 100%;
                    left: 0;
                    margin-top: map.get($sui-tooltip-spacing, margin);
                    
                    &:after {
                        @include equilateral-triangle(up, 6px, #333);
                        top: -6px;
                        left: 8px;
                    }
                }
            }

            @include modifier(bottom-right) {

                .sui-#{$block}__content {
                    top: 100%;
                    right: 0;
                    margin-top: map.get($sui-tooltip-spacing, margin);
                    
                    &:after {
                        @include equilateral-triangle(up, 6px, #333);
                        top: -6px;
                        right: 8px;
                    }
                }
            }

            @include modifier(left) {

                .sui-#{$block}__content {
                    top: 50%;
                    right: calc(100% + map.get($sui-tooltip-spacing, margin));
                    transform: translateY(-50%);

                    &:after {
                        right: -6px;
                        top: 50%;
                        transform: translateY(-50%);
                        @include equilateral-triangle(right, 6px, #333);
                    }
                }
            }

            @include modifier(left-top) {

                .sui-#{$block}__content {
                    top: 0;
                    right: calc(100% + map.get($sui-tooltip-spacing, margin));
                    
                    &:after {
                        right: -6px;
                        top: 8px;
                        @include equilateral-triangle(right, 6px, #333);
                    }
                }
            }

            @include modifier(left-bottom) {

                .sui-#{$block}__content {
                    bottom: 0;
                    right: calc(100% + map.get($sui-tooltip-spacing, margin));
                    
                    &:after {
                        right: -6px;
                        bottom: 8px;
                        @include equilateral-triangle(right, 6px, #333);
                    }
                }
            }

            @include modifier(right) {

                .sui-#{$block}__content {
                    top: 50%;
                    left: calc(100% + map.get($sui-tooltip-spacing, margin));
                    transform: translateY(-50%);

                    &:after {
                        left: -6px;
                        top: 50%;
                        transform: translateY(-50%);
                        @include equilateral-triangle(left, 6px, #333);
                    }
                }
            }

            @include modifier(right-top) {

                .sui-#{$block}__content {
                    top: 0;
                    left: calc(100% + map.get($sui-tooltip-spacing, margin));

                    &:after {
                        left: -6px;
                        top: 8px;
                        @include equilateral-triangle(left, 6px, #333);
                    }
                }
            }

            @include modifier(right-bottom) {

                .sui-#{$block}__content {
                    bottom: 0;
                    left: calc(100% + map.get($sui-tooltip-spacing, margin));

                    &:after {
                        left: -6px;
                        bottom: 8px;
                        @include equilateral-triangle(left, 6px, #333);
                    }
                }
            }
		}
	}
}
