@use "sass:map";

@use "../../../_utils/mixins" as *;
@use "../_utils/maps" as *;

@mixin build-design($block-name) {
	@include sui-class($rtl: false, $theme: null) {
		@include block($block-name) {
			@each $name, $state-map in $design {
				@include modifier($name) {
					@each $state, $props in $state-map {
						@if $state == default {
							@if ( map.get($design, $name, $state, width) ) {
								outline-width: map.get($design, $name, $state, width);
							}
							@if ( map.get($design, $name, $state, style) ) {
								outline-style: map.get($design, $name, $state, style);
							}
							@if ( map.get($design, $name, $state, offset) ) {
								outline-offset: map.get($design, $name, $state, offset);
							}
						}
						@else {
							&.sui-button {
								@include modifier($state) {
									@if ( map.get($design, $name, $state, width) ) {
										outline-width: map.get($design, $name, $state, width);
									}
									@if ( map.get($design, $name, $state, style) ) {
										outline-style: map.get($design, $name, $state, style);
									}
									@if ( map.get($design, $name, $state, offset) ) {
										outline-offset: map.get($design, $name, $state, offset);
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
