@use "../../../_utils/utils" as *;

$themes: primary, secondary, tertiary;

$colors: (
	blue: $color-primary-50,
	black: $color-extended-neutral-10,
	red: $color-extended-error-50,
	navy: $color-primary-30,
	white: $color-extended-neutral-100
);

@mixin modify-color {
	@include sui-class($rtl: false, $theme: null) {
		@include block(button) {
			@each $theme in $themes {
				@each $name, $value in $colors {
					$modifier-name: #{$theme + '-' + $name};

					@include modifier($modifier-name) {
						@if $theme == tertiary {
							border-color: transparent;
							background: transparent;
							color: $value;

							&.sui-button--hover {
								border-color: if($name == white, $value, tint($value, 90%));
								background: if($name == white, $value, tint($value, 90%));
								@if $name == white {
									color: $color-extended-neutral-10;
								}
							}

							&.sui-button--focus {
								border-color: $value;
								outline: 1px solid $value;
								background: transparent;
								@if $name == white {
									color: $value;
								}
							}
						}
						@else if $theme == secondary {
							border-color: $value;
							background: transparent;
							color: $value;

							&.sui-button--hover {
								background: if($name == white, $value, tint($value, 90%));
								@if $name == white {
									color: $color-extended-neutral-10;
								}
							}

							&.sui-button--focus {
								outline-width: if($name == white, 2px, 1px);
								outline-style: solid;
								outline-color: $value;
								outline-offset: if($name == white, 2px, 0);
								background: if($name == white, $value, tint($value, 90%));
								@if $name == white {
									color: $color-extended-neutral-10;
								}
							}
						}
						@else {
							border-color: $value;
							background: $value;
							color: if($name == white, $color-extended-neutral-10, $color-extended-neutral-100);

							&.sui-button--hover {
								border-color: if($name == white, shade($value, 5%), shade($value, 40%));
								background: if($name == white, shade($value, 5%), shade($value, 40%));
							}

							&.sui-button--focus {
								border-color: $value;
								outline: 2px solid $value;
								outline-offset: 2px;
								background: $value;
							}
						}
					}
				}
			}
		}
	}
}
