@use "../../../_utils/utils" as *;

@mixin modify-disabled {
	@include sui-class($rtl: false, $theme: null) {
		@include block(button) {
			@include modifier(disabled) {
				cursor: default;
				pointer-events: none;
				border-color: $color-extended-neutral-80;
				background: $color-extended-neutral-80;
				color: $color-extended-neutral-70;
			}
		}
	}
}
