
@use "sass:math";
@use "../../../_utils/utils" as *;

/// Build item
///
/// @type item
/// @author WPMU DEV
///
/// @param {String} $item - Main item name
@mixin build-hover($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		@include block($block) {
			@include element(item) {
				@include modifier(hover) {
					background: $color-primary-90;
					
					.sui-#{$block}__item-info {
						color: $color-primary-50;						
					}
				}
			}
		}
	}
}
