
@use "sass:math";
@use "../../../_utils/utils" as *;

/// Build item
///
/// @type item
/// @author WPMU DEV
///
/// @param {String} $item - Main item name
@mixin build-focus($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		@include block($block) {
			@include element(item) {
				@include modifier(focus) {
					outline: $border-width-md solid $color-extended-neutral-50;
					box-shadow: none;
				}
			}
		}
	}

	// DIR: Left to right.
	// THEME: dark.
	@include sui-class($rtl: false, $theme: dark) {
		@include block($block) {
			@include element(item) {
				@include modifier(focus) {
					outline: none;
				}
			}
		}
	}
}
