@use "../_utils/tokens" as *;
@use "../_utils/bem" as *;
@use "../_utils/mixins" as *;

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");

@include sui-class($rtl: false, $theme: null) {
	&,
	* {
		font-family: $font-family-default;
		font-variant-ligatures: none;
		text-rendering: optimizeLegibility;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
	}

	&,
	p {
		font-size: $body-md-font-size;
		font-weight: $body-font-weight;
		line-height: $body-font-height;
		letter-spacing: $body-font-spacing;
		color: $color-grey-70;

		small {
			font-size: $body-sm-font-size;
		}

		b,
		strong {
			font-weight: $font-weight-lg;
		}
	}

	a {
		color: $color-primary-50;

		&:hover,
		&:focus {
			color: $color-primary-60;
		}
	}

	h1,
	h2,
	h3,
	h4,
	h5 {
		color: $color-grey-90;
	}

	@include block(heading) {
		margin: 0;
		padding: 0;
		border: 0;
		font-weight: $heading-font-weight;

		@include modifier(h1) {
			font-size: $heading-one-font-size;
			line-height: $heading-one-font-height;
			letter-spacing: $heading-one-font-spacing;
		}

		@include modifier(h2) {
			font-size: $heading-two-font-size;
			line-height: $heading-two-font-height;
			letter-spacing: $heading-two-font-spacing;
		}

		@include modifier(h3) {
			font-size: $heading-three-font-size;
			line-height: $heading-three-font-height;
			letter-spacing: $heading-three-font-spacing;
		}

		@include modifier(h4) {
			font-size: $heading-four-font-size;
			line-height: $heading-four-font-height;
			letter-spacing: $heading-four-font-spacing;
		}

		@include modifier(h5) {
			font-size: $heading-five-font-size;
			line-height: $heading-five-font-height;
			letter-spacing: $heading-five-font-spacing;
		}

		@include modifier(h1, h2, h3, h4, h5) {
			color: $color-grey-90;
		}
	}

	@include block(label) {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: $label-font-size;
		font-weight: $label-font-weight;
		line-height: $label-font-height;
		letter-spacing: $label-font-spacing;
	}

	@include block(helper) {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: $helper-font-size;
		font-weight: $helper-font-weight;
		line-height: $helper-font-height;
		letter-spacing: $helper-font-spacing;
	}

	@include block(overline) {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: $overline-font-size;
		font-weight: $overline-font-weight;
		line-height: $overline-font-height;
		letter-spacing: $overline-font-spacing;
		text-transform: uppercase;
	}

	@include block(tag) {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: $tag-font-size;
		font-weight: $tag-font-weight;
		line-height: $tag-font-height;
		letter-spacing: $tag-font-spacing;
	}
}

// Theme: Dark
// Set dark color for global elements
@include sui-class($rtl: false, $theme: dark) {
	h1,
	h2,
	h3,
	h4,
	h5,
	p,
	a {
		color: $color-base-black;
	}
}
