@use "sass:math";
@use "../../../_utils/utils" as *;

/// Build Container
///
/// @type block
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-container($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		@include block($block) {
			overflow: hidden;
			padding: $banner-spacing-md;
			position: relative;
			z-index: 0;

			&:after {
				content: '';
				background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTYiIGhlaWdodD0iNTYiIHZpZXdCb3g9IjAgMCA1NiA1NiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGNpcmNsZSBjeD0iMiIgY3k9IjIiIHI9IjIiIGZpbGw9IndoaXRlIi8+CjxjaXJjbGUgY3g9IjMwIiBjeT0iMiIgcj0iMiIgZmlsbD0id2hpdGUiLz4KPGNpcmNsZSBjeD0iMzAiIGN5PSIzMCIgcj0iMiIgZmlsbD0id2hpdGUiLz4KPGNpcmNsZSBjeD0iMiIgY3k9IjMwIiByPSIyIiBmaWxsPSJ3aGl0ZSIvPgo8L3N2Zz4K");
				left: $banner-bg-position-xs;
				top: $banner-bg-position-xs;
				bottom: 0;
				width: 60%;
				position: absolute;
				background-size: $banner-bg-size;
				opacity: 0.1;
				-webkit-mask-image: linear-gradient(to right, $color-extended-neutral-0 50%, transparent 73%);
			}

			@include media(max-width, sm) {
				padding-left: $spacing-lg;
				padding-right: $spacing-lg;
			}
		}
	}

	// DIR: Right to left.
	// THEME: None.
	@include sui-class($rtl: true, $theme: null) {
		@include block($block) {

			&:after {
				right: $banner-bg-position-xs;
				left: auto;
			}
		}
	}
}
