@use "sass:math";
@use "../../../_utils/utils" as *;

/// Build subtitle
///
/// @type block
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-subtitle($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		@include block($block) {
			@include element(subtitle) {
				color: $color-extended-neutral-100;
				font-size: $font-size-xs;
				line-height: $banner-font-height-sm;
				font-weight: $font-weight-md;
				letter-spacing: $banner-font-spacing;
				margin-bottom: $banner-spacing-sm;
				text-transform: uppercase;
			}
		}
	}
}
