@use "sass:math";
@use "../../../_utils/utils" as *;

/// Build Checked
///
/// @type state
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-checked($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		@include block($block) {
			@include modifier(checked) {
				@include modifies-element(option) {
					position: relative;
					&:after {
						content: "";
						position: absolute;
						inset: -#{$border-width-md};
						border: $border-width-md solid $color-primary-50;
						border-radius: inherit;
					}
				}

				@include modifies-element(header-icon, header-title) {
					color: $color-primary-50;
				}
			}
		}
	}

	// DIR: Left to right.
	// THEME: Dark.
	@include sui-class($rtl: false, $theme: dark) {
		@include block($block) {
			@include modifier(checked) {
				@include modifies-element(option) {
					&:after {
						border-color: $color-base-black;
					}
				}

				@include modifies-element(header-icon, header-title) {
					color: $color-base-black;
				}
			}
		}
	}
}
