@use "sass:map";

@use "../../../_utils/utils" as *;

/// Build Footer
/// This function creates styles for the element
/// main wrapper.
/// @type block
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-footer($block) {
    // DIR: Left to right.
    // THEME: None.
    @include sui-class($rtl: false, $theme: null) {
        // Block wrapper.
        @include block($block) {
            @include element(footer) {
                border-top: 1px solid var(--neutral-grey-80-e-6-e-6-e-6, #E6E6E6);
                display: flex;
                padding: 16px;
                justify-content: end;
            }
        }
    }
}
