@use "sass:map";

@use "../../../_utils/utils" as *;

/// Build popover
/// This function creates styles for the element
/// main wrapper.
/// @type block
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-popover($block) {
    // DIR: Left to right.
    // THEME: None.
    @include sui-class($rtl: false, $theme: null) {
        // Block wrapper.
        @include block($block) {
           @include element(popover) {
               background: white;
               box-shadow: 0 2px 4px 0 rgba(115, 115, 115, 0.10), 0 1px 16px 0 rgba(115, 115, 115, 0.05), 0 6px 12px 0 rgba(115, 115, 115, 0.08);
               display: none;
               margin-top: 2px;
               position: absolute;
               width: auto;

               @include modifier(open) {
                   display: block;
               }
           }
        }
    }
}
