@use "sass:map";

@use "../../../_utils/utils" as *;

/// Build calendar
/// This function creates styles for the element
/// main wrapper.
/// @type block
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-calendar($block) {
    // DIR: Left to right.
    // THEME: None.
    @include sui-class($rtl: false, $theme: null) {
        // Block wrapper.
        @include block($block) {
            @include element(calendars) {
                display: block;

                @include media(min-width, sm) {
                    display: flex;
                }
            }

            @include element(calendar-month) {
                font-size: 13px;
                flex: 1;
                max-width: 285px;
                width: 100%;

                &:first-child {
                    border-right: 1px solid var(--neutral-grey-80-e-6-e-6-e-6, #E6E6E6);
                }
            }

            @include element(calendar-weekdays) {
                align-items: center;
                color: var(--neutral-grey-60737373, #737373);
                background: var(--neutral-grey-95-f-8-f-8-f-8, #F8F8F8);
                display: flex;
            }

            @include element(calendar-weekday) {
                padding: 12px;
                width: 40px;
                text-align: center;
            }

            @include element(calendar-days) {
                background: white;
                align-items: center;
                color: var(--neutral-grey-60737373, #737373);
                display: flex;
                flex-wrap: wrap;
            }

            @include element(calendar-list) {
                border-top: 1px solid var(--neutral-grey-80-e-6-e-6-e-6, #E6E6E6);
                overflow-y: auto;
                max-height: 248px;
            }

            @include element(calendar-list-item) {
                list-style: none;
                padding: 4px 16px;

                @include modifier(active) {
                    span {
                        color: var(--primary-blue-base-50286-ef-1, #286EF1);
                    }
                }

                span {
                    cursor: pointer;
                }
            }

            @include element(calendar-nav) {
                align-items: center;
                display: flex;
                justify-content: space-between;
                padding: 10px 16px;
            }

            @include element(calendar-nav-item) {
                align-items: center;
                cursor: pointer;
                display: flex;
            }

            @include element(calendar-dropdown-btn) {
                font-size: 13px;
                font-weight: 500;
                align-items: center;
                display: flex;
                gap: 8px;
                padding: 0 16px;
                justify-content: space-between;
            }
        }
    }
}
