@use "sass:map";

@use "../../../_utils/utils" as *;

/// Build calendar
/// This function creates styles for the element
/// main wrapper.
/// @type block
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-calendar($block) {
    // DIR: Left to right.
    // THEME: None.
    @include sui-class($rtl: false, $theme: null) {
        // Block wrapper.
        @include block($block) {
            @include element(calendars) {
                display: block;

                @include media(min-width, sm) {
                    display: flex;
                }
            }

            @include element(calendar-month) {
                position: relative;
                font-size: $datepicker-font-size;
                flex: 1;
                width: $datepicker-size-width-lg;

                @include media(max-width, sm) {
                    &:last-child {
                        border-top: $border-width-sm solid $color-extended-neutral-80;
                    }
                }
            }

            @include modifier(range) {
                @include modifies-element(calendar-month) {
                    &:last-child::before {
                        content: '';
                        position: absolute;
                        width: $border-width-sm;
                        height: 100%;
                        left: 0;
                        top: 0;
                        bottom: 0;
                        background: $color-extended-neutral-80;
                        z-index: 1;

                        @include media(max-width, sm) {
                            content: unset;
                        }
                    }
                }
            }

            @include element(calendar-weekdays) {
                align-items: center;
                color: $color-extended-neutral-60;
                background: $color-extended-neutral-95;
                display: flex;
            }

            @include element(calendar-weekday) {
                padding: $datepicker-spacing-md;
                width: $datepicker-size-width-md;
                text-align: center;
            }

            @include element(calendar-days) {
                background: $color-extended-neutral-100;
                align-items: center;
                color: $color-extended-neutral-50;
                display: flex;
                flex-wrap: wrap;
            }

            @include element(calendar-list) {
                border-top: $border-width-sm solid $color-extended-neutral-80;
                max-height: $datepicker-size-height-lg;
                overflow-y: auto;
                margin: 0;
            }

            @include element(calendar-list-item) {
                list-style: none;
                
                @include modifier(active) {
                    span {
                        color: $color-primary-50;
                    }
                }

                span {
                    display: inline-block;
                    padding: $spacing-sm $spacing-lg;
                    cursor: pointer;
                }
            }

            @include element(nav) {
                align-items: center;
                display: flex;
                justify-content: space-between;
                padding: $spacing-md $datepicker-spacing-xs;
                color: $color-extended-neutral-10;

                @include modifier(btn) {
                    font-size: $datepicker-font-size;
                    font-weight: $font-weight-md;
                }
            }
        }
    }

    // DIR: Right to left.
    // THEME: None.
    @include sui-class($rtl: true, $theme: null) {
        // Block wrapper.
        @include block($block) {

            @include modifier(range) {
                @include modifies-element(calendar-month) {
                    &:last-child::before {
                        left: auto;
                        right: 0;
                    }
                }
            }
        }
    }

    // DIR: Left to right.
    // THEME: Dark.
    @include sui-class($rtl: false, $theme: dark) {
        // Block wrapper.
        @include block($block) {

            @include modifier(range) {
                @include modifies-element(calendar-month) {
                    &:last-child::before {
                        background: $color-extended-neutral-0;
                    }
                }
            }

            @include element(calendar-weekdays) {
                color: $color-extended-neutral-0;
                background: $color-extended-neutral-100;
                border-top: $border-width-sm solid $color-extended-neutral-0;
                border-bottom: $border-width-sm solid $color-extended-neutral-0;
            }

            @include element(calendar-days) {
                color: $color-extended-neutral-0;
            }

            @include element(calendar-list) {
                border-top: $border-width-sm solid $color-extended-neutral-0;
            }

            @include element(calendar-list-item) {
                span {
                    color: $color-extended-neutral-0;
                }
            }

            @include element(calendar-month) {

                @include media(max-width, sm) {
                    &:last-child {
                        border-top: $border-width-sm solid $color-extended-neutral-0;
                    }
                }
            }

            @include element(nav) {
                color: $color-extended-neutral-0;
            }
        }
    }
}
