@use "sass:map";

@use "../../../_utils/utils" as *;

/// Build Tabs container
/// This function creates styles for the element
/// main wrapper.
/// @type block
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-container($block) {
    // DIR: Left to right.
    // THEME: None.
    @include sui-class($rtl: false, $theme: null) {
        // Block wrapper.
        @include block($block) {
            background: $color-extended-neutral-100;
            border: $tabs-border-width solid $tabs-border-color;
            border-radius: $tabs-border-radius;
            box-shadow: 0px 2px 5px 0px $tabs-shadow-light, 0px 8px 17px 0px $tabs-shadow-medium, 0px 36px 80px 0px $tabs-shadow-dark;
            overflow: hidden;
        }
    }
}
