@use "sass:map";

@use "../../../_utils/utils" as *;
//@use "../_score-utils/variables" as *;
//@use "../_score-utils/colors" as *;
//@use "../_score-utils/animation" as *;

/// Build Accordion item
/// This function creates styles for the element
/// main wrapper.
/// @type block
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-nav-item($block) {
    // DIR: Left to right.
    // THEME: None.
    @include sui-class($rtl: false, $theme: null) {
        // Block wrapper.
        @include block($block) {
            @include element(nav-item) {
                align-items: center;
                background-color: white;
                border: none;
                border-bottom: 4px solid transparent;
                color: var(--neutral-grey-base-50505050, #505050);
                cursor: pointer;
                display: flex;
                font: 500 15px/24px $font-family-default;
                gap: 4px;
                padding: 28px 16px;
                max-height: 80px;
                white-space: nowrap;
            }
        }
    }

    // DIR: Left to right.
    // THEME: Dark.
    @include sui-class($rtl: false, $theme: dark) {
        // Block wrapper.
        @include block($block) {
            @include element(nav-item) {
                color: $color-extended-neutral-0;

                svg {
                    color: $color-extended-neutral-0;
                }
            }
        }
    }
}
