@use "sass:map";

@use "../../../_utils/utils" as *;

/// Build Tabs container
/// This function creates styles for the element
/// main wrapper.
/// @type block
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-container($block) {
    // DIR: Left to right.
    // THEME: None.
    @include sui-class($rtl: false, $theme: null) {
        // Block wrapper.
        @include block($block) {
            background: white;
            border: 1px solid var(--neutral-grey-80-e-6-e-6-e-6, #E6E6E6);
            border-radius: 4px;
            overflow: hidden;
            box-shadow: 0px 2.3940367698669434px 5.32008171081543px 0px rgba(0, 0, 0, 0.02), 0px 8.041070938110352px 17.869047164916992px 0px rgba(0, 0, 0, 0.03), 0px 36px 80px 0px rgba(0, 0, 0, 0.05);
        }
    }
}
