@use "sass:map";

@use "../../../_utils/utils" as *;

/// Build Arrow
/// This function creates styles for the element
/// main wrapper.
/// @type block
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-arrow($block) {
    // DIR: Left to right.
    // THEME: None.
    @include sui-class($rtl: false, $theme: null) {
        // Block wrapper.
        @include block($block) {
            @include element(arrow) {
                position: absolute;
                height: 100%;
                top: 0;
                cursor: pointer;
                width: 48px;
                border: none;
                color: #aaa;

                &:hover {
                    background: var(--neutral-grey-light-100-ffffff, #FFF);
                    color: #1a1a1a;
                }

                @include modifier(left) {
                    left: 0;
                    background: linear-gradient(90deg, #FFF 0%, #FFF 71.63%, rgba(248, 248, 248, 0.00) 100%);
                }

                @include modifier(right) {
                    right: 0;
                    background: linear-gradient(270deg, #FFF 0%, #FFF 71.63%, rgba(248, 248, 248, 0.00) 100%);
                }
            }
        }
    }

    // DIR: Left to right.
    // THEME: Dark.
    @include sui-class($rtl: false, $theme: dark) {
        // Block wrapper.
        @include block($block) {
            @include element(arrow) {
                background: $color-extended-neutral-100;
                color: $color-extended-neutral-0;

                &:hover {
                    color: $color-extended-neutral-0;
                }

                &:focus {
                    border: $tabs-border-width solid $color-extended-neutral-0;
                }
            }
        }
    }
}
