@use "sass:map";

@use "../../../_utils/utils" as *;

/// Build Tabs container
/// This function creates styles for the element
/// main wrapper.
/// @type block
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-container($block) {
    // DIR: Left to right.
    // THEME: None.
    @include sui-class($rtl: false, $theme: null) {
        // Block wrapper.
        @include block($block) {
            background: white;
            border: 1px solid var(--neutral-grey-80-e-6-e-6-e-6, #E6E6E6);
            border-radius: 4px;
        }
    }
}
