@use "sass:map";

@use "../../../_utils/mixins" as *;
@use "../_score-utils/variables" as *;
@use "../_score-utils/animation" as *;

/// Build SVG
/// This function creates styles for the element
/// main wrapper.
/// @type block
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-svg($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		// Block wrapper.
		@include block($block) {
			
			// svg wrapper
			svg {
                height: 100%;
				transform: rotate(-90deg);
				transform-origin: center;
            }

			circle {
                fill: none;
				// stroke-linecap: butt;

				// Background.
				&:first-child {
					stroke: #e6e6e6;
				}

				// Dial.
				&:last-child {
					stroke: #1ABC9C;
				}
            }

			@include modifier(lg) {
                circle {
                    stroke-width: 10px;
                }
            }
		}
	}
}
