@use "sass:map";

@use "../../../_utils/utils" as *;

/// Build Skeleton Container
///
/// @type block
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-container($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		// Block wrapper.
		@include block($block) {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100%;
			overflow: hidden;
			height: $skeleton-height;
			border-radius: $border-radius-sm;
			animation: $skeleton-animation;
			background: $skeleton-background;
		}
	}
}
