@use "sass:math";
@use "../../../_utils/utils" as *;

/// Build User
///
/// @type block
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-user($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		@include block($block) {
			@include element(user) {
				border-bottom: $border-width-sm solid $color-extended-neutral-80;
				margin-bottom: $navigation-spacing-sm;
				padding: $spacing-md $spacing-lg $navigation-spacing-md $spacing-xl;

				@include modifier(name) {
					color: $color-extended-neutral-10;
					font-weight: $font-weight-md;
				}

				@include modifier(email) {
					color: $color-extended-neutral-60;
				}
			}

			@include element(dropdown) {
				@include modifier(split) {
					.sui-dropdown__menu-items {
						.sui-dropdown__menu-item {
							&:last-child {
								position: relative;
								margin-top: $spacing-lg;

								&:after {
									content: "";
									position: absolute;
									top: -#{$spacing-md};
									left: 0;
									right: 0;
									border-top: $border-width-sm solid $color-extended-neutral-80;
								}
							}
						}
					}
				}
			}
		}
	}

	// DIR: Left to right.
	// THEME: Dark.
	@include sui-class($rtl: false, $theme: dark) {
		@include block($block) {
			@include element(user) {
				border-color: $color-extended-neutral-0;

				@include modifier(name, email) {
					color: $color-extended-neutral-0;
				}
			}
		}
	}
}
