@use "sass:math";
@use "../../../_utils/utils" as *;

/// Build User
///
/// @type block
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-user($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		@include block($block) {
			@include element(user) {
				border-bottom: $border-width-sm solid $color-grey-10;
				margin-bottom: $navigation-spacing-sm;
				padding: $spacing-md $spacing-lg $navigation-spacing-md $spacing-xl;

				@include modifier(name) {
					color: $color-grey-90;
					font-weight: $font-weight-md;
				}

				@include modifier(email) {
					color: $color-grey-60;
				}
			}
		}
	}

	// DIR: Left to right.
	// THEME: Dark.
	@include sui-class($rtl: false, $theme: dark) {
		@include block($block) {
			@include element(user) {
				border-color: $color-base-black;

				@include modifier(name, email) {
					color: $color-base-black;
				}
			}
		}
	}
}
