@use "sass:math";
@use "../../../_utils/utils" as *;

/// Build Container
///
/// @type block
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-container($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		@include block($block) {
			align-items: center;
			background-color: $color-extended-neutral-100;
			display: flex;
			gap: $spacing-lg;
			justify-content: space-between;
			padding: $spacing-default $spacing-2xl;

			.sui-dropdown__popover {
				.sui-dropdown__menu-group-title {
					padding: $spacing-md $spacing-xl;
				}

				.sui-dropdown__menu-item {
					padding: $spacing-md $spacing-xl;
					font: $font-weight-md #{$font-size-default}/#{$font-height-sm}
						$font-family-default;
					color: $color-extended-neutral-50;

					&.sui-dropdown__menu-item--hover {
						color: $color-extended-neutral-0;
					}
				}
			}

			@include element(drawer) {
				.sui-drawer {
					top: 118px;
					border-top: $border-width-sm solid $color-extended-neutral-80;
				}
			}

			@include element(actions) {
				display: flex;
				align-items: center;
				gap: $spacing-lg;
				padding-left: $spacing-lg;
				border-left: $border-width-sm solid $color-extended-neutral-80;

				.sui-dropdown {
					display: flex;
				}

				.sui-button {
					margin: 0;
				}

				@include media(max-width, sm) {
					display: none;
				}

				@include modifier(mobile) {
					display: none;
					@include media(max-width, sm) {
						display: flex;
						border-left: 0;
						padding-left: 0;
					}
				}
			}

			@include media(max-width, md) {
				padding: $spacing-xl;
			}

			@include media(max-width, sm) {
				padding: $spacing-lg;
			}
		}
	}

	// DIR: Left to right.
	// THEME: Dark.
	@include sui-class($rtl: false, $theme: dark) {
		@include block($block) {
			border: $border-width-sm solid $color-extended-neutral-0;

			.sui-dropdown__popover {
				.sui-dropdown__menu-item {
					color: $color-extended-neutral-0;

					&.sui-dropdown__menu-item--hover {
						color: $color-extended-neutral-100;
					}
				}
			}
		}
	}
}
