@use "sass:math";
@use "../../../_utils/utils" as *;

/// Build Brand
///
/// @type block
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-brand($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		@include block($block) {
			@include element(brand) {
				align-items: center;
				display: flex;
				gap: $spacing-lg;

				h3 {
					margin: 0;
				}
			}

			@include element(custom-icon) {
				display: inline-flex;
				align-items: center;
				justify-content: center;
				height: $navigation-size-height-lg;
				width: $navigation-size-width-lg;

				img {
					width: 100%;
				}

				@include media(max-width, md) {
					height: $navigation-size-height-md;
					width: $navigation-size-width-md;
				}
			}

			@include element(icon) {
				display: inline-flex;
				align-items: center;
				justify-content: center;
				background-color: $color-grey-10;
				border-radius: $border-radius-xl;
				height: $navigation-size-height-lg;
				width: $navigation-size-width-lg;

				@include media(max-width, md) {
					height: $navigation-size-height-md;
					width: $navigation-size-width-md;
					border-radius: $navigation-border-radius-md;
				}
			}

			@include element(info) {
				@include media(max-width, sm) {
					display: none;
				}

				@include modifier(show-title-in-mobile, show-description-in-mobile) {
					@include media(max-width, sm) {
						display: block;
					}
				}

				@include media(max-width, sm) {
					h3 {
						font-size: $font-size-sm;
						line-height: $font-height-sm;
					}
				}

				@include modifier(desc) {
					display: block;
					color: $color-grey-60;
					font-size: $font-size-xs;
					line-height: $font-height-xs;
					font-weight: $font-weight-md;
					letter-spacing: $font-spacing-2xl;
					text-transform: uppercase;

					@include media(max-width, md) {
						display: none;
					}
				}

				@include modifier(show-description-in-mobile) {
					@include media(max-width, md) {
						.sui-navigation__info--desc {
							display: block;
						}
					}
				}
			}
		}
	}

	// DIR: Left to right.
	// THEME: Dark.
	@include sui-class($rtl: false, $theme: dark) {
		@include block($block) {
			@include element(info) {
				@include modifier(desc) {
					color: $color-base-black;
				}
			}
		}
	}
}
