/// Status Colors.
/// @author WPMU DEV
///
/// @since 1.0.0
$palette-status: (
	success: (
		10: #05250f,
		30: #0c5e26,
		50: #18bb4b,
		70: #baebc9,
		90: #e8f8ed,
	),
	warning: (
		10: #191609,
		30: #5b502b,
		50: #ffcc20,
		70: #fff4ce,
		90: #fffbef,
	),
	error: (
		10: #180909,
		30: #ab403e,
		50: #f45c59,
		70: #fccecd,
		90: #feefee,
	),
);
