@use "../../../_utils/tokens" as *;

/// Main Colors.
/// @author WPMU DEV
///
/// @since 1.0.0
$sui-palette: (
	primary: (
		10: $color-primary-10,
		40: $color-primary-60,
		50: $color-primary-50,
		80: $color-primary-10,
		90: $color-primary-05,
	),
	neutral: (
		0: $color-base-black,
		10: $color-grey-90,
		20: $color-grey-80,
		50: $color-grey-50,
		60: $color-grey-60,
		70: $color-grey-30,
		80: $color-grey-10,
		90: $color-grey-05,
		95: $color-grey-02,
		100: $color-base-white,
	),
	success: (
		10: $color-green-90,
		30: $color-green-70,
		50: $color-green-50,
		70: $color-green-10,
		90: $color-green-05,
	),
	warning: (
		10: $color-yellow-90,
		30: $color-yellow-80,
		50: $color-yellow-50,
		70: $color-yellow-10,
		90: $color-yellow-05,
	),
	error: (
		10: $color-red-90,
		30: $color-red-60,
		50: $color-red-50,
		70: $color-red-10,
		90: $color-red-05,
	),
);
