@use "../../../_utils/utils" as *;

/// Edit Size
///
/// @type modifier
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin edit-size($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		@include block($block) {
			@include modifier(sm) {
				.sui-radio {
					font-size: $font-size-xs;
					line-height: $font-height-xxs;

					@include modifies-element(box) {
						width: $radio-size-md;
						height: $radio-size-md;
					}

					@include modifies-element(icon) {
						width: $radio-size-xs;
						height: $radio-size-xs;
					}

					.sui-radio__description {
						font-size: $font-size-xs;
						line-height: $font-height-xxs;
						margin-left: $radio-spacing-sm;
					}
				}
			}
		}
	}

	// DIR: Right to left.
	// THEME: None.
	@include sui-class($rtl: true, $theme: null) {
		@include block($block) {
			@include modifier(sm) {
				.sui-radio {
					.sui-radio__description {
						margin-right: $radio-spacing-sm;
						margin-left: 0;
					}
				}
			}
		}
	}
}
