@use "sass:math";
@use "../../../_utils/utils" as *;

/// Build group
///
/// @type block
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-group($block) {
    // DIR: Left to right.
    // THEME: None.
    @include sui-class($rtl: false, $theme: null) {
        @include block($block) {
            @include element(group) {
                align-items: center;
                border-bottom: $border-width-sm solid $color-extended-neutral-80;
                display: flex;
                justify-content: space-between;
                padding: $spacing-xl 0;

                @include media(max-width, sm) {
                    padding: $spacing-lg 0;
                }

                &:last-child {
                    border: none;
                }

                @include modifier(center) {
                    justify-content: center;
                }

                @include modifier(links) {
                    a {
                        display: flex;
                    }

                    @include media(max-width, sm) {
                        flex-wrap: wrap;
                    }
                }

                @include modifier(credits) {
                    font-size: $font-size-xs;
				    line-height: $font-height-xs;

                    @include media(max-width, sm) {
                        flex-direction: column;
                        text-align: center;
                        gap: $spacing-md;
                    }
                }
            }
        }
    }

    // DIR: Left to right.
    // THEME: Dark.
    @include sui-class($rtl: false, $theme: dark) {
        @include block($block) {
            @include element(group) {
                border-color: $color-extended-neutral-0;
            }
        }
    }
}
