@use "sass:math";
@use "../../../_utils/utils" as *;

/// Build block
///
/// @type block
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-block($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		@include block($block) {
			@include element(block) {
				color: $color-grey-70;
			}
		}
	}

	// DIR: Left to right.
	// THEME: Dark.
	@include sui-class($rtl: false, $theme: dark) {
		@include block($block) {
			@include element(block) {
				color: $color-base-black;
			}
		}
	}
}
