@use "sass:math";
@use "../../../_utils/utils" as *;

/// Build Container
///
/// @type block
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-container($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		@include block($block) {
			background: $color-extended-neutral-100;
			padding: $spacing-md $spacing-2xl;

			@include media(max-width, sm) {
				padding: 0 $spacing-lg;
			}

			@include modifier(transparent) {
				background: transparent;
			}
		}
	}
}
