@use "sass:math";
@use "../../../_utils/utils" as *;

/// Build Container
///
/// @type block
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-container($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		@include block($block) {
			align-items: flex-start;
			display: flex;
			height: $modal-size-height-xl;
			justify-content: center;
			left: 0;
			overflow: auto;
			overscroll-behavior-y: none;
			padding: $modal-spacing-lg 0;
			position: fixed;
			top: 0;
			transition-duration: 0.4s;
			visibility: hidden;
			width: $modal-size-width-xl;
			z-index: 999999;

			@include element(container) {
				background: $color-extended-neutral-100;
				box-shadow: 0 $shadow-offset-sm $shadow-offset-md 0 $color-shadow-light,
					0 $shadow-offset-sm $shadow-offset-2xl 0 $color-shadow-dark,
					0 $shadow-offset-lg $shadow-offset-xl 0 $color-shadow-default;
				border-radius: $border-radius-xl;
				padding: $spacing-xxl 0;
				position: relative;
				max-width: $modal-size-width-md;
				width: 100%;

				@include media(max-width, sm) {
					margin: 0 $spacing-lg;
					padding: $spacing-lg 0;
				}
			}
		}
	}

	// DIR: Left to right.
	// THEME: Dark.
	@include sui-class($rtl: false, $theme: dark) {
		@include block($block) {
			@include element(container) {
				border: $border-width-sm solid $color-extended-neutral-0;
				box-shadow: none;
			}
		}
	}
}
