@use "sass:math";
@use "../../../_utils/utils" as *;

/// Build Container
///
/// @type block
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-container($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		@include block($block) {
			display: flex;
			overflow: auto;
			overscroll-behavior-y: none;
			padding: $modal-spacing-lg $spacing-lg;
			transition-duration: 0.4s;
			visibility: hidden;
			z-index: 999999;

			@include media(max-width, lg) {
				padding: $spacing-xl $spacing-lg;
			}

			@include media(max-width, sm) {
				padding: $spacing-lg;
			}

			@include element(container) {
				background: $color-extended-neutral-100;
				box-shadow: 0 $shadow-offset-sm $shadow-offset-md 0 $color-shadow-light,
					0 $shadow-offset-sm $shadow-offset-2xl 0 $color-shadow-dark,
					0 $shadow-offset-lg $shadow-offset-xl 0 $color-shadow-default;
				border-radius: $border-radius-xl;
				padding: $spacing-2xl 0;
				position: relative;
				max-width: $modal-size-width-md;
				width: 100%;
				margin: auto;
				flex: 0 0 auto;

				@include media(max-width, sm) {
					padding: $spacing-lg 0;
				}
			}

			@include modifier(advanced) {
				@include modifies-element(container) {
					display: flex;
					flex-direction: column;
					max-height: 100%;
				}
			}
		}
	}

	// DIR: Left to right.
	// THEME: Dark.
	@include sui-class($rtl: false, $theme: dark) {
		@include block($block) {
			@include element(container) {
				border: $border-width-sm solid $color-extended-neutral-0;
				box-shadow: none;
			}
		}
	}
}
