@use "sass:math";
@use "../../../_utils/utils" as *;

/// Build Body
///
/// @type block
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-body($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		@include block($block) {
			@include element(body) {
				padding: $spacing-2xl;
				flex: 1;

				@include media(max-width, sm) {
					padding: $spacing-lg;
				}
			}

			@include modifier(advanced) {
				@include modifies-element(body) {
					overflow-y: auto;
				}
			}
		}
	}

	// DIR: Left to right.
	// THEME: Dark.
	@include sui-class($rtl: false, $theme: dark) {
		@include block($block) {
			@include element(body) {
				color: $color-extended-neutral-0;
			}
		}
	}
}
