@use "../../../_utils/utils" as *;

/// Loading
///
/// @type modifier
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin modify-loading($block-name) {
	@include sui-class($rtl: false, $theme: null) {
		@include block($block-name) {
			@include modifier(loading) {
				pointer-events: none;
			}
		}
	}
}
