@use "../../../_utils/utils" as *;

$themes: primary, secondary, tertiary;

$colors: (
	primary: (
		blue: (
			default: $color-primary-50,
			hover: $color-primary-60,
		),
		black: (
			default: $color-grey-90,
			hover: $color-grey-70,
		),
		red: (
			default: $color-red-50,
			hover: $color-red-60,
		),
		navy: (
			default: $color-primary-60,
			hover: $color-primary-60,
		),
		white: (
			default: $color-base-white,
			hover: $color-white-a90,
		),
	),
	secondary: (
		blue: (
			default: $color-primary-50,
			hover: $color-primary-a10,
		),
		black: (
			default: $color-grey-90,
			hover: $color-black-a10,
		),
		red: (
			default: $color-red-50,
			hover: $color-red-a10,
		),
		navy: (
			default: $color-primary-60,
			hover: $color-primary-a10,
		),
		white: (
			default: $color-base-white,
			hover: $color-base-white,
		),
	),
	tertiary: (
		blue: (
			default: $color-primary-50,
			hover: $color-primary-a10,
		),
		black: (
			default: $color-grey-90,
			hover: $color-black-a10,
		),
		red: (
			default: $color-red-50,
			hover: $color-red-a10,
		),
		navy: (
			default: $color-primary-60,
			hover: $color-primary-a10,
		),
		white: (
			default: $color-base-white,
			hover: $color-base-white,
		),
	),
);

$colors-high-contrast: (
	blue: $color-base-black,
	black: $color-base-black,
	red: $color-base-black,
	navy: $color-base-black,
	white: $color-base-white,
);

/// Color
///
/// @type modifier
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin modify-color($block-name) {
	@include sui-class($rtl: false, $theme: null) {
		@include block($block-name) {
			@each $theme in $themes {
				@each $name, $values in map-get($colors, $theme) {
					$default: map-get($values, default);
					$hover: map-get($values, hover);
					$modifier-name: #{$theme + "-" + $name};

					@include modifier($modifier-name) {
						@if $theme == tertiary {
							border-color: transparent;
							background: transparent;
							color: $default;

							// To override rules when button is disabled
							&.sui-button--disabled {
								border-color: transparent;
								background: transparent;
							}

							&.sui-#{$block-name}--hover {
								background: $hover;
								color: if($name == white, $color-grey-90, $default);
							}

							&.sui-#{$block-name}--focus {
								background: if($name == white, transparent, $color-base-white);
								color: $default;

								&:after {
									border-width: $border-width-md;
									inset: -#{$border-width-md};
									border-radius: $border-radius-default;
									border-color: $default;
								}
							}
						} @else if $theme == secondary {
							border-color: $default;
							background: transparent;
							color: $default;

							&.sui-#{$block-name}--hover {
								background: $hover;
								color: if($name == white, $color-grey-90, $default);
							}

							&.sui-#{$block-name}--focus {
								background: $hover;
								color: if($name == white, $color-grey-90, $default);

								&:after {
									border-width: $border-width-md;
									inset: if($name == white, -5px, -#{$border-width-md});
									border-radius: if(
										$name == white,
										$border-radius-md,
										$border-radius-sm
									);
								}
							}
						} @else {
							border-color: $default;
							background: $default;
							color: if($name == white, $color-grey-90, $color-base-white);

							&.sui-#{$block-name}--hover {
								border-color: $hover;
								background: $hover;
								color: if($name == white, $color-grey-90, $color-base-white);
							}

							&.sui-#{$block-name}--focus {
								border-color: $default;
								background: $default;
								color: if($name == white, $color-grey-90, $color-base-white);

								&:after {
									border-width: $border-width-md;
									inset: -5px;
									border-radius: $border-radius-md;
								}
							}
						}
					}
				}
			}
		}
	}

	@include sui-class($rtl: false, $theme: "dark") {
		@include block($block-name) {
			@each $theme in $themes {
				@each $name, $value in $colors-high-contrast {
					$modifier-name: #{$theme + "-" + $name};

					@include modifier($modifier-name) {
						@if $theme == tertiary {
							color: $value;

							&.sui-#{$block-name}--hover {
								@if $name == white {
									background: tint($value, 90%);
									color: $color-grey-90;
								}
								@if $name != white {
									background: none;
									border-color: $color-base-black;
								}
							}

							&.sui-#{$block-name}--focus {
								background: transparent;
								color: inherit;
								@if $name == white {
									color: $value;
								}

								&:after {
									border-color: $value;
								}
							}
						} @else if $theme == secondary {
							border-color: $value;
							color: $value;

							&.sui-#{$block-name}--hover {
								@if $name != white {
									background: tint($value, 90%);
								}
								@if $name == white {
									color: $color-grey-90;
									background: $value;
								}
							}

							&.sui-#{$block-name}--focus {
								border-color: $value;
								@if $name != white {
									background: tint($value, 90%);
								}
								@if $name == white {
									color: $color-grey-90;
								}
							}
						} @else {
							border-color: $value;
							background: $value;
							color: $color-base-white;

							&.sui-#{$block-name}--focus {
								background: $value;
							}
						}
					}
				}
			}
		}
	}
}
