@use "../../../_utils/utils" as *;

$themes: primary, secondary, tertiary;

$colors: (
	blue: $color-primary-50,
	black: $color-grey-90,
	red: $color-red-50,
	navy: $color-primary-60,
	white: $color-base-white,
);

$colors-high-contrast: (
	blue: $color-base-black,
	black: $color-base-black,
	red: $color-base-black,
	navy: $color-base-black,
	white: $color-base-white,
);

/// Color
///
/// @type modifier
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin modify-color($block-name) {
	@include sui-class($rtl: false, $theme: null) {
		@include block($block-name) {
			@each $theme in $themes {
				@each $name, $value in $colors {
					$modifier-name: #{$theme + "-" + $name};

					@include modifier($modifier-name) {
						@if $theme == tertiary {
							border-color: transparent;
							background: transparent;
							color: $value;

							&.sui-#{$block-name}--hover {
								border-color: if($name == white, $value, tint($value, 90%));
								background: if($name == white, $value, tint($value, 90%));
								color: if($name == white, $color-grey-90, $value);
							}

							&.sui-#{$block-name}--focus {
								background: if($name == white, transparent, $color-base-white);
								color: $value;

								&:after {
									border-width: $border-width-md;
									inset: -#{$border-width-md};
									border-radius: $border-radius-default;
									border-color: $value;
								}
							}
						} @else if $theme == secondary {
							border-color: $value;
							background: transparent;
							color: $value;

							&.sui-#{$block-name}--hover {
								background: if($name == white, $value, tint($value, 90%));
								color: if($name == white, $color-grey-90, $value);
							}

							&.sui-#{$block-name}--focus {
								background: if($name == white, $value, tint($value, 90%));
								color: if($name == white, $color-grey-90, $value);

								&:after {
									border-width: $border-width-md;
									inset: if($name == white, -5px, -#{$border-width-md});
									border-radius: if(
										$name == white,
										$border-radius-md,
										$border-radius-sm
									);
								}
							}
						} @else {
							border-color: $value;
							background: $value;
							color: if($name == white, $color-grey-90, $color-base-white);

							&.sui-#{$block-name}--hover {
								border-color: if(
									$name == white,
									shade($value, 5%),
									shade($value, 40%)
								);
								background: if(
									$name == white,
									shade($value, 5%),
									shade($value, 40%)
								);
								color: if($name == white, $color-grey-90, $color-base-white);
							}

							&.sui-#{$block-name}--focus {
								border-color: $value;
								background: $value;
								color: if($name == white, $color-grey-90, $color-base-white);

								&:after {
									border-width: $border-width-md;
									inset: -5px;
									border-radius: $border-radius-md;
								}
							}
						}
					}
				}
			}
		}
	}

	@include sui-class($rtl: false, $theme: "dark") {
		@include block($block-name) {
			@each $theme in $themes {
				@each $name, $value in $colors-high-contrast {
					$modifier-name: #{$theme + "-" + $name};

					@include modifier($modifier-name) {
						@if $theme == tertiary {
							color: $value;

							&.sui-#{$block-name}--hover {
								@if $name == white {
									background: tint($value, 90%);
									color: $color-grey-90;
								}
								@if $name != white {
									background: none;
									border-color: $color-base-black;
								}
							}

							&.sui-#{$block-name}--focus {
								background: transparent;
								color: inherit;
								@if $name == white {
									color: $value;
								}

								&:after {
									border-color: $value;
								}
							}
						} @else if $theme == secondary {
							border-color: $value;
							color: $value;

							&.sui-#{$block-name}--hover {
								@if $name != white {
									background: tint($value, 90%);
								}
								@if $name == white {
									color: $color-grey-90;
									background: $value;
								}
							}

							&.sui-#{$block-name}--focus {
								border-color: $value;
								@if $name != white {
									background: tint($value, 90%);
								}
								@if $name == white {
									color: $color-grey-90;
								}
							}
						} @else {
							border-color: $value;
							background: $value;
							color: $color-base-white;

							&.sui-#{$block-name}--focus {
								background: $value;
							}
						}
					}
				}
			}
		}
	}
}
