@use "../../../_utils/utils" as *;

/// Size
///
/// @type modifier
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin modify-size($block-name) {
	@include sui-class($rtl: false, $theme: null) {
		@include block($block-name) {
			@include modifier(sm) {
				min-width: $button-container-size-sm;
				font-size: $font-size-xs;
				line-height: $button-label-font-height-sm;
				letter-spacing: $button-label-font-spacing-sm;

				@include modifies-element(icon) {
					padding: $button-icon-padding-vertical-sm
						$button-icon-padding-horizontal-sm;
				}

				&.sui-#{$block-name}--is-icon {
					min-width: auto;
					padding: 7px;

					.sui-#{$block-name}__icon {
						padding: 0;
					}
				}

				@include media(max-width, md) {
					&.sui-#{$block-name}--responsive {
						min-width: auto;
						padding: 7px;

						.sui-#{$block-name}__icon {
							padding: 0;
						}
					}
				}
			}
		}
	}
}
