@use "../../../_utils/utils" as *;

/// Edit Focus State
///
/// @type modifier
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin edit-active($block) {
    // DIR: Left to right.
    // THEME: None.
    @include sui-class($rtl: false, $theme: null) {
        @include block($block) {
            @include element(panel-item) {
                @include modifier(active) {
                    display: block;
                }
            }

            @include element(nav-item) {
                @include modifier(active) {
                    border-bottom: 4px solid var(--primary-blue-base-50286-ef-1, #286EF1);
                    color: var(--primary-blue-base-50286-ef-1, #286EF1);
                }
            }
        }
    }

    // DIR: Left to right.
    // THEME: Dark.
    @include sui-class($rtl: false, $theme: dark) {
        @include block($block) {

            @include element(nav-item) {
                @include modifier(active) {
                    border-bottom: 4px solid $color-extended-neutral-0;
                    color: $color-extended-neutral-0;
                }
            }
        }
    }
}
