@use "../../../_utils/utils" as *;

/// Edit Hover State
///
/// @type modifier
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin state-hover($block) {
    // DIR: Left to right.
    // THEME: None.
    @include sui-class($rtl: false, $theme: null) {
        @include block($block) {

            @include element(nav-item) {
                @include modifier(hover) {
                    background: var(--primary-blue-light-90-eaf-1-fe, #EAF1FE);
                    border-bottom: 4px solid var(--primary-blue-light-70-d-5-e-3-fd, #D5E3FD);
                }
            }
        }
    }

    // DIR: Left to right.
    // THEME: Dark.
    @include sui-class($rtl: false, $theme: dark) {
        @include block($block) {

            @include element(nav-item) {
                @include modifier(hover) {
                    background: transparent;
                    border-bottom: 4px solid $color-extended-neutral-0;
                }
            }
        }
    }
}
