@use "sass:math";
@use "../../../_utils/utils" as *;

/// Build Content
///
/// @type block
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-content($block) {
    // DIR: Left to right.
    // THEME: None.
    @include sui-class($rtl: false, $theme: null) {
        @include block($block) {
			@include element(content) {
				display: flex;
				flex: 1;
				justify-content: space-between;

				@include modifier(center) {
					.sui-#{$block}__body {
						flex: 1;
						display: flex;
						justify-content: center;

						@include media(max-width, sm) {
							flex: 0;
						}
					}
				}

				@include modifier(left) {
					@include media(max-width, sm) {
						flex: 100%;
					}
				}

				@include modifier(right) {
					@include media(max-width, sm) {
						flex-wrap: wrap;
						gap: $spacing-lg;
					}
				}
			}
        }
    }
}
