@use "sass:map";

@use "../../../_utils/utils" as *;

/// Build Fake
///
/// @type block
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-fake($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		// Block wrapper.
		@include block($block) {
			@include element(fake) {
				height: 0;
			}
		}
	}
}
