@use "sass:math";
@use "../../../_utils/utils" as *;

/// Build Button
///
/// @type item
/// @author WPMU DEV
///
/// @param {String} $item - Main item name
@mixin build-button($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		@include block($block) {
			@include element(button) {
				align-items: center;
				background: $color-grey-02;
				border: $border-width-md dashed $color-grey-20;
				border-radius: $border-radius-md;
				color: $color-grey-70;
				padding: $spacing-lg $spacing-xl;
				width: 100%;

				.sui-button__icon {
					color: $color-grey-50;
				}

				@include modifier(hover) {
					border-color: $color-grey-40;
					color: $color-grey-90;

					.sui-button__icon {
						color: $color-grey-70;
					}
				}

				&:active {
					background: $color-grey-05;
					color: $color-grey-90;
					border-color: $color-grey-70;

					.sui-button__icon {
						color: $color-grey-70;
					}
				}
			}
		}
	}

	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: dark) {
		@include block($block) {
			@include element(button) {
				background: $color-base-white;
				border-color: $color-base-black;
				color: $color-base-black;

				.sui-button__icon {
					color: $color-base-black;
				}
			}
		}
	}
}
