@use "sass:math";
@use "../../../_utils/utils" as *;

/// Build Field
///
/// @type item
/// @author WPMU DEV
///
/// @param {String} $item - Main item name
@mixin build-field($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		@include block($block) {
			@include element(field) {
				background-color: $color-extended-neutral-100;
				border-radius: $border-radius-md;
				box-shadow: 0 $shadow-offset-xs $shadow-offset-2xs 0 $color-shadow-light,
					0 $shadow-offset-2xs $shadow-offset-xs 0 $color-shadow-light;
				flex: 1;
			}

			@include element(field-header) {
				align-items: center;
				display: flex;
				gap: $spacing-md;
				justify-content: space-between;
				padding: $builder-spacing-md $spacing-xl;
				text-decoration: none;
				min-height: $builder-size-height-md;
			}

			@include element(field-body) {
				border-radius: 0 0 $border-radius-md $border-radius-md;
				border-top: $border-width-sm solid $color-extended-neutral-80;
			}

			@include element(field-content) {
				align-items: center;
				display: flex;
				flex: 1;
				gap: $spacing-md;
				justify-content: space-between;
				width: 100%;
				overflow: hidden;
			}

			@include element(field-info) {
				align-items: center;
				display: flex;
				gap: $spacing-md;
			}

			@include element(field-move) {
				align-items: center;
				color: $color-extended-neutral-70;
				cursor: grab;
				display: flex;
				transition: ease all 0.2s;

				&:hover {
					color: $color-extended-neutral-60;
				}
			}

			@include element(preview) {
				align-items: center;
				display: flex;
				position: relative;
				overflow: hidden;

				@include modifier(image) {
					height: $builder-size-height-xs;
					width: $builder-size-width-xs;
					img {
						height: 100%;
						width: auto;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
						position: absolute;
						border: $border-width-sm solid $color-alpha-grey-10;
						border-radius: $border-radius-sm;
						max-width: unset;
					}
				}
			}

			@include element(field-info-name) {
				color: $color-extended-neutral-10;
				font-weight: $font-weight-md;
				text-wrap: nowrap;
				text-overflow: ellipsis;
				overflow: hidden;
			}

			@include element(field-code) {
				color: $color-extended-neutral-60;
				font-size: $font-size-xs;
				flex: 1;
				text-wrap: nowrap;
				text-overflow: ellipsis;
				text-align: center;
				overflow: hidden;
			}

			@include element(field-actions) {
				align-items: center;
				display: flex;

				@include modifier(hover) {
					.sui-builder__field-actions-item {
						border-left: $border-width-md solid $color-extended-neutral-80;
					}
				}
			}

			@include element(field-actions-item) {
				@include modifier(accordion) {
					margin-left: $spacing-md;
					padding-left: $spacing-md;
				}
			}

			@include element(field-body) {
				background: $color-extended-neutral-100;
				display: none;
				padding: $spacing-xl;
			}

			@include element(field-toggle-btn) {
				margin-left: $spacing-md;
				position: relative;
				padding-left: $spacing-md;
			}
		}
	}

	// DIR: Left to right.
	// THEME: Dark.
	@include sui-class($rtl: false, $theme: dark) {
		@include block($block) {
			@include element(field) {
				box-shadow: unset;
				border: $border-width-sm solid $color-extended-neutral-0;
			}

			@include element(field-body) {
				border-color: $color-extended-neutral-0;
				color: $color-extended-neutral-0;
			}

			@include element(field-info-name, field-code) {
				color: $color-extended-neutral-0;
			}

			@include element(field-actions-item) {
				@include modifier(accordion) {
					border-color: $color-extended-neutral-0;
				}
			}
		}
	}
}
