@use "sass:map";

@use "../../../_utils/utils" as *;

/// Build Accordion panel
/// This function creates styles for the element
/// main wrapper.
/// @type block
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-panel($block) {
    // DIR: Left to right.
    // THEME: None.
    @include sui-class($rtl: false, $theme: null) {
        // Block wrapper.
        @include block($block) {
            @include element(panel) {
                display: none;
                padding: 0 $accordion-spacing-md $accordion-spacing-md $accordion-spacing-md;

                @include modifier(content) {
                    box-shadow: $accordion-content-shadow;
                    border-radius: $accordion-border-radius-xs;
                    overflow: hidden;
                }
            }
        }
    }
}
