@use "sass:map";

@use "../../../_utils/utils" as *;

/// Build Accordion header
/// This function creates styles for the element
/// main wrapper.
/// @type block
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-header($block) {
    // DIR: Left to right.
    // THEME: None.
    @include sui-class($rtl: false, $theme: null) {
        // Block wrapper.
        @include block($block) {
            @include element(header) {
                align-items: baseline;
                cursor: pointer;
                display: flex;
                justify-content: space-between;
                padding: $accordion-spacing-xs $accordion-spacing-md;

                svg {
                    color: $color-extended-neutral-60;
                }
            }

            @include element(header-info) {
                align-items: baseline;
                display: flex;
                gap: $accordion-info-gap;
            }

            @include element(header-actions) {
                align-items: center;
                display: inline-flex;
                align-self: flex-start;
            }

            @include element(header-title) {
                h2 {
                    font-size: $font-size-default;
                    line-height: $font-height-sm;
                    font-weight: $accordion-font-weight;
                    margin: 0;
                }

                p {
                    margin: 0;
                }
            }
        }
    }
}
