@use "sass:map";

@use "../../../external/helpers" as *;
@use "../../../external/utilities" as *;

/// Grid Row.
/// @type block
/// @author WPMU DEV
///
/// @param {String} $block - Main block name.
@mixin grid-row($block) {
	@include sui-class($rtl: false, $theme: null) {
		@include block($block) {
			margin-bottom: map.get($spacing, sm);

			@include media(min-width, md) {
				margin-bottom: map.get($spacing, md);
			}

			@include media(min-width, lg) {
				margin-bottom: map.get($spacing, lg);
			}

			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}
