@use "sass:map";

@use "../../../_utils/utils" as *;

/// Build calendar
///
/// @type block
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-calendar($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		// Block wrapper.
		@include block($block) {
			@include element(calendars) {
				display: block;

				@include media(min-width, sm) {
					display: flex;
				}
			}

			@include element(nav) {
				align-items: center;
				display: flex;
				justify-content: space-between;
				padding: $spacing-md $datepicker-spacing-xs;
				color: $color-grey-90;

				@include modifier(btn) {
					font-size: $datepicker-font-size;
					font-weight: $font-weight-md;
				}
			}
		}
	}

	// DIR: Left to right.
	// THEME: Dark.
	@include sui-class($rtl: false, $theme: dark) {
		// Block wrapper.
		@include block($block) {
			@include element(nav) {
				color: $color-base-black;
			}
		}
	}
}
