@use "sass:map";

@use "../../../_utils/utils" as *;

/// Build Date Picker
///
/// @type block
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-date-picker($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		// Block wrapper.
		@include block($block) {
			@include modifier(single) {
				@include modifies-element(calendar-list) {
					display: flex;
					flex-wrap: wrap;
					gap: $datepicker-spacing-xs;
					padding: $datepicker-spacing-sm 0;
				}
			}
		}
	}
}
