@use "sass:map";

@use "../../../_utils/utils" as *;

/// Build popover
///
/// @type block
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-popover($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		// Block wrapper.
		@include block($block) {
			@include element(popover) {
				background: $color-extended-neutral-100;
				box-shadow: 0 $shadow-offset-xs $shadow-offset-sm 0 $color-shadow-dark,
					0 $shadow-offset-2xs $shadow-offset-xl 0 $color-shadow-light,
					0 $shadow-offset-default $shadow-offset-lg 0 $color-shadow-default;
				display: none;
				margin-top: $datepicker-spacing-default;
				position: absolute;
				width: auto;
				border-radius: $border-radius-md;
				overflow: hidden;

				@include modifier(open) {
					display: block;
				}
			}

			@include element(header, footer) {
				display: flex;
				padding: $spacing-lg;
			}

			@include element(footer) {
				border-top: $border-width-sm solid $color-extended-neutral-80;
				gap: $spacing-md;
				justify-content: end;
			}

			@include element(header) {
				border-bottom: $border-width-sm solid $color-extended-neutral-80;
				align-items: center;
				justify-content: center;

				@include media(max-width, sm) {
					max-width: $datepicker-size-width-lg;
					padding-right: 0;
					padding-left: 0;
				}
			}
		}
	}

	// DIR: Left to right.
	// THEME: Dark.
	@include sui-class($rtl: false, $theme: dark) {
		// Block wrapper.
		@include block($block) {
			@include element(popover) {
				box-shadow: none;
				border: $border-width-sm solid $color-extended-neutral-0;
			}

			@include element(footer) {
				border-top: $border-width-sm solid $color-extended-neutral-0;
			}

			@include element(header) {
				border-bottom: $border-width-sm solid $color-extended-neutral-0;
			}
		}
	}
}
