@use "sass:map";

@use "../../../_utils/utils" as *;

/// Build day
///
/// @type block
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-day($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		// Block wrapper.
		@include block($block) {
			@include element(day) {
				font-size: $datepicker-font-size;
				line-height: $font-height-xs;
				font-weight: $font-weight-md;
				cursor: pointer;
				margin: $spacing-sm 0;
				text-align: center;
				width: $datepicker-size-width-md;
				position: relative;
				z-index: 0;
			}

			@include element(day-title) {
				position: relative;
				border-radius: $datepicker-border-radius-lg;
				align-items: center;
				display: inline-flex;
				height: $datepicker-size-height-sm;
				justify-content: center;
				width: $datepicker-size-width-sm;
			}
		}
	}
}
