@use "sass:map";

@use "../../../_utils/utils" as *;

/// Build Range
///
/// @type block
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-range($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		// Block wrapper.
		@include block($block) {
			@include element(range) {
				display: flex;
				gap: $spacing-md;
				overflow: auto;
				-ms-overflow-style: none; /* for Internet Explorer, Edge */
				scrollbar-width: none; /* for Firefox */

				&::-webkit-scrollbar {
					display: none; /* for Chrome, Safari, and Opera */
				}

				@include media(max-width, sm) {
					padding-left: $spacing-lg;
					padding-right: $spacing-lg;
				}
			}

			@include element(range-button) {
				background: $color-grey-05;
				border-radius: $border-radius-lg;
				font-size: $datepicker-font-size;
				line-height: $datepicker-font-height-sm;
				font-weight: $font-weight-md;
				padding: $spacing-sm $spacing-md;
				white-space: nowrap;
				color: $color-grey-90;
				cursor: pointer;
			}
		}
	}

	// DIR: Left to right.
	// THEME: Dark.
	@include sui-class($rtl: false, $theme: dark) {
		// Block wrapper.
		@include block($block) {
			@include element(range-button) {
				background: $color-base-white;
				color: $color-base-black;
				border: $border-width-sm solid $color-base-black;
			}
		}
	}
}
