@use "sass:map";

@use "../../../_utils/utils" as *;

/// Build Date Picker List
///
/// @type block
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-calendar-list($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		// Block wrapper.
		@include block($block) {
			@include modifier(single) {
				@include modifies-element(calendar-list-item) {
					border-radius: $datepicker-border-radius-lg;
					display: inline-flex;
				}
			}
		}
	}
}
