@use "sass:map";

@use "../../../_utils/utils" as *;

@use "../_utils/variables" as *;
@use "../_utils/colors" as *;

/// Build input filled.
///
/// @type block
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-input-filled($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		// Block wrapper.
		@include block($block) {
			// Element wrapper.
			@include modifier(filled) {
				.sui-#{$block}__field {
					@if map.has-key($sui-input-border, md, width) {
						border-width: map.get($sui-input-border, md, width);
					}
					@if map.has-key($sui-input-color, blue, default, color) {
						border-color: map.get(
							$sui-input-color,
							blue,
							default,
							color
						);
					}

					&:hover {
						@if map.has-key($sui-input-border, md, width) {
							border-width: map.get($sui-input-border, md, width);
						}
						@if map.has-key($sui-input-color, blue, default, color)
						{
							border-color: map.get(
								$sui-input-color,
								blue,
								default,
								color
							);
						}
					}

					+ .sui-#{$block}__label {
						@if map.has-key($sui-input-color, blue, default, color)
						{
							color: map.get(
								$sui-input-color,
								blue,
								default,
								color
							);
						}
					}

					&:read-only {
						border: none;
					}
				}
			}
		}
	}
}
