@use "sass:map";

@use "../../../_utils/utils" as *;

/// Edit Size
/// This function modifies elements styles based on the input element
///
/// @type modifier
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin edit-size($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		@include block($block) {
			@include modifier(sm) {
				@include modifies-element(input) {
					padding: $input-spacing-padding-vertical-sm $input-spacing-padding-horizontal-sm;
					font-size: $input-font-size-sm;
					line-height: $input-font-height-sm;
				}
			}

			@include modifier(multiline) {
				@include modifies-element(input) {
					min-height: 120px;
				}
			}

			@include modifier(multiline-sm) {
				@include modifies-element(input) {
					min-height: 84px;
				}
			}
		}
	}
}
