@use "sass:math";
@use "../../../_utils/utils" as *;

/// Build Container
///
/// @type block
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-container($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		@include block($block) {
			overflow: hidden;
			position: fixed;
			inset: 0;
			z-index: 999999;

			@include modifier(overlay) {
				background: $color-extended-alpha-grey-90;
			}

			@include modifier(full) {
				@include modifies-element(inner) {
					width: 100%;
				}
			}

			@include modifier(has-container) {
				z-index: 1;
				width: $drawer-size-lg;

				@include media(max-width, sm) {
					width: 100%;
				}
			}
		}
	}
}
