@use "sass:math";
@use "../../../_utils/utils" as *;

/// Build Container
///
/// @type block
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-footer($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		@include block($block) {
			@include element(footer) {
				align-items: center;
				border-top: $border-width-sm solid $color-extended-neutral-80;
				display: flex;
				justify-content: flex-end;
				padding: $spacing-lg $spacing-xl;
			}
		}
	}

	// DIR: Left to right.
	// THEME: Dark.
	@include sui-class($rtl: false, $theme: dark) {
		@include block($block) {
			@include element(footer) {
				border-color: $color-extended-neutral-0;
			}
		}
	}
}
