@use "sass:math";
@use "../../../_utils/utils" as *;

/// Build Container
///
/// @type block
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-header($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		@include block($block) {
			@include element(header) {
				align-items: center;
				align-self: stretch;
				border-bottom: 1px solid #e6e6e6;
				display: flex;
				padding: 16px 24px;
				gap: 8px;
				justify-content: space-between;
			}

			@include element(header-title) {
				align-items: center;
				color: #1a1a1a;
				display: flex;
				font: $font-weight-lg 18px/28px $font-family-default;
				gap: 4px;
			}
		}
	}
}
