@use "sass:math";
@use "../../../_utils/utils" as *;

/// Build Container
///
/// @type block
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-container($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		@include block($block) {
			height: 100vh;
			max-width: 550px;
			overflow: hidden;
			position: fixed;
			right: 0;
			top: 0;
			z-index: 999999;
		}
	}
}
