@use "sass:map";

@use "../../../_utils/utils" as *;

/// Build Navigation Group
///
/// @type element
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-nav($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		@include block($block) {
			@include element(nav) {
				display: flex;
				margin: 0;
				list-style: none;
				gap: $spacing-sm;
			}
		}
	}
}
