@use "../../../_utils/utils" as *;

/// Message
///
/// @type block
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-message($block-name) {
	@include sui-class($rtl: false, $theme: null) {
		@include block($block-name) {
			@include element(message) {
				display: block;
				margin: $spacing-sm 0;

				a {
					text-decoration: none;
					cursor: pointer;
				}
			}
		}
	}
}
