@use "../../../_utils/utils" as *;

/// Container
///
/// @type block
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-container($block-name) {
	@include sui-class($rtl: false, $theme: null) {
		@include block($block-name) {
			align-items: flex-start;
			background: $color-base-white;
			box-shadow: 0 0 0 $shadow-offset-2xs $color-grey-10;
			border-width: 0;
			border-left-width: $border-width-xl;
			border-style: solid;
			border-radius: $border-radius-md;
			display: flex;
			align-items: flex-start;
			margin: 0;
			padding: $spacing-md $spacing-lg;

			@include element(renderer) {
				padding: 0 $notification-spacing-md;
				z-index: 999;
				pointer-events: none;

				.sui-#{$block-name} {
					box-shadow: 0 $shadow-offset-sm $shadow-offset-md 0
							$color-shadow-light,
						0 $shadow-offset-sm $shadow-offset-2xl 0 $color-shadow-dark,
						0 $shadow-offset-lg $shadow-offset-xl 0 $color-shadow-default;
					margin: $notification-spacing-md auto 0 auto;
					pointer-events: all;
				}

				@include media(max-width, sm) {
					width: 100%;
				}
			}
		}
	}

	@include sui-class($rtl: false, $theme: dark) {
		@include block($block-name) {
			box-shadow: none;
			color: $color-base-black;
			border-color: $color-base-black;
			border-width: $border-width-sm;
			border-left-width: $border-width-xl;
		}
	}

	@include sui-class($rtl: true, $theme: dark) {
		@include block($block-name) {
			border-left-width: $border-width-sm;
		}
	}

	@include sui-class($rtl: true, $theme: null) {
		@include block($block-name) {
			border-right-width: $border-width-xl;
			border-left-width: 0;
		}
	}
}
