@use "sass:map";
@use "sass:math";

@use "../../../../utilities/src/utilities.scss" as *;

@mixin build-alignment($block) {
	@include sui-class($rtl: false, $theme: null) {
		@include block($block) {
			@include modifier(inline) {
				display: flex;
				flex-flow: row wrap;
				margin-left: -#{math.div(map.get($spacing, sm), 2)};
				margin-right: -#{math.div(map.get($spacing, sm), 2)};
			}

			@each $bp-label, $bp-value in $breakpoints {
				&-#{$bp-label} {
					@include modifier(inline) {
						@include media(min-width, $bp-label) {
							display: flex;
							flex-flow: row wrap;
							margin-left: -#{math.div(
									map.get($spacing, $bp-label),
									2
								)};
							margin-right: -#{math.div(
									map.get($spacing, $bp-label),
									2
								)};
						}
					}

					@include modifier(stacked) {
						@include media(min-width, $bp-label) {
							display: block;
							margin-left: 0;
							margin-right: 0;
						}
					}
				}
			}
		}
	}
}
