@use "../../../_utils/utils" as *;

$sui-tag-primary: (
	blue: (
        background: $tag-color-blue-default-background
	),
	yellow: (
        background: $tag-color-yellow-default-background,
		color: $tag-color-yellow-default-color
	),
	red: (
        background: $tag-color-red-default-background
	),
	green: (
        background: $tag-color-green-default-background
	),
	dark-blue: (
        border-color: $tag-color-dark-blue-default-border-color,
		color: $tag-color-dark-blue-default-color
	),
	black: (
        border-color: $tag-color-black-default-border-color,
		color: $tag-color-black-default-color
	),
	white: (
        background: $tag-color-white-default-background,
		color: $tag-color-white-default-color
	),
	common: (
		background: $tag-color-default-background,
		color: $tag-color-default-color
	)
);

$sui-tag-disabled: (
	background: $tag-color-disabled-background,
	color: $tag-color-disabled-color
);
