@use "../../../_utils/tokens" as *;

$sui-tag-size: (
	sm: (
		height: 18px
	),
	md: (
		height: 26px
	)
);
$sui-tag-font: (
	md: (
		size: $tag-font-size-md,
		height: $tag-font-height-md,
		weight: $tag-font-weight,
	),
	sm: (
		size: $tag-font-size-sm,
		height: $tag-font-height-sm,
		spacing: $tag-font-spacing-sm
	)
);
