@use "../../../_utils/tokens" as *;

$sui-tag-size: (
	sm: (
		height: 16px
	),
	md: (
		height: 24px
	)
);
$sui-tag-border: (
	width: $tag-border-width,
	radius: $tag-border-radius
);
// $sui-tag-spacing: (
// 	md: (
// 		vertical: $tag-spacing-vertical,
// 		horizontal: $tag-spacing-horizontal
// 	)
// );
$sui-tag-font: (
	md: (
		size: $tag-font-size-md,
		height: $tag-font-height-md,
		weight: $tag-font-weight,
	),
	sm: (
		size: $tag-font-size-sm,
		height: $tag-font-height-sm,
		spacing: $tag-font-spacing-sm
	)
);
