@use "sass:map";

// Import main blocks of styles.
@use "../../../_utils/bem" as *;
@use "../../../_utils/mixins" as *;

// Import grid variables.
@use "../_grid-utils/variables" as *;

/// Grid Column.
/// @type block
/// @author WPMU DEV
///
/// @param {String} $block - Main block name.
@mixin build-col($block) {
	@include sui-class($rtl: false, $theme: null) {
		@include block($block) {
			min-width: 0;
			max-width: 100%;
			display: block;
		}

		@each $bp-label, $bp-value in $breakpoints {
			@include block($block) {
				@include media(min-width, $bp-label) {
					margin: 0 0 map.get($sui-grid-spacing, $bp-label);
				}
			}
		}
	}
}
