@use "sass:map";

// Import main blocks of styles.
@use "../../../_utils/bem" as *;
@use "../../../_utils/mixins" as *;

// Import grid variables.
@use "../_grid-utils/variables" as *;

/// Grid Row.
/// @type block
/// @author WPMU DEV
///
/// @param {String} $block - Main block name.
@mixin build-row($block) {
	@include sui-class($rtl: false, $theme: null) {
		@include block($block) {
			row-gap: map.get($sui-grid-spacing, sm);
			flex: 1; // Special fix when inside a box group
			margin-bottom: map.get($sui-grid-spacing, sm);

			@include media(min-width, sm) {
				row-gap: map.get($sui-grid-spacing, md);
				margin-bottom: map.get($sui-grid-spacing, md);
			}

			@include media(min-width, lg) {
				row-gap: map.get($sui-grid-spacing, lg);
				margin-bottom: map.get($sui-grid-spacing, lg);
			}

			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}
