@use "sass:math";
@use "../../../_utils/utils" as *;

/// Build Header
///
/// @type block
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-header($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		@include block($block) {
			@include element(header-title) {
				align-items: center;
				display: flex;
				gap: $spacing-md;
				justify-content: space-between;

				.sui-tag {
					margin: 0;
				}
			}

			@include element(header-info) {
				align-items: center;
				display: flex;
				gap: $spacing-md;
				color: $color-grey-90;

				h4 {
					font-weight: $font-weight-lg;
					margin: 0;
				}
			}

			@include element(header-desc) {
				color: $color-grey-50;
				margin-top: $spacing-md;

				p {
					margin-top: 0;
				}

				.sui-notification {
					margin: $spacing-xl 0;
				}
			}
		}
	}
}
