@use "sass:math";
@use "../../../_utils/utils" as *;

/// Build Container
///
/// @type block
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-container($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		@include block($block) {
			border: $border-width-sm solid $color-extended-neutral-70;
			border-radius: $border-radius-sm;
			background: $color-extended-neutral-100;

			@include modifier(hover) {
				outline: $border-width-sm solid $color-primary-50;
				outline-offset: -#{$border-width-sm};
			}

			@include modifier(focus) {
				outline: $border-width-md solid $color-primary-50;
				outline-offset: -#{$border-width-md};
			}
		}
	}
}
