@use "sass:math";
@use "../../../_utils/utils" as *;

/// Build Input field
///
/// @type block
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-input-field($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		@include block($block) {
			@include element(input-field) {
				&:before {
					border: none
				}
			}
		}
	}
}
