@use "sass:math";
@use "../../../_utils/utils" as *;

/// Build Container
///
/// @type block
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-container($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		@include block($block) {
			background-color: white;
			border: $border-width-sm solid $color-extended-neutral-80;
			border-radius: $border-radius-sm;
			background: $color-extended-neutral-100;

			@include modifier(hover) {
				outline: 1px solid var(--primary-blue-base-500059-ff, #0059FF);
			}

			@include modifier(focus) {
				outline: 2px solid var(--primary-blue-base-500059-ff, #0059FF);
			}
		}
	}
}
