@use "sass:math";
@use "../../../_utils/utils" as *;

/// Build Hint
///
/// @type block
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-hint($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		@include block($block) {
			@include element(hint) {
				border-radius: $border-radius-sm;
				background: $color-primary-90;
				color: $color-extended-neutral-50;
				margin: $spacing-md;
				padding: $spacing-lg;
			}
		}
	}
}
