@use "sass:math";
@use "../../../_utils/utils" as *;

/// Build Hint
///
/// @type block
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-hint($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		@include block($block) {
			@include element(hint) {
				border-radius: 4px;
				background: var(--color-primary-blue-90, #EBF2FF);
				color: var(--neutral-grey-50505050, #505050);
				margin: 8px;
				padding: 16px;
			}
		}
	}
}
