@use "sass:map";

@use "../../../_utils/utils" as *;

/// Loading Score
///
/// @type block
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-selection($block) {
    // DIR: Left to right.
    // THEME: None.
    @include sui-class($rtl: false, $theme: null) {
        // Block wrapper.
        @include block($block) {
            @include element(cell) {
                @include modifier(selection) {
                    max-width: 32px;
                    text-align: center;
                }
            }
        }
    }
}
