@use "../../../_utils/utils" as *;

/// Edit Checked State
///
/// @type modifier
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin edit-checked($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		@include block($block) {
			@include modifier(checked) {
				@include modifies-element(box) {
					border-color: $checkbox-input-border-color-active;
					background: $checkbox-input-background-active;
				}

				@include modifies-element(icon) {
					opacity: 1;
				}
			}
		}
	}

	// DIR: Left to right.
	// THEME: Dark.
	@include sui-class($rtl: false, $theme: dark) {
		@include block($block) {
			@include modifier(checked) {
				@include modifies-element(box) {
					border-color: $color-extended-neutral-0;
					background: $color-extended-neutral-0;
				}
			}
		}
	}
}
