@use "../../../_utils/utils" as *;

/// Edit InDeterminate State
///
/// @type modifier
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin edit-indeterminate($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		@include block($block) {
			@include modifier(indeterminate) {
				@include modifies-element(box) {
					border-color: $color-primary-50;
					background: $color-primary-50;
				}

				@include modifies-element(icon) {
					opacity: 1;
				}
			}
		}
	}

	// DIR: Left to right.
	// THEME: Dark.
	@include sui-class($rtl: false, $theme: dark) {
		@include block($block) {
			@include modifier(indeterminate) {
				@include modifies-element(box) {
					border-color: $color-extended-neutral-0;
					background: $color-extended-neutral-0;
				}
			}
		}
	}
}
