@use "sass:math";
@use "../../../_utils/utils" as *;

/// Build Header
///
/// @type block
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-header($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		@include block($block) {
			@include element(header) {
				align-items: center;
				display: flex;
				gap: $spacing-md;
				margin-bottom: $spacing-md;
			}

			@include element(header-title) {
				align-items: center;
				color: $color-extended-neutral-10;
				display: flex;
				gap: $spacing-md;
				margin: 0;
			}
		}
	}
}
