@use "sass:map";

@use "../../../_utils/utils" as *;

/// Build Table body
///
/// @type block
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-table-body($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		// Block wrapper.
		@include block($block) {
			@include element(body) {
				.sui-#{$block}__row {
					// cursor: pointer;

					&:after {
						content: "";
						position: absolute;
						top: 0;
						bottom: 0;
						left: 0;
						width: $border-width-xl;
						background: transparent;
						pointer-events: none;
					}

					.sui-#{$block}__cell {
						&:first-child {
							&:not(.sui-table__cell--sticky) {
								position: relative;
							}
						}
					}
				}

				td {
					color: $color-grey-70;

					.suicons {
						color: $color-grey-50;
					}

					strong {
						font-weight: $font-weight-md;
						color: $color-grey-90;
					}
				}
			}

			@include modifier(stripe) {
				@include modifies-element(body) {
					.sui-#{$block}__row:nth-child(odd) {
						background: $color-grey-02;

						.sui-#{$block}__cell--sticky {
							background: $color-grey-02;
						}
					}
				}
			}
		}
	}

	// DIR: Left to right.
	// THEME: Dark.
	@include sui-class($rtl: false, $theme: dark) {
		// Block wrapper.
		@include block($block) {
			@include element(body) {
				td {
					color: $color-base-black;

					.suicons {
						color: $color-base-black;
					}

					strong {
						color: $color-base-black;
					}
				}
			}

			@include modifier(stripe) {
				@include modifies-element(body) {
					.sui-#{$block}__row:nth-child(odd) {
						background: $color-base-white;

						.sui-#{$block}__cell--sticky {
							background: $color-base-white;
						}
					}
				}
			}
		}
	}
}
