@use "sass:map";

@use "../../../_utils/utils" as *;

/// Build Table cell
///
/// @type block
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-table-cell($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		// Block wrapper.
		@include block($block) {
			@include element(cell) {
				border: none;
				padding: $spacing-lg;
				text-align: left;
				white-space: nowrap;

				@include media(max-width, sm) {
					padding: $spacing-lg $spacing-md;

					@include modifier(actions, primary, selection) {
						display: table-cell;
					}
				}

				@include modifier(selection) {
					.sui-checkbox__box {
						margin-right: 0;
					}
				}

				@include modifier(drag) {
					cursor: grab;
					left: 0;
					position: absolute;
					top: 50%;
					transform: translate(50%, -$spacing-md);
				}

				@include modifier(actions) {
					text-align: right;
					.sui-button {
						margin: 0 $spacing-sm;

						&:first-child {
							margin-left: 0;
						}

						&:last-child {
							margin-right: 0;
						}
					}
				}

				&:first-child {
					padding-left: $spacing-2xl;
					padding-right: $spacing-md;
					position: relative;

					@include media(max-width, sm) {
						padding-left: $spacing-lg;
					}
				}

				&:last-child {
					padding-right: $spacing-2xl;

					@include media(max-width, sm) {
						padding-right: $spacing-lg;
					}
				}

				@include modifier(sticky) {
					background-color: $color-base-white;
					//left: calc(62px - $border-width-md);
					position: sticky;
					width: $table-width-xs;

					&.sui-#{$block}__cell--is-sticky-active {
						&:after {
							content: "";
							position: absolute;
							inset: 0;
							pointer-events: none;
							border-width: 0;
							border-right-width: $border-width-md;
							border-style: solid;
							border-color: $color-grey-10;
						}
					}

					@include media(max-width, sm) {
						border: none;
					}

					&.sui-#{$block}__cell--selection {
						left: 0;
						&:after {
							border: 0;
						}
					}

					&.sui-#{$block}__cell--actions {
						left: auto;
						right: 0;
						width: auto;

						&.sui-#{$block}__cell--is-sticky-active {
							&:after {
								border-left-width: $border-width-md;
								border-right-width: 0;
							}
						}

						@include media(max-width, sm) {
							border: none;
						}
					}
				}

				@include modifier(trim) {
					text-overflow: ellipsis;
					overflow: hidden;
					& > div {
						max-width: $table-width-lg;
						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis;
					}
				}

				@include modifier(is-group) {
					left: 0;
					background: $color-grey-02;
					color: $color-grey-70;
					> div {
						display: flex;
						align-items: center;
						gap: $spacing-md;
					}
				}
			}

			@include modifier(draggable) {
				@include modifies-element(cell) {
					&:first-child {
						@include media(max-width, sm) {
							padding-left: $spacing-2xl;
						}
					}
				}
			}

			@include element(cell-btn) {
				align-items: center;
				cursor: pointer;
				display: inline-flex;
				gap: $table-spacing-sm;

				@include modifier(focused) {
					border-radius: $border-radius-sm;
					box-shadow: 0 0 0 $border-width-md $color-primary-50;
				}
			}
		}
	}

	// DIR: Left to right.
	// THEME: Dark.
	@include sui-class($rtl: false, $theme: dark) {
		// Block wrapper.
		@include block($block) {
			@include element(cell) {
				@include modifier(sticky) {
					border-color: $color-base-black;

					&.sui-#{$block}__cell--actions {
						border-color: $color-base-black;
					}
				}
			}
		}
	}

	// DIR: Left to right.
	// THEME: Dark.
	@include sui-class($rtl: true, $theme: null) {
		// Block wrapper.
		@include block($block) {
			@include element(cell) {
				text-align: right;

				@include modifier(drag) {
					right: 0;
					left: auto;
					transform: translate(-50%, -$spacing-md);
				}

				@include modifier(actions) {
					text-align: left;
				}

				@include modifier(selection) {
					.sui-checkbox__box {
						margin-left: 0;
					}
				}

				&:first-child {
					padding-right: $spacing-2xl;
					padding-left: $spacing-md;

					@include media(max-width, sm) {
						padding-right: $spacing-lg;
						padding-left: $spacing-lg;
					}
				}

				&:last-child {
					padding-right: $spacing-lg;
					padding-left: $spacing-2xl;

					@include media(max-width, sm) {
						padding-right: $spacing-lg;
						padding-left: $spacing-lg;
					}
				}

				@include modifier(sticky) {
					right: calc(62px - $border-width-md);
					left: unset;

					&:after {
						border-left-width: $border-width-md;
						border-right-width: 0;
					}

					@include media(max-width, sm) {
						border: none;
					}

					&.sui-#{$block}__cell--selection {
						border-left: 0;
						right: 0;
						left: unset;
					}

					&.sui-#{$block}__cell--actions {
						right: auto;
						left: 0;

						&:after {
							border-right-width: $border-width-md;
							border-left-width: 0;
						}

						@include media(max-width, sm) {
							border: none;
						}
					}
				}
			}

			@include modifier(draggable) {
				@include modifies-element(cell) {
					&:first-child {
						@include media(max-width, sm) {
							padding-right: $spacing-2xl;
						}
					}
				}
			}
		}
	}
}
