@use "sass:map";

@use "../../../_utils/utils" as *;

/// Build Table body
/// This function creates styles for the element
/// main wrapper.
/// @type block
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-table-body($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		// Block wrapper.
		@include block($block) {
			@include element(body) {
				.sui-#{$block}__row {
					// cursor: pointer;

					&:after {
						content: "";
						position: absolute;
						top: 0;
						bottom: 0;
						left: 0;
						width: $border-width-xl;
						background: transparent;
						pointer-events: none;
					}
				}

				td {
					color: $color-extended-neutral-60;

					.suicons {
						color: $color-extended-neutral-50;
					}

					strong {
						font-weight: $font-weight-md;
						color: $color-extended-neutral-10;
					}
				}
			}

			@include modifier(stripe) {
				@include modifies-element(body) {
					.sui-#{$block}__row:nth-child(odd) {
						background: $color-extended-neutral-95;

						.sui-#{$block}__cell--sticky {
							background: $color-extended-neutral-95;
						}
					}
				}
			}
		}
	}

	// DIR: Left to right.
	// THEME: Dark.
	@include sui-class($rtl: false, $theme: dark) {
		// Block wrapper.
		@include block($block) {
			@include element(body) {
				td {
					color: $color-extended-neutral-0;

					.suicons {
						color: $color-extended-neutral-0;
					}

					strong {
						color: $color-extended-neutral-0;
					}
				}
			}

			@include modifier(stripe) {
				@include modifies-element(body) {
					.sui-#{$block}__row:nth-child(odd) {
						background: $color-extended-neutral-100;

						.sui-#{$block}__cell--sticky {
							background: $color-extended-neutral-100;
						}
					}
				}
			}
		}
	}
}
