@use "sass:math";
@use "../../../_utils/utils" as *;

/// Build Container
///
/// @type block
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-container($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		@include block($block) {
			width: calc(100% - 160px);
			height: calc(100vh - 32px);
			overflow-x: hidden;
			overflow-y: auto;
			user-select: auto;
			position: fixed;
			z-index: 100;
			top: 32px;
			left: 160px;
			display: flex;
			flex-direction: column;
			align-items: center;
			padding: #{$spacing-lg*2} 0;
			background: rgba(26,26,26,.9);
		}
	}
}
