@use "sass:map";

@use "../../../_utils/utils" as *;

/// Build Textarea focus
///
/// @type block
/// @author WPMU DEV
///
/// @param {String} $block-name - Main block name
@mixin build-focus($block-name) {
	// DIR: Left to right.
	// THEME: Dark.
	@include sui-class($rtl: false, $theme: null) {
		@include block($block-name) {
			@include modifier(focus) {
				@include modifies-element(field) {
					outline: $border-width-md solid $color-primary-50;
					outline-offset: -#{$border-width-md};
				}

				&.sui-#{$block-name}--error {
					@include modifies-element(field) {
						outline: $border-width-md solid $color-extended-error-50;
						outline-offset: -#{$border-width-md};
					}
				}
			}
		}
	}
}
