@use "sass:map";

@use "../../../_utils/utils" as *;

/// Build textarea size
///
/// @type block
/// @author WPMU DEV
///
/// @param {String} $block-name - Main block name
@mixin build-size($block-name) {
	// DIR: Left to right.
	// THEME: Dark.
	@include sui-class($rtl: false, $theme: null) {
		@include block($block-name) {
			@include modifier(sm) {
				@include modifies-element(field) {
					font-size: 13px;
				}
			}
		}
	}
}
