@use "sass:map";

@use "../../../_utils/utils" as *;

/// Build Info
///
/// @type block
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-info($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		// Block wrapper.
		@include block($block) {
			@include element(info) {
				align-items: center;
				border-radius: $border-radius-md;
				cursor: pointer;
				display: flex;
				margin-bottom: $spacing-sm;
				padding: $spacing-md;
				position: relative;

				&:after {
					content: "";
					position: absolute;
					pointer-events: none;
					inset: -#{$border-width-md};
					border-radius: inherit;
				}
			}

			@include element(info-icon) {
				margin: 0 $spacing-sm;
			}

			@include element(info-title) {
				align-items: center;
				display: flex;
				margin-left: $spacing-sm;

				span {
					margin-left: $spacing-sm;
				}

				.sui-#{$block}__info-icon {
					margin: 0 0 0 $spacing-sm;
				}
			}

			@include element(info-check) {
				align-items: center;
				display: flex;
				margin-left: $spacing-md;
				width: $treeview-size-md;

				.sui-checkbox__box {
					position: relative;
					display: flex;
				}
			}
		}
	}

	// DIR: Right to left.
	// THEME: None.
	@include sui-class($rtl: true, $theme: null) {
		// Block wrapper.
		@include block($block) {
			@include element(info-title) {
				margin-right: $spacing-sm;
				margin-left: 0;

				span {
					margin-left: 0;
					margin-right: $spacing-sm;
				}
			}

			@include element(info-check) {
				margin-left: 0;
				margin-right: $spacing-md;
			}
		}
	}

	// DIR: Left to right.
	// THEME: Dark.
	@include sui-class($rtl: false, $theme: dark) {
		// Block wrapper.
		@include block($block) {
			@include element(info) {
				color: $color-base-black;
			}
		}
	}
}
