@use "sass:map";

@use "../../../_utils/utils" as *;

/// Build menu group
/// This function creates styles for the element
/// main wrapper.
/// @type block
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-menu-group($block) {
    // DIR: Left to right.
    // THEME: None.
    @include sui-class($rtl: false, $theme: null) {
        // Block wrapper.
        @include block($block) {
            @include element(group) {
                list-style: none;
                margin: 0;
            }

            @include element(group-title) {
                color: var(--neutral-grey-60737373, #737373);
                display: block;
                font: $font-weight-md 13px/20px $font-family-default;
                letter-spacing: 1px;
                padding: 8px 24px;
                text-transform: uppercase;
            }

            @include element(group-items) {
                margin: 0;
            }
        }
    }
}
