@use "sass:map";

@use "../../../_utils/utils" as *;

/// Build menu item
/// This function creates styles for the element
/// main wrapper.
/// @type block
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-menu-item($block) {
    // DIR: Left to right.
    // THEME: None.
    @include sui-class($rtl: false, $theme: null) {
        // Block wrapper.
        @include block($block) {
            @include element(item) {
                align-items: center;
                color: $color-extended-neutral-50;
                cursor: pointer;
                display: flex;
                font-weight: $font-weight-md;
                gap: $spacing-md;
                list-style: none;
                margin: 0;
                padding: $spacing-md $menu-spacing-horizontal;
                width: 100%;
            }
        }
    }

    // DIR: Left to right.
    // THEME: Dark.
    @include sui-class($rtl: false, $theme: dark) {
        // Block wrapper.
        @include block($block) {
            @include element(item) {
                color: $color-extended-neutral-0;
            }
        }
    }
}
