@use "sass:map";

@use "../../../_utils/utils" as *;

/// Build menu group
/// This function creates styles for the element
/// main wrapper.
/// @type block
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-menu-group($block) {
    // DIR: Left to right.
    // THEME: None.
    @include sui-class($rtl: false, $theme: null) {
        // Block wrapper.
        @include block($block) {
            @include element(group) {
                list-style: none;
                margin: 0;
            }

            @include element(group-title) {
                color: $color-extended-neutral-60;
                display: block;
                font-size: $font-size-xs;
                line-height: $font-height-xs;
                font-weight: $font-weight-md;
                letter-spacing: $font-spacing-xxl;
                padding: $spacing-md $menu-spacing-horizontal;
                text-transform: uppercase;
            }

            @include element(group-items) {
                margin: 0;
            }
        }
    }

    // DIR: Left to right.
    // THEME: Dark.
    @include sui-class($rtl: false, $theme: dark) {
        // Block wrapper.
        @include block($block) {

            @include element(group-title) {
                color: $color-extended-neutral-0;
            }
        }
    }
}
