@use "sass:math";
@use "../../../_utils/utils" as *;

/// Build Row
///
/// @type element
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-row($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		@include block($block) {
			@include element(row) {
				padding: 20px 24px;
				border: 0 solid $color-extended-neutral-80;
				border-bottom-width: 1px;
				color: #505050;
				font-weight: 500;

				&:last-child {
					border-bottom-width: 0;
				}
			}

			@include element(row-inline) {
				display: flex;
				flex-flow: row wrap;
				justify-content: space-between;
			}
		}
	}
}
