@use "sass:math";
@use "../../../_utils/utils" as *;

/// Build dropdown
///
/// @type item
/// @author WPMU DEV
///
/// @param {String} $item - Main item name
@mixin build-dropdown($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		@include block($block) {
			@include element(dropdown) {
				position: relative;
				margin-bottom: $spacing-lg;
				display: none;

				@include media(max-width, md) {
					display: block;
				}

				@include modifier(list) {
					position: absolute;
					overflow: hidden;
					left: 0;
					right: 0;
					margin-top: $border-width-md;
					background: $color-extended-neutral-100;
					border-radius: $border-radius-md;
					box-shadow: 0px $shadow-offset-xs $shadow-offset-sm 0px
							$color-shadow-dark,
						0px $shadow-offset-2xs $shadow-offset-xl 0px $color-shadow-light,
						0px $shadow-offset-default $shadow-offset-lg 0px
							$color-shadow-default;

					.sui-#{$block}__item {
						border-radius: unset;
						padding: $spacing-md $sidebar-spacing-md;
					}

					.sui-#{$block}__item-info {
						font-size: $font-size-xs;
						line-height: $font-height-xs;
						font-weight: $font-weight-default;
						color: $color-extended-neutral-50;
					}
				}
			}
		}
	}

	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: dark) {
		@include block($block) {
			@include element(dropdown) {
				@include modifier(list) {
					border: $border-width-sm solid $color-extended-neutral-0;
					box-shadow: none;

					.sui-#{$block}__item-info {
						color: $color-extended-neutral-0;
					}
				}
			}
		}
	}
}
