@use "sass:map";

@use "../../../_utils/utils" as *;

/// Build active
///
/// @type modifier
/// @author WPMU DEV
///
/// @param {String} $block-name - Main block name
@mixin build-segmented-control-active($block) {
	// DIR: Left to right.
	// THEME: Light.
	@include sui-class($rtl: false, $theme: null) {
		@include block($block) {
			@include element(label) {
				@include modifier(active) {
					position: relative;
					outline-color: $color-primary-10;
					background-color: $color-primary-05;
					color: $color-primary-50;
				}
			}
		}
	}

	// DIR: Left to right.
	// THEME: Dark.
	@include sui-class($rtl: false, $theme: dark) {
		@include block($block) {
			@include element(label) {
				@include modifier(active) {
					background-color: $color-base-black;
					color: $color-base-white;

					.sui-icon {
						color: $color-base-white;
					}
				}
			}
		}
	}
}
