@use "sass:map";

@use "../../../_utils/utils" as *;

/// Icon
///
/// @type block
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-icon($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		@include block($block) {
			// if input has icon
			@include modifies-element(icon) {
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				display: flex;
			}

			// if input has icon
			@include modifier("icon-end") {
				@include modifies-element(icon) {
					right: 12px;
				}

				// If the icon has a tooltip
				.sui-tooltip {
					right: 12px;
					position: relative;
				}
			}

			// if input has icon
			@include modifier("icon-start") {
				@include modifies-element(icon) {
					left: 12px;
				}
			}
		}
	}

	// DIR: Right to left.
	// THEME: None.
	@include sui-class($rtl: true, $theme: null) {
		@include block($block) {
			@include modifies-element(icon) {
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
			}

			@include modifier("icon-end") {
				@include modifies-element(icon) {
					left: 12px;
					right: auto;
				}
			}

			@include modifier("icon-start") {
				@include modifies-element(icon) {
					right: 12px;
					left: auto;
				}
			}
		}
	}

	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: "dark") {
		@include block($block) {
			@include element(icon) {
				color: $color-base-black;
			}
		}
	}
}
