@use "../../../_utils/tokens" as *;

$sui-input-font: (
	xs: (
		size: $input-font-size-xs,
		height: $input-font-height-xs,
		spacing: $input-font-spacing,
	),
	sm: (
		size: $input-font-size-sm,
		height: $input-font-height-sm,
		weight: $button-font-weight,
		spacing: $input-font-spacing,
	),
	md: (
		size: $input-font-size-md,
		height: $input-font-height-sm,
		spacing: $input-font-spacing,
	),
	lg: (
		size: $input-font-size-lg,
		height: $input-font-height-sm,
		spacing: $input-font-spacing,
	),
);

$sui-input-border: (
	sm: (
		width: $input-border-width-sm,
		style: solid,
		radius: $input-border-radius,
	),
	md: (
		width: $input-border-width-md,
	),
);
// $sui-button-spacing: (
// 	md: (
// 		vertical: $button-spacing-vertical,
// 		horizontal: $button-spacing-horizontal
// 	)
// );
// $sui-button-font: (
// 	md: (
// 		size: $button-font-size-md,
// 		height: $button-font-height-md,
// 		weight: $button-font-weight,
// 		spacing: $button-font-spacing-md
// 	),
// 	sm: (
// 		size: $button-font-size-sm,
// 		height: $button-font-height-sm,
// 		spacing: $button-font-spacing-sm
// 	)
// );
