@use "sass:map";

@use "../../../_utils/utils" as *;


/// Build Loader
/// This function creates styles for the element
/// main wrapper.
/// @type block
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-loader($block) {
    // DIR: Left to right.
    // THEME: None.
    @include sui-class($rtl: false, $theme: null) {
        // Block wrapper.
        @include block($block) {

            @include element(loader) {
                width: 18px;
                height: 18px;
            }

            @include element(icon) {
                fill: #0000;
                stroke: #0059FF;

                @include modifier(background, stroke) {
                    stroke-width: 12px;
                    stroke-dasharray: 276.4608 276.4608;
                    stroke-linecap: butt;
                }

                @include modifier(background) {
                    stroke: #E6E6E6;
                }

                @include modifier(stroke) {
                    stroke-dashoffset: 200;
                    animation: init-stroke 0.8s linear infinite;
                    transform-origin: center;
                } 
                
                @keyframes init-stroke {
                    0% {
                        transform: rotate(0deg);
                    }
                    100% {
                        transform: rotate(360deg);
                    }
                }
            }
        }
    }

    // DIR: Left to right.
    // THEME: Dark.
    @include sui-class($rtl: false, $theme: dark) {
        // Block wrapper.
        @include block($block) {

            @include element(icon) {
                stroke: $color-extended-neutral-0;

                @include modifier(background) {
                    stroke: $color-extended-neutral-100;
                }

                @include modifier(stroke) {
                    stroke-width: 8px;
                }
            }
        }
    }
}
