@use "sass:map";

@use "../../../_utils/utils" as *;

/// Build Spinner
/// This function creates styles for the element
/// main wrapper.
/// @type block
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-container($block) {
    // DIR: Left to right.
    // THEME: None.
    @include sui-class($rtl: false, $theme: null) {
        // Block wrapper.
        @include block($block) {
            display: inline-block;

            @include modifier(lg) {
                height: 48px;
            }

            @include modifier(sm) {
                height: 24px;
            }

            @include element(overlay){
                background-color: #FFFFFFE5;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
            }
        }
    }
}
