@use "sass:map";

@use "../../../_utils/utils" as *;

/// Build focus
///
/// @type block
/// @author WPMU DEV
///
/// @param {String} $block-name - Main block name
@mixin build-segmented-control-focus($block) {
	// DIR: Left to right.
	// THEME: Light.
	@include sui-class($rtl: false, $theme: null) {
		@include block($block) {
			@include element(label) {
				@include modifier(focus) {
					box-shadow: 0 0 0 2px #505050;
					color: var(--neutral-grey-dark-60737373, #505050);
					position: relative;
					z-index: 2;	
				}
			}
		}
	}

	// DIR: Left to right.
	// THEME: Dark.
	@include sui-class($rtl: false, $theme: dark) {
		@include block($block) {
			@include element(label) {
				@include modifier(focus) {
					box-shadow: none;
				}
			}
		}
	}
}
