@use "sass:map";

@use "../../../_utils/utils" as *;

/// Edit Disabled
/// This function creates styles for integration disabled state
///
/// @type modifier
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin edit-disabled($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		@include block($block) {
			@include modifier(disabled) {
				background: #F8F8F8;
                box-shadow: inset 0 0 0 1px #E6E6E6;

				@include modifies-element(icon) {
                    opacity: 0.5;
				}
			}
		}
	}
}
