@use "sass:map";

@use "../../../_utils/utils" as *;

/// Edit Focus
/// This function creates styles for integration disabled state
///
/// @type modifier
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin edit-focus($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		@include block($block) {
			@include modifier(focus) {
				box-shadow: inset 0 0 0 $integration-border-width $color-primary-50;
			}
		}
	}
}
