@use "sass:map";

@use "../../../_utils/utils" as *;

/// Edit Hover
/// This function creates styles for integration disabled state
///
/// @type modifier
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin edit-hover($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		@include block($block) {
			@include modifier(hover) {
				box-shadow: inset 0 0 0 1px #286EF1;
			}
		}
	}
}
