@use "sass:math";
@use "../../../_utils/utils" as *;

/// Drawer sizes
///
/// @type modifier
/// @author WPMU DEV
///
/// @param {String} $item - Main item name
@mixin build-size($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		@include block($block) {
			width: 100%;

			@include modifier(sm) {
				max-width: 320px;
			}

			@include modifier(large) {
				max-width: 520px;
			}
		}
	}
}
