@use "sass:map";

@use "../../../_utils/utils" as *;

/// State: Disabled
///
/// @type state
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin edit-disabled($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		@include block($block) {
			@include modifier(disabled) {
				cursor: default;
				pointer-events: none;

				@include modifies-element(label, description) {
					color: $color-grey-50;
				}

				@include modifies-element(switch) {
					background: $color-grey-10;

					&:before {
						background: $color-grey-30;
					}
				}
			}
		}
	}

	// DIR: Left to right.
	// THEME: Dark.
	@include sui-class($rtl: false, $theme: dark) {
		@include block($block) {
			@include modifier(disabled) {
				@include modifies-element(switch) {
					background: $color-base-white;

					&:before {
						background: $color-base-black;
					}
				}
			}
		}
	}
}
