@use "sass:map";

@use "../../../_utils/utils" as *;

/// State: Focus
///
/// @type state
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin edit-focus($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		@include block($block) {
			@include modifier(focus) {
				@include modifies-element(switch) {
					outline: $border-width-md solid $color-extended-neutral-80;
					outline-offset: $border-width-md;
					background: $color-extended-neutral-80;
				}
			}

			@include modifier(checked-focus) {
				@include modifies-element(switch) {
					outline: $border-width-md solid $color-primary-50;
					outline-offset: $border-width-md;
					background: $color-primary-50;
				}
			}
		}
	}

	// DIR: Left to right.
	// THEME: Dark.
	@include sui-class($rtl: false, $theme: dark) {
		@include block($block) {
			@include modifier(focus) {
				@include modifies-element(switch) {
					outline: $border-width-md solid $color-extended-neutral-0;
					outline-offset: $border-width-md;
					background: $color-extended-neutral-100;
				}
			}

			@include modifier(checked-focus) {
				@include modifies-element(switch) {
					outline: $border-width-md solid $color-extended-neutral-0;
					outline-offset: $border-width-md;
					background: $color-extended-neutral-0;
				}
			}
		}
	}
}
