@use "sass:math";
@use "../../../_utils/utils" as *;

/// Build Button
///
/// @type item
/// @author WPMU DEV
///
/// @param {String} $item - Main item name
@mixin build-button($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		@include block($block) {
			@include element(button) {
				align-items: center;
				background: $color-extended-neutral-95;
				border: $border-width-md dashed $color-extended-neutral-70;
				border-radius: $border-radius-md;
				color: $color-extended-neutral-50;
				padding: $spacing-lg $spacing-xl;
				width: 100%;

				@include modifier(hover) {
					border-color: $color-extended-neutral-60;
					color: $color-extended-neutral-10;
				}

				&:active {
					background: $color-alpha-grey-10;
				}
			}
		}
	}

	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: dark) {
		@include block($block) {
			@include element(button) {
				background: $color-extended-neutral-100;
				border-color: $color-extended-neutral-0;
				color: $color-extended-neutral-0;
			}
		}
	}
}
