@use "sass:math";
@use "../../../_utils/utils" as *;

/// Build Field
///
/// @type item
/// @author WPMU DEV
///
/// @param {String} $item - Main item name
@mixin build-field($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		@include block($block) {
			@include element(field) {
				background-color: $color-extended-neutral-100;
				border-radius: $border-radius-sm;
				box-shadow: 0 2px 1px 0 $color-shadow-light,
					0 1px 2px 0 $color-shadow-light;
				flex: 1;
			}

			@include element(field-header) {
				align-items: center;
				display: flex;
				gap: $spacing-md;
				justify-content: space-between;
				margin-bottom: $spacing-sm;
				padding: $builder-spacing-md $spacing-xl;
				text-decoration: none;
			}

			@include element(field-body) {
				border-top: $border-width-sm solid $color-extended-neutral-80;
			}

			@include element(field-content) {
				align-items: center;
				display: flex;
				flex: 1;
				gap: $spacing-md;
				justify-content: space-between;
				width: 100%;
				overflow: hidden;
			}

			@include element(field-info) {
				align-items: center;
				display: flex;
				gap: $spacing-md;
			}

			@include element(field-move) {
				align-items: center;
				color: $color-extended-neutral-0;
				cursor: grab;
				display: flex;
			}

			@include element(preview) {
				align-items: center;
				display: flex;
				position: relative;
				overflow: hidden;

				@include modifier(image) {
					height: $builder-size-height;
					width: $builder-size-width;
					img {
						height: 100%;
						width: auto;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
						position: absolute;
						border: $border-width-sm solid $color-alpha-grey-10;
						border-radius: $border-radius-sm;
						max-width: unset;
					}
				}
			}

			@include element(field-info-name) {
				color: $color-extended-neutral-10;
				font-weight: $font-weight-md;
				text-wrap: nowrap;
				text-overflow: ellipsis;
				overflow: hidden;
			}

			@include element(field-code) {
				color: $color-extended-neutral-60;
				font-size: $font-size-xs;
				flex: 1;
				text-wrap: nowrap;
				text-overflow: ellipsis;
				text-align: center;
				overflow: hidden;
			}

			@include element(field-actions) {
				align-items: center;
				display: flex;
			}

			@include element(field-actions-item) {
				@include modifier(accordion) {
					border-left: $border-width-md solid
						$color-extended-neutral-80;
					margin-left: $spacing-md;
					padding-left: $spacing-md;
				}
			}

			@include element(field-body) {
				background: $color-extended-neutral-100;
				display: none;
				padding: $spacing-xl;
			}

			@include element(field-toggle-btn) {
				margin-left: $spacing-md;
				position: relative;
				padding-left: $spacing-md;
			}
		}
	}
}
