@use "sass:math";
@use "../../../_utils/utils" as *;

/// Build Empty
///
/// @type item
/// @author WPMU DEV
///
/// @param {String} $item - Main item name
@mixin build-empty($block) {
    // DIR: Left to right.
    // THEME: None.
    @include sui-class($rtl: false, $theme: null) {
        @include block($block) {
            @include element(empty) {
                align-items: center;
                display: flex;
                gap: 16px;
                justify-content: center;
                flex-direction: column;
                padding: 24px 0;
            }

            @include element(empty-title) {
                color: #737373;
                font: $font-weight-md 15px/24px $font-family-default;
            }
        }
    }
}
