@use "sass:math";
@use "../../../_utils/utils" as *;

/// Build Container
///
/// @type block
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-container($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		@include block($block) {
			background: $color-extended-neutral-95;

			@include element(fields) {
				padding: $spacing-xxl $spacing-xxl $spacing-sm $spacing-xxl;
				@include media(max-width, md) {
					padding: $spacing-lg $spacing-lg $spacing-sm $spacing-lg;
				}
			}

			@include element(footer) {
				padding: 0 $spacing-xxl $spacing-xxl $spacing-xxl;
				@include media(max-width, md) {
					padding: 0 $spacing-lg $spacing-lg $spacing-lg;
				}
			}

			@include element(fields) {
				@include modifier(scrollable) {
					overflow-x: auto;

					@include media(max-width, md) {
						padding-bottom: $spacing-lg;
					}

					.sui-#{$block}__content {
						min-width: 680px;
					}
				}
			}
		}
	}
}
