
@use "sass:math";
@use "../../../_utils/utils" as *;

/// Build block
///
/// @type item
/// @author WPMU DEV
///
/// @param {String} $item - Main item name
@mixin build-block($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		@include block($block) {
			@include element(block) {
				background-color: #FFFFFF;
				align-items: center;
				border-radius: 4px;
				display: flex;
				justify-content: space-between;
				margin-bottom: 4px;
				padding: 16px 24px;
				text-decoration: none;
			}

			@include element(block-info) {
				align-items: center;
				display: flex;
			}
		}
	}
}
