@use "sass:math";
@use "../../../_utils/utils" as *;

/// Build Slot
///
/// @type block
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-slot($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		@include block($block) {
			@include element(slot) {
				display: flex;
				flex-flow: row wrap;
				align-items: center;
			}
		}
	}
}
