@use "sass:map";

@use "../../../_utils/utils" as *;

/// Edit Disabled
/// This function creates styles for input disabled state
///
/// @type modifier
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin edit-disabled($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		@include block($block) {
			@include modifier(disabled) {
				&:before {
					border-color: $input-border-color-disabled;
				}

				@include modifies-element(input) {
					pointer-events: none;
					background: $input-bg-disabled;
				}
			}
		}
	}
}
