@use "sass:map";

@use "../../../_utils/utils" as *;
@use "../_utils/colors" as *;

/// Build Tag Colors
///
/// @type modifier
/// @author WPMU DEV
///
/// @param {String} $block-name - Main block name
@mixin build-color($block-name) {
	// DIR: Left to right.
	// THEME: Light.
	@include sui-class($rtl: false, $theme: null) {
		@include block($block-name) {
			// Variation: Semantic (Solid)
			@each $name, $value in $colors {
				@if $name == default {
					border-color: $value;
					background: $value;
					color: $color-base-white;
				} @else {
					@include modifier($name) {
						border-color: $value;
						background: $value;
						@if $name == yellow or $name == white {
							color: $color-grey-90;
						}
					}
				}
			}

			// Variation: Structured (Outlined)
			@each $name, $value in $colors {
				@if $name == default {
					@include modifier(outlined) {
						background: transparent;
						color: $value;
					}
				} @else {
					@include modifier(#{"outlined-" + $name}) {
						border-color: $value;
						background: transparent;
						color: $value;
					}
				}
			}
		}
	}

	// DIR: Left to right.
	// THEME: Dark.
	@include sui-class($rtl: false, $theme: dark) {
		@include block($block-name) {
			border-color: $color-base-black;
			background: $color-base-black;
			color: $color-base-white;

			@include modifier("outlined") {
				border-color: $color-base-black;
				color: $color-base-black;
				background: transparent;
			}
		}
	}
}
