@use "sass:map";

// Import main blocks of styles.
@use "../../../_utilities/mixins" as *;

// Import colors map.
@use "../_color-utils/variables" as *;

@mixin build-font($block) {
	@include sui-class($rtl: false, $theme: light) {
		@each $name, $map in $sui-palette {
			@each $shade, $value in $map {
				@include block($block + '-' + $name) {
					@include modifier($shade) {
						color: $value;
					}
				}
			}
		}
	}
}
