@use "sass:map";

@use "../../../_utils/utils" as *;

/// Build Copy Button
/// This function creates styles for the element
/// main wrapper.
/// @type block
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-header($block) {
    // DIR: Left to right.
    // THEME: None.
    @include sui-class($rtl: false, $theme: null) {
        // Block wrapper.
        @include block($block) {
            @include element(header) {
                align-items: center;
                background: $color-extended-neutral-90;
                border: $border-width-sm solid $color-extended-neutral-80;
                border-bottom: 0;
                display: flex;
                justify-content: space-between;
                padding: $spacing-sm $spacing-lg;

                @include modifier(title) {
                    color: $color-extended-neutral-10;
                    display: inline-block;
                    font-size: $font-size-xs;
                    font-weight: $font-weight-md;
                    line-height: $font-height-xs;
                    margin: $spacing-sm 0;
                }
            }

            &:first-child {
                .sui-#{$block}__header {
                    border-top-left-radius: $border-radius-md;
                }
            }

            &:last-child {
                .sui-#{$block}__header {
                    border-top-right-radius: $border-radius-md;
                }
            }
        }
    }

    // DIR: Left to right.
    // THEME: Dark.
    @include sui-class($rtl: false, $theme: dark) {
        // Block wrapper.
        @include block($block) {
            @include element(header) {
                background: $color-extended-neutral-100;
                border: $border-width-sm solid $color-extended-neutral-0;
                border-bottom: 0;

                @include modifier(title) {
                    color: $color-extended-neutral-0;
                }
            }
        }
    }
}
