@use "sass:math";
@use "../../../_utils/utils" as *;

/// Variations
///
/// @type modifier
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin edit-variations($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		@include block($block) {
			@include modifier(hub) {
				background: $color-primary-40;
				border: $border-width-sm solid $color-primary-40;
			}

			@include modifier(black-friday) {
				background: $advanced-banner-background;

				@include modifies-element(graphic) {
					display: flex;
					background: $color-extended-warning-50;
					border-radius: 0 0 $border-radius-lg $border-radius-lg;
					height: fit-content;
					margin-top: -#{$spacing-xxl};
					padding: $spacing-xl $spacing-xl;
				}

				@include modifies-element(graphic-text) {
					color: $color-extended-neutral-10;
					font-weight: $font-weight-lg;

					span {
						display: block;
					}
				}
			}

			@include modifier(hub, black-friday) {
				@include modifies-element(info-title, info-desc, info-helper) {
					color: $color-extended-neutral-100;
				}
			}
		}
	}

	// DIR: Left to right.
	// THEME: Dark.
	@include sui-class($rtl: false, $theme: dark) {
		@include block($block) {
			@include modifier(hub, black-friday) {
				background: $color-extended-neutral-0;
				border-color: $color-extended-neutral-0;
			}

			@include modifier(black-friday) {
				@include modifies-element(graphic) {
					background: $color-extended-neutral-100;
				}

				@include modifies-element(graphic-text) {
					color: $color-extended-neutral-0;
				}
			}
		}
	}
}
