@use "../../../_utils/utils" as *;

@mixin build-menu($block-name) {
	@include sui-class($rtl: false, $theme: null) {
		@include block($block-name) {
			@include element(menu) {
				width: 300px;
				max-height: 300px;
				overflow-y: scroll;
				z-index: 100;
				position: absolute;
				top: 100%;
				left: 0;
				display: none;
				margin: $spacing-md 0 0;
				padding: $spacing-sm 0;
				border-radius: $border-radius-sm;
				background: $color-extended-neutral-100;
				box-shadow:
					0 6px 12px rgba(115, 115, 115, 0.08),
					0 1px 16px rgba(115, 115, 115, 0.05),
					0 2px 4px rgba(115, 115, 115, 0.1);
			}
		}
	}
}
