@use "sass:map";

@use "../../../_utils/mixins" as *;
@use "../_tooltip-utils/variables" as *;

/// Build Tooltip
/// This function creates styles for the element
/// main wrapper.
/// @type block
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-tooltip($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {

		// Block wrapper.
		@include block($block) {

            @include element(content) {
                min-width: var(--tooltip-width, 40px);
                opacity: 0;
                position: absolute;
                padding: 8px 12px;
                border-radius: 4px;
                background-color: #333;
                color: #fff;
                font-weight: 400;
                font-size: 13px;
                line-height: 24px;
                text-align: center;
                text-transform: none;
                white-space: nowrap;
                transition: 0.2s;
                pointer-events: none;

                &:after {
                    content: '';
                    position: absolute;
                }
            }

            @include modifier(show) {

                .sui-#{$block}__content {
                    opacity: 1;
                    transition: 0.2s;
                }
            }
            // &.sui-tooltip {
            //     &.sui-tooltip:after {
            //         content: unset;
            //     }
            //     [role='tooltip'] {
            //         min-width: var(--tooltip-width, 40px);
            //         opacity: 0;
            //         position: absolute;
            //         left: 50%;
            //         bottom: 100%;
            //         margin-bottom: 10px;
            //         padding: 8px 12px;
            //         border-radius: 4px;
            //         background-color: #333;
            //         transform: translateX(-50%);
            //         color: #fff;
            //         font: 500 12px/18px Roboto, Arial, sans-serif;
            //         letter-spacing: -0.25px;
            //         text-transform: none;
            //         white-space: nowrap;
            //         transition: 0.2s;
            //         pointer-events: none;
            //         @media (max-width: 782px) {
            //             &.sui-tooltip-mobile {
            //                 min-width: var(--tooltip-width-mobile, 120px);
            //                 white-space: normal;
            //             }
            //         }
            //     }
        
            //     button.sui__tooltip-elem {
            //         &.sui-button,
            //         &.sui-button-icon {
            //             margin-right: 0;
            //         }
            //     }
            // }
        
            // &.show {
            //     .sui__tooltip-elem + [role='tooltip'],
            //     &:before {
            //         opacity: 1 !important;
            //         transition: 0.2s !important;
            //     }
            // }
        
            // &.hide {
            //     .sui__tooltip-elem + [role='tooltip'],
            //     &:before {
            //         opacity: 0 !important;
            //         transition: 0.2s !important;
            //     }
            // }
        
            // &.sui-tooltip-top-left [role='tooltip'] {
            //     left: 0;
            //     transform: translateX(0);
            // }
        
            // &.sui-tooltip-top-right [role='tooltip'] {
            //     left: unset;
            //     right: 0;
            //     transform: translateX(0);
            // }
        
            // &[class*='sui-tooltip-bottom-'] [role='tooltip'],
            // &.sui-tooltip-bottom [role='tooltip'] {
            //     top: 100%;
            //     bottom: unset;
            //     margin-top: 10px;
            //     margin-bottom: 0;
            // }
        
            // &.sui-tooltip-bottom-left [role='tooltip'] {
            //     left: 0;
            //     right: unset;
            //     transform: translateX(0);
            // }
        
            // &.sui-tooltip-bottom-right [role='tooltip'] {
            //     left: unset;
            //     right: 0;
            //     transform: translateX(0);
            // }
        
            // &.sui-tooltip-right [role='tooltip'] {
            //     top: 50%;
            //     bottom: unset;
            //     left: 100%;
            //     margin-left: 10px;
            //     margin-bottom: 0;
            //     transform: translateY(-50%);
            // }
        
            // &.sui-tooltip-left [role='tooltip'] {
            //     top: 50%;
            //     right: 100%;
            //     bottom: unset;
            //     left: unset;
            //     margin-right: 10px;
            //     margin-bottom: 0;
            //     transform: translateY(-50%);
            // }
		}
	}
}
