@use "sass:map";

@use "../../../_utils/utils" as *;

/// Build Input
///
/// @type block
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-input($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		// Block wrapper.
		@include block($block) {
			@include element(color) {
				position: relative;
				max-width: $colorpicker-size-width-lg;
			}

			@include modifier(fluid) {
				display: block;

				@include modifies-element(color) {
					max-width: 100%;
				}
			}

			.sui-input__input {
				padding: $spacing-md $colorpicker-spacing-lg;
			}

			@include element(input-preview, icon, button) {
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
			}

			@include element(input-preview) {
				align-items: center;
				display: inline-flex;
				gap: $spacing-md;
				left: $spacing-md;
				cursor: pointer;
			}

			@include element(input-preview-icon) {
				border-radius: 100%;
				height: $colorpicker-size-height-md;
				width: $colorpicker-size-width-sm;
				background-position: center;
				background-size: $colorpicker-size-width-xs;
				border: $border-width-sm solid $color-alpha-grey-10;
			}

			@include element(input-preview-code) {
				font-size: $font-size-default;
				line-height: $font-size-sm;
			}

			@include element(icon) {
				cursor: pointer;
				color: $color-extended-neutral-70;
				right: 0;

				&:hover {
					color: $color-extended-neutral-60;
				}
			}

			@include element(button) {
				right: $spacing-md;
			}
		}
	}

	// DIR: Left to right.
	// THEME: Dark.
	@include sui-class($rtl: false, $theme: dark) {
		// Block wrapper.
		@include block($block) {
			color: $color-extended-neutral-0;
			@include element(input) {
				box-shadow: 0 0 0 $border-width-sm $color-extended-neutral-0;
			}

			@include element(input-preview-icon) {
				border: $border-width-sm solid $color-extended-neutral-0;
			}

			@include element(input-close) {
				color: $color-extended-neutral-0;
			}

			@include element(icon) {
				color: $color-extended-neutral-0;
			}
		}
	}

	// DIR: Right to left.
	// THEME: None.
	@include sui-class($rtl: true, $theme: null) {
		// Block wrapper.
		@include block($block) {
			@include element(icon) {
				left: $spacing-md;
				right: unset;
			}

			@include element(input-preview) {
				left: unset;
				right: $spacing-md;
			}

			@include element(button) {
				left: $spacing-md;
				right: unset;
			}
		}
	}
}
