@use "../../../_utils/utils" as *;

/// Hover State
///
/// @type modifier
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin state-hover($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		@include block($block) {
			@include element(field) {
				transition: 0.3s all ease;
				@include modifier(hover) {
					outline: $border-width-xl solid $color-alpha-grey-10;
				}
			}
		}
	}

	// DIR: Left to right.
	// THEME: Dark.
	@include sui-class($rtl: false, $theme: dark) {
		@include block($block) {
			@include element(field) {
				@include modifier(hover) {
					outline: none;
				}
			}
		}
	}
}
