@use "sass:math";
@use "../../../_utils/utils" as *;

/// Build Container
///
/// @type element
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-container($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		@include block($block) {
			margin: #{$spacing-lg * 2} 0;
			padding: 0 #{$spacing-lg * 2};

			@include modifier(header, footer) {
				padding: #{$spacing-lg + 8px} #{$spacing-lg * 2};
				margin: 0;
			}

			@include modifier(footer) {
				margin-top: -$spacing-md;
				border-top: $border-width-sm solid $color-extended-neutral-80;
			}

			@include modifier(header) {
				margin-bottom: -$spacing-md;
				border-bottom: $border-width-sm solid $color-extended-neutral-80;
			}
		}
	}
}
