@use "../../../_utils/utils" as *;

/// Edit Disabled
///
/// @type state
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin edit-disabled($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		@include block($block) {
			@include modifier(disabled) {
				pointer-events: none;
				user-select: none;
				@include modifies-element(label, helper) {
					color: $color-extended-neutral-70;
				}
			}
		}
	}
}
