@use "sass:map";

@use "../../../_utils/utils" as *;

/// Build Select Control
/// This function creates styles for the element
/// recipient wrapper.
///
/// @type block
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-control($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		@include block($block) {
			@include element(control) {
				position: relative;
				border-width: $select-control-border-width;
				border-color: $color-extended-neutral-70;
				border-style: $select-control-border-style;
				border-radius: $select-control-border-radius;
				padding: $select-control-padding-md-vertical $select-control-padding-md-horizontal;
				min-height: $select-control-size-md;
				cursor: pointer;
			}

			@include element(selected) {
				user-select: none;
			}

			@include modifier(searchable) {
				@include modifies-element(control) {
					padding: $select-control-searchable-padding;
				}
			}

			@include modifier(smartsearch) {
				@include modifies-element(input) {
					padding-left: $select-control-smartsearch-padding-horizontal;
				}
			}

			@include modifier(multiselect) {
				@include modifies-element(selected-options) {
					position: relative;
					font-size: $select-control-options-font-size-md;
					line-height: $select-control-options-font-height-md;
					font-weight: $select-control-options-font-weight;
					color: $select-control-options-font-color;
					background: $color-primary-90;
					border-radius: $select-control-options-border-radius;
					padding-top: $select-control-options-padding-vertical;
					padding-bottom: $select-control-options-padding-vertical;
					padding-left: $select-control-options-padding-horizontal-left;
					padding-right: $select-control-options-padding-horizontal-right;
					margin-right: $select-control-options-margin-horizontal-right;
					white-space: nowrap;
				}

				@include modifies-element(control) {
					padding-right: $select-control-multiselect-padding-md-horizontal;
				}
			}
		}
	}

	// DIR: Left to right.
	// THEME: Dark.
	@include sui-class($rtl: false, $theme: dark) {
		@include block($block) {

			@include modifier(multiselect) {
				@include modifies-element(selected-options) {
					color: $color-extended-neutral-100;
					background: $color-extended-neutral-0;
				}
			}
		}
	}
}
