@use "sass:map";

@use "../../../_utils/utils" as *;

/// Build Select Input
/// This function creates styles for the select input
/// recipient wrapper.
///
/// @type block
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-input($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		@include block($block) {
            @include element(input) {
                font-size: 15px;
                line-height: 24px;
                padding: 8px 16px;
                margin: 0;
                border: 0;
                border-radius: 4px;
                width: 100%;
                cursor: text;
                outline: none;
            }

            @include element(search) {
                @include modifier(input) {
					font-size: 12px;
					line-height: 16px;
					width: 100%;
					cursor: text;
					outline: none;
					border: 1px solid #e6e6e6;
					border-radius: 3px;
					padding: 8px 12px 8px 32px;
					width: 100%;
				}
            }
		}
	}
}
