@use "sass:map";

@use "../../../_utils/utils" as *;

/// Select Search
/// This function creates styles for select search
///
/// @type modifier
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-search($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		@include block($block) {
            @include element(search) {
				position: relative;
                padding: 8px 8px 0;
                border-style: solid;
                border-bottom: 0;
                border-top: 0;
				border-width: 2px;
				border-color: #286ef1;
            }
		}
	}
}
