@use "sass:map";

@use "../../../_utils/utils" as *;

/// Select Checkbox
/// This function creates styles for select checkbox
///
/// @type modifier
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-checkbox($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		@include block($block) {
            .sui-checkbox {
                font-size: $select-checkbox-font-size-md;
                line-height: $select-checkbox-font-height-md;
                width: $select-checkbox-container-size;
            }
		}
	}
}
