@use "sass:map";

@use "../../../_utils/utils" as *;

/// Build Select Container
/// This function creates styles for the element
/// recipient wrapper.
///
/// @type block
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-container($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		@include block($block) {
            position: relative;
            
            .select-header {
                border-width: 1px;
                border-color: #AAAAAA;
                border-style: solid;
                border-radius: 4px;
                padding: 8px 16px;
                cursor: pointer;
            }

            .sui-select__header {
                position: relative;
                .suicons {
                    position: absolute;
                    top: 50%;
                    right: 16px;
                    transform: translateY(-50%);
                }
            }

            .sui-select__input {
                width: 100%;
                cursor: text;
                outline: none;
            }

            .options-list {
                background: #fff;
                position: absolute;
                width: 100%;
                padding: 8px 0;
                margin: 0;
                border-style: solid;
                border-bottom-left-radius: 4px;
                border-bottom-right-radius: 4px;
                max-height: 145px;
                overflow-y: scroll;
                li {
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                    padding: 4px 16px;
                    margin: 0;
                    font-size: 13px;
                    line-height: 25px;

                    .suicons {
                        padding-right: 9px;
                    }
                    
                    &:hover {
                        color: #286EF1;
                    }

                    &.selected {
                        background: #286EF1;
                        color: #fff;
                    }
                }
            }

            &.sui-select--open {
                .select-header {
                    border-bottom-left-radius: 0;
                    border-bottom-right-radius: 0;
                    border-bottom: 0;
                    box-shadow: inset 0px -1px 0px #D5E3FD;
                }
                .options-list {
                    border-top: 0;
                }
            }

            &.sui-select--open,
            &.sui-select--focus {
                .options-list,
                .select-header {
                    border-width: 2px;
                    border-color: #286EF1;
                }
            }

            &.sui-select--hover {
                .select-header {
                    border-color: #286EF1;
                }
            }

            &.sui-select--error {
                .select-header {
                    border-width: 1px;
                    border-color: #F45C59;
                }
                &.sui-select--open,
                &.sui-select--focus {
                    .options-list,
                    .select-header {
                        box-shadow: inset 0 0 1px #F45C59;
                        border-width: 2px;
                        border-color: #F45C59;
                    }
                }
            }

            &.sui-select--disabled {
                .select-header {
                    background: #F2F2F2;
                    cursor: none;
                    pointer-events: none;
                    border: none;
                    color: #AAAAAA;
                }
            }
		}
	}
}
