@use "sass:map";

@use "../../../_utils/utils" as *;

/// Build Select Container
/// This function creates styles for the element
/// recipient wrapper.
///
/// @type block
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-container($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		@include block($block) {
			position: relative;

			.sui-select__selection {
				border-width: 1px;
				border-color: #aaaaaa;
				border-style: solid;
				border-radius: 4px;
				padding: 8px 16px;
				cursor: pointer;
				position: relative;
				min-height: 40px;

				.sui-select--selected {
					user-select: none;
				}

				.sui-select__icon {
					position: absolute;
					top: 50%;
					right: 16px;
					transform: translateY(-50%);
				}
			}

			.sui-select__icon {
				line-height: 1;
			}

			&.sui-select--searchable {
				.sui-select__selection {
					padding: 0;
				}
			}

			&.sui-select--smart-search {
				.sui-select__selection .sui-select__input {
					padding-left: 44px;
				}
			}

			.sui-select__selection .sui-select__input {
				font-size: 15px;
				line-height: 24px;
				padding: 8px 16px;
				margin: 0;
				border: 0;
				border-radius: 4px;
				width: 100%;
				cursor: text;
				outline: none;
			}

			.sui-select__suggestions {
				position: absolute;
				padding: 8px 16px;
				width: 100%;
				top: 0;
				color: #aaa;
				pointer-events: none;
			}

			.sui-select__list {
				background: #fff;
				position: absolute;
				width: 100%;
				padding: 8px 0;
				margin: 0;
				border-style: solid;
				border-bottom-left-radius: 4px;
				border-bottom-right-radius: 4px;
				max-height: 145px;
				overflow-y: scroll;
				.sui-select__list--option {
					display: flex;
					align-items: center;
					cursor: pointer;
					padding: 4px 16px;
					margin: 0;

					.sui-checkbox,
					span {
						font-size: 13px;
						line-height: 24px;
					}

					.sui-select__icon {
						padding-right: 9px;
					}

					&:hover {
						color: #286ef1;
					}

					&.sui-select__list--selected {
						background: #286ef1;
						color: #fff;
					}
				}
			}

			.sui-select__list--empty {
				padding: 16px;
				margin: 0 8px;
				font-size: 13px;
				line-height: 16px;
				letter-spacing: -0.25px;
				background: #eaf1fe;
				border-radius: 4px;
			}

			.sui-select__icon--search {
				right: unset !important;
				left: 16px;
				font-size: 20px;
				color: #737373;
			}

			.sui-select__icon--close-alt {
				font-size: 20px;
				pointer-events: all;
				color: #aaa;

				&:hover {
					color: #737373;
				}
			}

			&.sui-select--multiselect {
				.sui-select__selection {
					padding-right: 60px;
				}

				.sui-select--selected-options {
					position: relative;
					background: #eaf1fe;
					border-radius: 4px;
					font-size: 12px;
					line-height: 16px;
					color: #286ef1;
					font-weight: 500;
					padding: 4px 24px 4px 8px;
					margin-right: 4px;
					.sui-select__icon--close {
						right: 7px;
						font-size: 10px;
					}
				}
				.sui-select__icon--close-alt {
					right: 37px;
				}
			}

			&.sui-select--open {
				.sui-select__selection .sui-select__input,
				.sui-select__selection {
					border-bottom-left-radius: 0;
					border-bottom-right-radius: 0;
					border-bottom: 0;
					box-shadow: inset 0px -1px 0px #d5e3fd;
				}
				.sui-select__list {
					border-top: 0;
				}
			}

			&.sui-select--open,
			&.sui-select--focus {
				.sui-select__list,
				.sui-select__selection,
				.sui-select__list--search {
					border-width: 2px;
					border-color: #286ef1;
				}
			}

			&.sui-select--hover {
				.sui-select__selection,
				.sui-select__list--search {
					border-color: #286ef1;
				}
			}

			&.sui-select--error {
				.sui-select__selection,
				.sui-select__list--search {
					border-width: 1px;
					border-color: #f45c59;
				}
				&.sui-select--open,
				&.sui-select--focus {
					.sui-select__list,
					.sui-select__selection,
					.sui-select__list--search {
						box-shadow: inset 0 0 1px #f45c59;
						border-width: 2px;
						border-color: #f45c59;
					}
				}
			}

			&.sui-select--disabled {
				.sui-select__selection {
					background: #f2f2f2;
					cursor: none;
					pointer-events: none;
					border: none;
					color: #aaaaaa;
				}
			}

			.sui-select__list--search {
				position: relative;
				padding: 8px 8px 0;
				border-style: solid;
				border-bottom: 0;
				border-top: 0;

				.sui-select__icon--search {
					font-size: 12px;
					position: absolute;
					bottom: 10px;
					left: 20px;
				}

				.sui-select__input {
					border: 1px solid #e6e6e6;
					border-radius: 3px;
					padding: 8px 12px 8px 32px;
					width: 100%;
				}
			}
		}
	}
}
