@use "sass:map";

@use "../../../_utils/utils" as *;

/// Build field
///
/// @type block
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-field($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		@include block($block) {
			@include element(field) {
				outline: $border-width-sm solid $color-extended-neutral-70;
				outline-offset: -#{$border-width-sm};
				border-radius: $border-radius-sm;
				font-size: $font-size-default;
				padding: $spacing-md $spacing-lg;
				width: 100%;
			}
		}
	}

	// DIR: Left to right.
	// THEME: Dark.
	@include sui-class($rtl: false, $theme: dark) {
		@include block($block) {
			@include element(field) {
				outline-color: $color-extended-neutral-0;
			}
		}
	}
}
