// Import main variables.
@use "../../../_utils/tokens" as *;

$sui-grid: $grid-columns;

$sui-grid-spacing: (
	sm: $grid-spacing-sm,
	md: $grid-spacing-md,
	lg: $grid-spacing-lg,
	xl: $grid-spacing-lg
);
