@use "sass:math";
@use "../../../_utils/utils" as *;

/// Size
///
/// @type element
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin edit-size($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		@include block($block) {
			@include modifier(sm) {
				@include modifies-element(indicator) {
					height: $spacing-sm;
				}
			}

			@include modifier(lg) {
				@include modifies-element(indicator) {
					height: $spacing-lg;
				}
			}
		}
	}
}
