@use "sass:map";

@use "../../../_utils/utils" as *;

/// Build Description
/// This function creates styles for the integration description
///
/// @type block
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-description($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		@include block($block) {
			@include element(description) {
				font-size: $font-size-xs;
				line-height: $font-height-sm;
				color: $color-extended-neutral-50;
				margin: $spacing-lg 0 0;
			}
		}
	}
}
