@use "sass:map";

@use "../../../_utils/utils" as *;

/// Build Segmented control
///
/// @type block
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-segmented-control($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		@include block($block) {
			display: flex;
			align-items: stretch;
			overflow: hidden;
			scroll-behavior: smooth;
			padding: $spacing-2xs;

			&::-webkit-scrollbar {
				display: none;
			}

			@include element(container) {
				position: relative;
			}
		}
	}
}
