@use "sass:map";

@use "../../../_utils/utils" as *;

/// Build Segmented control button
///
/// @type block
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-segmented-control-button($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		@include block($block) {
			@include element(button) {
				display: flex;
				min-height: $segmented-size-height;

				&:first-child {
					.sui-#{$block}__label {
						border-radius: $segmented-border-radius 0 0 $segmented-border-radius;
					}
				}

				&:last-child {
					.sui-#{$block}__label {
						border-radius: 0 $segmented-border-radius $segmented-border-radius 0;
						border-right-width: $segmented-border-width;
					}

					.sui-#{$block}__label--active {
						border-left-color: $segmented-border-color;
					}
				}
			}
		}
	}

	// DIR: Right to left.
	// THEME: None.
	@include sui-class($rtl: true, $theme: null) {
		@include block($block) {
			@include element(button) {
				&:first-child {
					.sui-#{$block}__label {
						border-radius: 0 $segmented-border-radius $segmented-border-radius 0;
						border-right-width: $segmented-border-width;
					}

					.sui-#{$block}__label--active {
						border-right-color: $color-primary-80;
						border-left-color: $segmented-border-color;
					}
				}

				&:last-child {
					.sui-#{$block}__label {
						border-radius: $segmented-border-radius 0 0 $segmented-border-radius;
						border-right-width: 0;
					}

					.sui-#{$block}__label--active {
						border-left-color: $color-primary-80;
						border-right-color: $segmented-border-color;
					}
				}
			}
		}
	}
}
