@use "sass:map";

@use "../../../_utils/utils" as *;

/// Build Segmented control
///
/// @type block
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-segmented-control($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		@include block($block) {
			display: flex;
			align-items: stretch;
			overflow-y: scroll;
			padding: $spacing-2xs;
		}
	}
}
