@use "sass:math";
@use "../../../_utils/utils" as *;

/// Build Brand
///
/// @type element
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-brand($block) {
    // DIR: Left to right.
    // THEME: None.
    @include sui-class($rtl: false, $theme: null) {
        @include block($block) {
            @include element(brand) {
                align-items: center;
                display: flex;
                gap: $spacing-lg;

                h3 {
                    margin: 0;
                }
            }

            @include element(brand-icon) {
                align-items: center;
                background-color: $navigation-brand-icon-background;
                border-radius: 10px;
                display: inline-flex;
                height: $navigation-brand-icon-size-height-lg;
                justify-content: center;
                width: $navigation-brand-icon-size-width-lg;
            }

            @include element(brand-info) {
                span {
                    color: $navigation-brand-info-font-color;
                    font: $font-weight-md $navigation-brand-info-font-size/$navigation-brand-info-font-height $font-family-default;
                    letter-spacing: $navigation-brand-info-font-spacing;
                    text-transform: uppercase;
                }
            }
        }

    }
}
