@use "sass:map";

@use "../../../_utils/utils" as *;

/// Dropdown
///
/// @type modifier
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-dropdown($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		@include block($block) {
			@include element(dropdown) {
				position: absolute;
				left: 0;
				right: 0;
				overflow-y: auto;
				background: $color-extended-neutral-100;
				padding: $select-dropdown-container-padding-vertical
					$select-dropdown-container-padding-horizontal;
				margin: $select-dropdown-container-margin;
				max-height: $select-dropdown-container-size-height;
				border-radius: $border-radius-md;
				box-shadow: 0 $spacing-xs $spacing-sm 0 $color-shadow-dark,
					0 $spacing-2xs $spacing-lg 0 $color-shadow-light,
					0 #{$spacing-sm + 2px} $spacing-default 0 $color-shadow-default;

				@include modifier(option) {
					display: flex;
					align-items: center;
					cursor: pointer;
					font-size: $font-size-xs;
					line-height: $select-dropdown-option-font-height-md;
					padding: $select-dropdown-option-padding-vertical
						$select-dropdown-option-padding-horizontal-md;
					margin: $select-dropdown-option-margin;
				}

				@include modifier(selected) {
					color: $color-primary-50;
				}

				@include modifier(empty) {
					padding: $select-dropdown-empty-padding;
					margin: $select-dropdown-empty-margin-horizontal
						$select-dropdown-empty-margin-vertical;
					font-size: $font-size-xs;
					line-height: $select-dropdown-empty-font-height-md;
					letter-spacing: $select-dropdown-empty-font-spacing-md;
					background: $color-primary-90;
					border-radius: $select-dropdown-empty-border-radius;
				}
			}

			@include modifier(open) {
				@include modifies-element(dropdown) {
					// border-top: 0;
					// border-width: $select-dropdown-open-border-width;
					// border-color: $select-dropdown-open-border-color;
				}
			}
		}
	}

	// DIR: Left to right.
	// THEME: Dark.
	@include sui-class($rtl: false, $theme: dark) {
		@include block($block) {
			@include element(dropdown) {
				@include modifier(selected) {
					color: $color-extended-neutral-0;
				}

				@include modifier(empty) {
					background: $color-extended-neutral-0;
					color: $color-extended-neutral-100;
				}
			}

			@include modifier(open) {
				@include modifies-element(dropdown) {
					border-color: $color-extended-neutral-0;
				}
			}
		}
	}
}
