@use "sass:map";

@use "../../../_utils/utils" as *;

/// Select Search
///
/// @type modifier
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-search($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		@include block($block) {
			@include element(search) {
				position: relative;
				border-bottom: 0;
				border-top: 0;
				padding: $spacing-md $spacing-md 0;
			}

			@include modifier(multiselect) {
				@include modifies-element(search) {
					display: none;
					position: absolute;
					left: 0;
					right: 0;
					border-top: 0;
					border-bottom: 0;
					background: $color-base-white;
					border-top-left-radius: $border-radius-md;
					border-top-right-radius: $border-radius-md;
					box-shadow: 0 $spacing-xs $spacing-sm 0 $color-extended-shadow-dark,
						0 $spacing-2xs $spacing-lg 0 $color-extended-shadow-light,
						0 #{$spacing-sm + 2px} $spacing-default 0 $color-extended-shadow-default;
				}
			}
		}
	}

	// DIR: Left to right.
	// THEME: Dark.
	@include sui-class($rtl: false, $theme: dark) {
		@include block($block) {
			@include element(search) {
				border-color: $color-base-black;
				border-top: $border-width-sm;
				border-left: $border-width-sm;
				border-right: $border-width-sm;
				border-style: solid;
			}
		}
	}
}
