@use "sass:map";

@use "../../../_utils/utils" as *;

/// Select Checkbox
///
/// @type block
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-checkbox($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		@include block($block) {
			.sui-checkbox {
				font-size: $font-size-xs;
				line-height: $select-checkbox-font-height-md;
				width: $select-checkbox-container-size;
			}
		}
	}
}
