@use "sass:map";

@use "../../../_utils/utils" as *;

/// Build Button
/// This function creates styles for the password button
///
/// @type element
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-button($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		@include block($block) {
			@include element(button) {
				position: absolute;
				top: 4px;
				right: 4px;
				margin: 0;
			}
		}
	}
}
