@use "sass:map";

@use "../../../_utils/utils" as *;
@use "../_utils/variables" as *;

/// Build Button
/// This function creates styles for the password button
///
/// @type element
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-button($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		@include block($block) {
			.sui-input__field {
				padding-right: 70px;
			}
			.sui-button {
				@if map.has-key($sui-password-font, sm, size) {
					font-size: map.get($sui-password-font, sm, size);
				}
				@if map.has-key($sui-password-font, sm, height) {
					line-height: map.get($sui-password-font, sm, height);
				}
				position: absolute;
				min-width: unset;
				bottom: 3px;
				right: 3px;
				margin: 0;
				padding: 4px;

				.sui-button__icon {
					@if map.has-key($sui-password-font, lg, size) {
						font-size: map.get($sui-password-font, lg, size);
					}
					margin: 0;
				}
			}

			&.sui-input--sm {
				.sui-button {
					padding: 0px 8px;
					.sui-button__icon {
						@if map.has-key($sui-password-font, md, size) {
							font-size: map.get($sui-password-font, md, size);
						}
					}
				}
			}

			&.sui-password--icon {
				.sui-button {
					padding: 0;
				}
				.sui-input__field {
					padding-right: 40px;
				}
			}
		}
	}
}
