@use "sass:map";

@use "../../../_utils/utils" as *;

/// Build Container
/// This function creates styles for the password container
///
/// @type block
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-container($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		@include block($block) {
			position: relative;
		}
	}
}
