@use "sass:map";

@use "../../../_utils/utils" as *;

/// Build Button
/// This function creates styles for the password button
///
/// @type element
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-button($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		@include block($block) {
			.sui-input__input {
				padding-right: 60px;
			}
			.sui-button {
				font-size: $password-font-size-sm;
				line-height: $password-font-height-sm;
				position: absolute;
				min-width: unset;
				bottom: 3px;
				right: 3px;
				margin: 0;
				padding: 4px;

				.sui-button__icon {
					font-size: $password-font-size-lg;
					margin: 0;
				}

				@include modifier(sm) {
					font-size: $password-font-size-xs;
					line-height: $password-font-height-xs;
				}
			}

			&.sui-input--sm {
				.sui-button {
					padding: 0px 8px;
					.sui-button__icon {
						font-size: $password-font-size-md;
					}
				}
			}

			&.sui-password--icon {
				.sui-button {
					padding: 0;
				}
				.sui-input__field {
					padding-right: 40px;
				}
			}
		}
	}
}
