@use "sass:map";

@use "../../../_utils/utils" as *;

/// Build Popover
/// This function creates styles for the element
/// main wrapper.
/// @type block
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-popover($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		// Block wrapper.
		@include block($block) {
			@include element(popover) {
				// display: none;
				padding: $spacing-md;
				border-radius: 0px 0px $border-radius-sm $border-radius-sm;
				border-right: 2px solid
					var(--primary-blue-base-500059-ff, #0059ff);
				border-bottom: 2px solid
					var(--primary-blue-base-500059-ff, #0059ff);
				border-left: 2px solid
					var(--primary-blue-base-500059-ff, #0059ff);
			}

			@include element(dropdown) {
				@include modifier(empty) {
					font-size: $font-size-xs;
					padding: $spacing-lg;
					border-radius: $border-radius-sm;
					background: $color-primary-90;
				}
			}
		}
	}
}
