@use "sass:math";
@use "../../../_utils/utils" as *;

/// Build Summary box header
///
/// @type block
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-header($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		@include block($block) {
			@include element(header) {
				align-items: center;
				display: flex;
				justify-content: space-between;
			}

			@include element(header-info) {
				align-items: center;
				display: flex;
				gap: $spacing-md;

				h2 {
					margin: 0;
				}
			}
		}
	}
}
