@use "sass:math";
@use "../../../_utils/utils" as *;

/// Build Summary box body
///
/// @type block
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-body($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		@include block($block) {
			@include element(body-content) {
				align-items: center;
				background-color: $color-grey-02;
				border-radius: $border-radius-md;
				display: flex;
				justify-content: center;
				flex-direction: column;
				text-align: center;
				gap: $spacing-lg;
				height: 100%;
				padding: $spacing-lg;

				* {
					margin: 0;
				}
			}
		}
	}

	// DIR: Left to right.
	// THEME: Dark.
	@include sui-class($rtl: false, $theme: dark) {
		@include block($block) {
			@include element(body-content) {
				border: $border-width-sm solid $color-base-black;
				background-color: $color-base-white;
			}
		}
	}
}
