@use "sass:math";
@use "../../../_utils/utils" as *;

/// Build Summary box list
///
/// @type block
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-list($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		@include block($block) {
			@include element(list) {
				display: flex;
				flex-direction: column;
				height: 100%;

				@include media(max-width, md) {
					margin-top: -#{$spacing-md};
				}
			}

			@include element(list-item) {
				align-items: center;
				background-color: $color-grey-02;
				border-radius: $border-radius-md;
				display: flex;
				justify-content: space-between;
				margin-bottom: $spacing-lg;
				padding: $spacing-lg;
				position: relative;
				margin-right: 0;
				margin-left: 0;
				flex-direction: row;

				@include media(max-width, md) {
					margin-bottom: $spacing-md;
				}

				@include modifier(hover) {
					// not working
					.sui-summary-box__list-item-info > a {
						color: $color-primary-50;
					}
				}

				&:after {
					content: "";
					position: absolute;
					inset: -#{$border-width-sm};
					pointer-events: none;
					border-radius: inherit;
					z-index: -1;
				}

				@include modifier(focus) {
					&:after {
						border: $border-width-sm solid $color-grey-60;
					}
				}
			}

			@include element(list-item-info) {
				align-items: center;
				color: $color-grey-90;
				display: flex;
				font-weight: $font-weight-md;
				font-size: $font-size-md;
				gap: $spacing-md;

				a {
					color: $color-grey-90;
				}
			}

			@include element(list-item-status) {
				display: inline-block;
				height: $summary-size-height-md;
			}
		}
	}

	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: dark) {
		@include block($block) {
			@include element(list-item) {
				background-color: $color-base-white;
				border: $border-width-sm solid $color-base-black;
			}
		}
	}
}
