@use "../../../_utils/utils" as *;

/// Edit Focus State
///
/// @type modifier
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin edit-states($block) {
    // DIR: Left to right.
    // THEME: None.
    @include sui-class($rtl: false, $theme: null) {
        @include block($block) {
            @include modifier(neutral) {
                border-left: solid 4px var(--neutral-grey-dark-60737373, #737373);
            }
            @include modifier(informative) {
                border-left: solid 4px var(--primary-blue-base-50286-ef-1, #286EF1);
            }
            @include modifier(success) {
                border-left: solid 4px var(--status-green-success-base-5018-bb-4-b, #18BB4B);
            }
            @include modifier(warning) {
                border-left: solid 4px var(--status-yellow-warning-base-50-ffcc-20, #FFCC20);
            }
            @include modifier(critical) {
                border-left: solid 4px var(--status-red-error-base-50-f-45-c-59, #F45C59);
            }
        }
    }
}
