@use "sass:map";

@use "../../../_utils/utils" as *;

/// Build Tag Label
///
/// @type block
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-label($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		// Block wrapper.
		@include block($block) {
			@include element(label) {
				display: block;
			}
		}
	}
}
