@use "sass:map";

@use "../../../_utils/utils" as *;

/// Build day modifiers
///
/// @type block
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-day-modifier($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		// Block wrapper.
		@include block($block) {
			@include element(day) {
				@include modifier(filled) {
					span {
						color: $color-base-white;
						background: $color-primary-50;
					}
				}

				@include modifier(outlined) {
					span {
						border: $border-width-sm solid $color-primary-50;
						color: $color-primary-50;
					}
				}

				@include modifier(highlighted) {
					&:after {
						content: "";
						position: absolute;
						z-index: -1;
						width: 100%;
						height: 100%;
						left: 0;
						background: $color-primary-05;
					}
				}

				@include modifier(start, end) {
					&:after {
						width: 90%;
					}
				}

				@include modifier(start) {
					&:after {
						right: 0;
						left: auto;
						border-radius: $datepicker-border-radius-lg 0 0
							$datepicker-border-radius-lg;
					}
				}

				@include modifier(end) {
					&:after {
						border-radius: 0 $datepicker-border-radius-lg
							$datepicker-border-radius-lg 0;
					}
				}
			}
		}
	}

	// DIR: Right to left.
	// THEME: None.
	@include sui-class($rtl: true, $theme: null) {
		// Block wrapper.
		@include block($block) {
			@include element(day) {
				@include modifier(start) {
					&:after {
						right: auto;
						left: 0;
						border-radius: 0 $datepicker-border-radius-lg
							$datepicker-border-radius-lg 0;
					}
				}

				@include modifier(end) {
					&:after {
						right: 0;
						left: auto;
						border-radius: $datepicker-border-radius-lg 0 0
							$datepicker-border-radius-lg;
					}
				}
			}
		}
	}

	// DIR: Left to right.
	// THEME: Dark.
	@include sui-class($rtl: false, $theme: dark) {
		// Block wrapper.
		@include block($block) {
			@include element(day) {
				@include modifier(filled) {
					span {
						color: $color-base-white;
						background: $color-base-black;
					}
				}

				@include modifier(outlined) {
					span {
						border: $border-width-sm solid $color-base-black;
						color: $color-base-black;
					}
				}

				@include modifier(highlighted) {
					&:after {
						background: transparent;
						border-top: $border-width-sm solid $color-base-black;
						border-bottom: $border-width-sm solid $color-base-black;
						top: -$border-width-sm;
					}
				}
			}
		}
	}
}
