@use "sass:math";
@use "../../../_utils/utils" as *;

/// Center
///
/// @type modifier
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin edit-center($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		@include block($block) {
			@include element(body) {
				@include modifier(center) {
					justify-content: center;

					.sui-#{$block}__body-content {
						flex: unset;
					}
				}
			}
		}
	}
}
