@use "sass:math";
@use "../../../_utils/utils" as *;

/// Variations
///
/// @type modifier
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin edit-variation($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		@include block($block) {
			@include modifier(success) {
				background-color: $color-extended-success-70;
			}
			@include modifier(informative) {
				background-color: $color-primary-80;
			}
			@include modifier(warning) {
				background-color: $color-extended-warning-70;
			}
			@include modifier(critical) {
				background-color: $color-extended-error-70;
			}
			@include modifier(plugin-upsell) {
				background-color: $color-primary-40;
			}
			@include modifier(hub-upsell) {
				background-color: $color-primary-50;
			}
		}
	}

	// DIR: Left to right.
	// THEME: Dark.
	@include sui-class($rtl: false, $theme: dark) {
		@include block($block) {
			background-color: $color-extended-neutral-100;

			@include modifier(plugin-upsell, hub-upsell) {
				background-color: $color-extended-neutral-0;
			}
		}
	}
}
