@use "./_elements/elements" as sui-template-card--element;
// @use "./_modifiers/modifiers" as sui-template-card--modifier;
// @use "./_states/states" as sui-template-card--state;

@include sui-template-card--element.build-container(template-card);
// @include sui-template-card--element.build-label(template-card);
// @include sui-template-card--element.build-dismiss(template-card);

// @include sui-template-card--modifier.build-color(template-card);
// @include sui-template-card--modifier.build-size(template-card);
// @include sui-template-card--modifier.build-style(template-card);

// @include sui-template-card--state.build-disabled(template-card);
