@use "../../../_utils/utils" as *;

/// Build size
///
/// @type modifier
/// @author WPMU DEV
///
/// @param {String} $block-name - Main block name
@mixin modify-size($block) {
	@include sui-class($rtl: false, $theme: null) {
		@include block($block) {
			@include modifier(sm) {
				@include modifies-element(control) {
					font-size: $font-size-2xs;
					line-height: $font-height-2xs;
					padding-top: $spacing-md;
					padding-bottom: $spacing-md;
					padding-left: $spacing-default;
					padding-right: $spacing-2xl;
					min-height: $select-size-md;
				}

				@include modifies-element(input) {
					input {
						font-size: $font-size-2xs;
						line-height: $font-height-2xs;
						min-height: $select-size-md;
					}
				}

				.sui-dropdown__menu-item {
					font-size: $font-size-2xs;
					line-height: $font-height-2xs;
				}

				&.sui-#{$block}--multiselect {
					.sui-#{$block}__control {
						padding-right: $select-spacing-3xl;
						line-height: $font-height-sm;
					}
				}

				.sui-#{$block}--multiselect {
					.sui-#{$block}__icon--close-alt {
						right: $select-spacing-xl;
					}
				}

				.sui-#{$block}__dropdown--option {
					font-size: $select-font-size-sm;
					padding: $spacing-sm $spacing-default;
				}

				&.sui-#{$block}--searchable {
					.sui-#{$block}__control {
						padding: 0;
					}
				}

				.sui-#{$block}__dropdown--option {
					.sui-#{$block}__icon {
						padding-right: $select-spacing-2xs;
					}
				}

				.sui-#{$block}__icon--search {
					font-size: $font-size-md;
					left: $select-spacing-md;
				}

				@include modifies-element(search) {
					.sui-#{$block}__icon {
						font-size: $font-size-xs;
						left: $select-spacing-lg;
						bottom: $select-spacing-sm;
					}
				}

				.sui-checkbox {
					font-size: $select-font-size-sm;
					line-height: $font-height-2xs;
					.sui-checkbox__box {
						width: $select-size-sm;
						height: $select-size-sm;
					}
				}

				.sui-dropdown__popover--#{$block}-checkbox {
					.sui-dropdown__menu-item {
						padding: $spacing-sm $spacing-lg;
					}
				}
			}
		}
	}

	@include sui-class($rtl: true, $theme: null) {
		@include block($block) {
			@include modifier(sm) {
				@include modifies-element(control) {
					padding-right: $spacing-default;
					padding-left: $spacing-2xl;
				}

				&.sui-#{$block}--multiselect {
					.sui-#{$block}__control {
						padding-left: $select-spacing-3xl;
					}
				}

				&.sui-#{$block}--searchable {
					@include modifies-element(control) {
						padding: 0;
					}
				}

				.sui-#{$block}--multiselect {
					.sui-#{$block}__icon--close-alt {
						right: unset;
						left: $select-spacing-xl;
					}
				}

				.sui-#{$block}__dropdown--option {
					.sui-#{$block}__icon {
						padding-left: $select-spacing-2xs;
					}
				}

				.sui-#{$block}__icon--search {
					left: unset;
					right: $select-spacing-md;
				}

				@include modifies-element(search) {
					.sui-#{$block}__icon {
						left: unset;
						right: $select-spacing-lg;
					}
				}
			}
		}
	}
}
