@use "sass:map";

@use "../../../_utils/utils" as *;

/// State: Hover
///
/// @type modifier
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin edit-hover($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		@include block($block) {
			@include modifier(hover) {
				@include modifies-element(switch) {
					background: $color-extended-neutral-70;
				}
			}

			@include modifier(checked-hover) {
				@include modifies-element(switch) {
					background: $color-primary-30;
				}
			}
		}
	}
}
