@use "sass:map";

@use "../../../_utils/utils" as *;

/// Build Nav
///
/// @type block
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-nav($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		// Block wrapper.
		@include block($block) {
			@include element(nav) {
				position: relative;
				border-bottom: $tabs-border-width solid $tabs-border-color;
			}

			@include element(navitems) {
				display: flex;
				align-items: center;
				overflow: hidden;
				scroll-behavior: smooth;

				&::-webkit-scrollbar {
					display: none;
				}
			}
		}
	}

	// DIR: Left to right.
	// THEME: Dark.
	@include sui-class($rtl: false, $theme: dark) {
		// Block wrapper.
		@include block($block) {
			@include element(nav) {
				border-color: $color-extended-neutral-0;
			}
		}
	}
}
