@use "sass:map";

@use "../../../_utils/utils" as *;

/// Build Nav item
///
/// @type block
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-nav-item($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		// Block wrapper.
		@include block($block) {
			@include element(nav-item) {
				display: flex;
				align-items: center;
				background-color: $color-base-white;
				border: none;
				border-bottom: $tabs-navitem-border-width solid transparent;
				color: $tabs-navitem-font-color;
				font-weight: $tabs-navitem-font-weight;
				font-size: $tabs-navitem-font-size;
				line-height: $tabs-navitem-font-height;
				gap: $tabs-navitem-gap;
				padding: $tabs-navitem-spacing-vertical $tabs-navitem-spacing-horizontal;
				white-space: nowrap;
				cursor: pointer;
				outline: none;
				position: relative;
				transition: 0.3s all ease;

				&:after {
					content: "";
					position: absolute;
					inset: 0;
					bottom: -#{$tabs-navitem-border-width};
					pointer-events: none;
				}
			}
		}
	}

	// DIR: Left to right.
	// THEME: Dark.
	@include sui-class($rtl: false, $theme: dark) {
		// Block wrapper.
		@include block($block) {
			@include element(nav-item) {
				color: $color-base-black;

				svg {
					color: $color-base-black;
				}
			}
		}
	}
}
