@use "sass:math";
@use "../../../_utils/utils" as *;

/// Build item
///
/// @type block
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-item($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		@include block($block) {
			@include element(item) {
				align-items: center;
				border-bottom: $border-width-sm solid $color-grey-10;
				display: flex;
				justify-content: space-between;
				padding: $fieldlist-spacing-md $spacing-xl;

				@include modifier(no-toggle) {
					display: block;
				}

				&:last-child {
					border-bottom: 0;
				}
			}

			@include element(item-label) {
				font-weight: $font-weight-md;
			}
		}
	}

	// DIR: Left to right.
	// THEME: dark.
	@include sui-class($rtl: false, $theme: dark) {
		@include block($block) {
			@include element(item) {
				border-color: $color-base-black;
			}
		}
	}
}
