@use "sass:map";

@use "../../../_utils/utils" as *;

/// Select Disabled
/// This function creates styles for select disabled state
///
/// @type state
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin select-disabled($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		@include block($block) {
			@include modifier(disabled) {
				pointer-events: none;
				color: $color-grey-30;

				@include modifies-element(control) {
					border: none;
					background: $color-grey-05;
				}

				@include modifies-element(selection) {
					background: $color-grey-05;
					color: $color-grey-30;
					pointer-events: none;
					border: none;
				}

				@include modifies-element(input) {
					color: $color-grey-30;
				}

				@include modifies-element(selected-options) {
					background: $color-grey-30;
					color: $color-grey-05;

					.sui-#{$block}__icon {
						color: $color-grey-05;
					}
				}

				@include modifies-element(icon) {
					color: $color-grey-30;
					pointer-events: none;
				}
			}
		}
	}
}
