@use "sass:math";
@use "../../../_utils/utils" as *;

/// Build Empty State logo
///
/// @type element
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-logo($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		@include block($block) {
			@include element(logo) {
				margin-bottom: $emptystate-spacing-md;
				line-height: 0;
			}
		}
	}
}
