
@use "sass:math";
@use "../../../_utils/utils" as *;

/// Build button
///
/// @type item
/// @author WPMU DEV
///
/// @param {String} $item - Main item name
@mixin build-button($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		@include block($block) {
			@include element(dropdown) {
				@include media(min-width, lg) {
					display: none;
				}

				@include modifier(button) {
					justify-content: space-between;
					color: $color-extended-neutral-10;
					background: $color-extended-neutral-100;
					border-radius: $border-radius-md;
					border: $border-width-sm solid $color-extended-neutral-80;

					&.sui-button--focus {
						box-shadow: 0px 0px 0px $border-width-md $color-primary-50;
					}
				}
			}
		}
	}
}
