@use "sass:map";

@use "../../../_utils/utils" as *;

/// Edit Focus
///
/// @type state
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin edit-focus($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		@include block($block) {
			outline-color: $color-primary-50;

			@include modifier(focus) {
				&.sui-#{$block} {
					color: $color-primary-50;
				}

				&.sui-#{$block}--secondary {
					color: $color-base-white;
				}
			}

			@include modifier(secondary) {
				outline-color: $color-base-white;
			}
		}
	}

	// DIR: Left to right.
	// THEME: Dark.
	@include sui-class($rtl: false, $theme: dark) {
		@include block($block) {
			outline-color: $color-base-black;
			color: $color-base-black;

			@include modifier(secondary) {
				color: $color-base-white;
				outline-color: $color-base-white;
			}
		}
	}
}
