@use "../../../_utils/utils" as *;

/// Accessibility
///
/// @type modifier
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin edit-aria($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		@include block($block) {
			@include modifier(hidden-label) {
				@include modifies-element(box) {
					margin-right: 0;
				}
			}
		}
	}
}
