@use "sass:math";
@use "../../../_utils/utils" as *;

/// Build Hover
///
/// @type modifier
/// @author WPMU DEV
///
/// @param {String} $item - Main item name
@mixin build-hover($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		@include block($block) {
			@include element(item) {
				box-shadow: none;

				@include modifier(hover) {
					background: $color-black-a05;
				}
			}
		}
	}

	// DIR: Left to right.
	// THEME: Dark.
	@include sui-class($rtl: false, $theme: dark) {
		@include block($block) {
			@include element(item) {
				@include modifier(hover) {
					background: $color-base-white;

					.sui-#{$block}__item-info {
						color: $color-base-black;
					}
				}
			}
		}
	}
}
