@use "sass:math";
@use "../../../_utils/utils" as *;

/// Active State
///
/// @type modifier
/// @author WPMU DEV
///
/// @param {String} $item - Main item name
@mixin build-active($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		@include block($block) {
			@include element(item) {
				@include modifier(active) {
					background: $color-primary-90;

					.sui-#{$block}__item-info {
						color: $color-primary-50;
					}
				}
			}
		}
	}

	// DIR: Left to right.
	// THEME: Dark.
	@include sui-class($rtl: false, $theme: dark) {
		@include block($block) {
			@include element(item) {
				@include modifier(active) {
					background: $color-extended-neutral-100;

					.sui-#{$block}__item-info {
						color: $color-extended-neutral-0;
					}

					&:after {
						border: $border-width-sm solid $color-extended-neutral-0;
					}
				}
			}

			@include element(dropdown) {
				@include modifier(list) {
					.sui-#{$block}__item--active {
						border: none;
						background: $color-extended-neutral-0;

						.sui-#{$block}__item-info {
							color: $color-extended-neutral-100;
						}
					}
				}
			}
		}
	}
}
