@use "../../../_utils/utils" as *;

/// Build Label
/// This function creates styles for the label element
///
/// @type element
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-label($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		@include block($block) {
			@include element(label) {
				display: block;
				margin: 0 0 $form-field-label-margin;
				font-weight: $form-field-label-font-weight;
				font-size: $form-field-label-font-size-md;
				line-height: $form-field-label-font-height-md;
				letter-spacing: $form-field-label-font-spacing-md;
			}
		}
	}

	// DIR: Left to right.
	// THEME: Dark.
	@include sui-class($rtl: false, $theme: 'dark') {
		@include block($block) {
			@include element(label) {
				color: $color-extended-neutral-0;
			}
		}
	}
}
