@use "./_table-elements/elements" as sui-table--element;
@use "./_table-modifiers/modifiers" as sui-table--modifier;

@include sui-table--element.build-container(table);
@include sui-table--element.build-table-head(table);
@include sui-table--element.build-table-body(table);
@include sui-table--element.build-table-row(table);
@include sui-table--element.build-table-cell(table);
@include sui-table--element.build-table-toolbar(table);

@include sui-table--modifier.build-hover(table);
@include sui-table--modifier.build-selection(table);
@include sui-table--modifier.build-status(table);
