@use "sass:map";

@import "./variables";
@import "./breakpoints";

/// Layout
/// @type block
.sui-layout {
	margin-left: -10px;

	@include media(min-width, sm) {
		margin-left: -20px;
	}

	/// Layout Justify.
	/// @type modifier
	/// Top spacing to prevent content from starting at top edge of the window.
	&--justify {
		margin-top: map.get($spacing, sm);

		@include media(min-width, md) {
			margin-top: map.get($spacing, md);
		}

		@include media(min-width, lg) {
			margin-top: map.get($spacing, lg);
		}
	}

	/// Layout Spacing.
	/// @type modifier
	/// Set padding spacing to left and right of the layout.
	&--spacing {
		padding: 0 map.get($spacing, sm);

		@include media(min-width, md) {
			padding: 0 map.get($spacing, md);
		}

		@include media(min-width, lg) {
			padding: 0 map.get($spacing, lg);
		}
	}

	/// Layout Content.
	/// @type element
	/// Wraps content in a 1600px maximum width container.
	&__content {
		max-width: map.get($breakpoints, xl);
		margin-left: auto;
		margin-right: auto;
	}
}
