@use "sass:map";
@use "sass:math";

@import "./variables";
@import "./breakpoints";

.sui-row {
	margin-bottom: map.get($spacing, sm);

	@include media(min-width, md) {
		margin-bottom: map.get($spacing, md);
	}

	@include media(min-width, lg) {
		margin-bottom: map.get($spacing, lg);
	}

	&:last-child {
		margin-bottom: 0;
	}

	/// @modifier Inline.
	&--inline {
		display: flex;
		flex-flow: row wrap;
		margin-left: -#{math.div(map.get($spacing, sm), 2)};
		margin-right: -#{math.div(map.get($spacing, sm), 2)};
	}

	@each $bp-label, $bp-value in $breakpoints {
		&-#{$bp-label}--inline {
			@include media(min-width, $bp-label) {
				display: flex;
				flex-flow: row wrap;
				margin-left: -#{math.div(map.get($spacing, $bp-label), 2)};
				margin-right: -#{math.div(map.get($spacing, $bp-label), 2)};
			}
		}

		&-#{$bp-label}--stacked {
			@include media(min-width, $bp-label) {
				display: block;
				margin-left: 0;
				margin-right: 0;
			}
		}
	}
}
