@use "../../../_utils/utils" as *;

/// Edit Focus
///
/// @type modifier
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin edit-focus($block) {
    // DIR: Left to right.
    // THEME: None.
    @include sui-class($rtl: false, $theme: null) {
        @include block($block) {
            @include element(info) {
                @include modifier(disabled) {
                    opacity: 0.5;
                    pointer-events: none;
                    user-select: none;
                }
            }
        }
    }
}
