@use "sass:math";
@use "../../../_utils/utils" as *;

/// Build contained
///
/// @type modifier
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin edit-contained($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		@include block($block) {
			@include modifier(contained) {
				align-items: center;
				display: flex;
				justify-content: center;
				min-height: 500px;
			}
		}
	}
}
