@use "sass:math";
@use "../../../_utils/utils" as *;

/// Build size
///
/// @type modifier
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin edit-size($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		@include block($block) {
			@include modifier(lg) {
				@include modifies-element(loader) {
					width: $spinner-size-width-lg;
					height: $spinner-size-height-lg;
				}
			}
		}
	}
}
