@use "sass:math";
@use "../../../_utils/utils" as *;

/// Build background
///
/// @type block
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-bg($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		@include block($block) {
			@include element(bg) {
				color: $banner-bg-color;
				display: inline;
				overflow: hidden;
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				right: $banner-bg-position-md;
				left: auto;
				pointer-events: none;
				z-index: -1;

				@include media(max-width, sm) {
					right: $banner-bg-position-sm;
				}
			}

			@include element(bg-icon) {
				height: $banner-size-md;
				width: $banner-size-md;

				@include media(max-width, sm) {
					width: $banner-size-sm;
					height: $banner-size-sm;
					padding: 0;
				}
			}
		}
	}

	// DIR: Right to left.
	// THEME: None.
	@include sui-class($rtl: true, $theme: null) {
		@include block($block) {
			@include element(bg) {
				left: $banner-bg-position-md;
				right: auto;

				@include media(max-width, sm) {
					left: $banner-bg-position-sm;
					right: auto; 
				}
			}
		}
	}
}
