@use "sass:math";
@use "../../../_utils/utils" as *;

/// Build description
///
/// @type block
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-description($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		@include block($block) {
			@include element(description) {
				color: $color-base-white;
				margin-top: $spacing-lg;
				max-width: $banner-size-lg;
			}
		}
	}
}
