@use "sass:map";

@use "../../../_utils/utils" as *;
/// Build Input
/// This function creates styles for the element
/// main wrapper.
/// @type block
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-input($block) {
    // DIR: Left to right.
    // THEME: None.
    @include sui-class($rtl: false, $theme: null) {
        // Block wrapper.
        @include block($block) {
            @include element(color) {
                position: relative;
                max-width: 240px;
            }

            .sui-input__input {
                padding: 8px 40px;
            }

            @include element(input-preview, clear, button) {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
            }

            @include element(input-preview) {
                align-items: center;
                display: inline-flex;
                gap: 8px;
                left: 8px;
                cursor: pointer;
            }

            @include element(input-preview-icon) {
                border-radius: 50px;
                height: 24px;
                width: 24px;
                background-position: center;
                background-size: 10px;
                border: 1px solid rgba(26, 26, 26, 0.1);
            }

            @include element(input-preview-code) {
                font: 400 15px/24px $font-family-default
            }

            @include element(clear) {
                cursor: pointer;
                color: #aaa;
                right: 8px;

                &:hover {
                    color: #737373
                }
            }

            @include element(button) {
                right: 8px;
            }
        }
    }

    // DIR: Left to right.
    // THEME: Dark.
    @include sui-class($rtl: false, $theme: dark) {
        // Block wrapper.
        @include block($block) {
            color: $color-extended-neutral-0;
            @include element(input) {
                box-shadow: 0 0 0 1px $color-extended-neutral-0;
            }

            @include element(input-preview-icon) {
                border: 1px solid $color-extended-neutral-0;
            }

            @include element(input-close) {
                color: $color-extended-neutral-0;
            }
        }
    }
}
