@use "sass:map";

@use "../../../_utils/utils" as *;

/// Build Copy Button
/// This function creates styles for the element
/// main wrapper.
/// @type block
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-header($block) {
    // DIR: Left to right.
    // THEME: None.
    @include sui-class($rtl: false, $theme: null) {
        // Block wrapper.
        @include block($block) {
            @include element(header) {
                align-items: center;
                background: var(--neutral-grey-light-90-f-2-f-2-f-2, #F2F2F2);
                border-radius: 10px 10px 0 0;
                border-bottom: 1px solid var(--neutral-grey-light-80-e-6-e-6-e-6, #E6E6E6);
                display: flex;
                justify-content: space-between;
                padding: 4px 16px;
            }

            @include element(header-title) {
                color: var(--neutral-grey-dark-101-a-1-a-1-a, #1A1A1A);
                display: inline-block;
                font-size: 13px;
                font-style: normal;
                font-weight: 500;
                line-height: 20px;
                margin: 4px 0;
            }
        }
    }
}
