@use "./_elements/elements" as sui-toggle--element;
@use "./_modifiers/modifiers" as sui-toggle--modifier;
@use "./_states/states" as sui-toggle--state;

@include sui-toggle--element.build-container(toggle);
@include sui-toggle--element.build-switch(toggle);
@include sui-toggle--element.build-label(toggle);

@include sui-toggle--modifier.edit-aria(toggle);

@include sui-toggle--state.edit-checked(toggle);
@include sui-toggle--state.edit-hover(toggle);
@include sui-toggle--state.edit-focus(toggle);
@include sui-toggle--state.edit-disabled(toggle);
