@use "sass:math";
@use "../../../_utils/utils" as *;

/// Build Container
///
/// @type block
/// @author WPMU DEV
///
/// @param {String} $block - Main block name
@mixin build-container($block) {
	// DIR: Left to right.
	// THEME: None.
	@include sui-class($rtl: false, $theme: null) {
		@include block($block) {
			margin: 0;
			display: flex;
			flex-direction: column;
			gap: $spacing-md;

			@include element(item) {
				position: relative;
				display: flex;
				gap: $spacing-md;
				margin: 0;

				&:before {
					content: "";
					position: absolute;
					top: -#{$spacing-2xs};
					left: 0;
					bottom: -#{$spacing-2xs};
					width: $spacing-sm;
					background-color: transparent;
				}

				@include modifier(action) {
					cursor: pointer;
				}

				@include modifier(hover) {
					background: $color-extended-neutral-95;
				}

				@include modifier(focus) {
					outline: $spacing-xs solid $color-primary-50;
					outline-offset: -#{$spacing-xs};
				}

				@include modifier(pro) {
					background: $color-extended-neutral-95;
					pointer-events: none;
				}

				@include modifier("pro-tag") {
					display: flex;
					align-items: center;
					margin-left: auto;
				}

				@include modifier(neutral) {
					&:before {
						background-color: $color-extended-neutral-50;
					}
				}

				@include modifier(info) {
					&:before {
						background-color: $color-primary-50;
					}
				}

				@include modifier(warning) {
					&:before {
						background-color: $color-extended-warning-50;
					}
				}

				@include modifier(success) {
					&:before {
						background-color: $color-extended-success-50;
					}
				}

				@include modifier(critical) {
					&:before {
						background-color: $color-extended-error-50;
					}
				}
			}

			@include modifier(unordered, ordered) {
				list-style: none;
			}

			@include modifier(overflow) {
				overflow: hidden;
			}

			@include modifier(unstyled) {
				list-style: revert;
			}

			@include modifier(border) {
				border-radius: $border-radius-xl;

				@include modifies-element(item) {
					&:first-child {
						border-top-left-radius: inherit;
						border-top-right-radius: inherit;
					}
					&:last-child {
						border-bottom-left-radius: inherit;
						border-bottom-right-radius: inherit;
					}
				}
			}

			@include modifier(border, flush) {
				gap: 0;
				border: $border-width-sm solid $color-extended-neutral-80;

				@include modifies-element(item) {
					padding: 20px $spacing-2xl;
					border-bottom: $border-width-sm solid $color-extended-neutral-80;

					&:last-child {
						border-bottom: none;
					}
				}
			}

			@include modifier(flush) {
				border-left: 0;
				border-right: 0;
			}
		}
	}

	// DIR: Left to right.
	// THEME: Dark.
	@include sui-class($rtl: false, $theme: dark) {
		@include block($block) {
		}
	}
}
